priv/testflows/b1501de32c769cf2/flows.json
[{"id":"b1501de32c769cf2","type":"tab","label":"[switch] raise exception if JSONata has exception","disabled":false,"info":"This test case covers the error if the property to be compared is a JSONata stanza and it raises an exception.\n\nThen no message is set and an exception is raised.","env":[]},{"id":"b179a3729bc7c881","type":"group","z":"b1501de32c769cf2","name":"no catch node to capture exception, exception pushed to debug panel","style":{"label":true},"nodes":["acd59574afa50c69","e1619782ce85c87e","8ad67238a56a315e","0302ea142e5c8cab","02f8693eb7c07248","68c4b79eb9859c82"],"x":101,"y":389.5,"w":675,"h":284},{"id":"fcc18875b3ace1c8","type":"group","z":"b1501de32c769cf2","name":"catch node captures exception from switch","style":{"label":true},"nodes":["b5e3a374eeb4b567","960b15d20cb7a574","2a8bbbc24db0f002","d8fe98dc98f31235","84b7e5e5e4cde7a6","25419f6581880e81","b41fb23447ec3fec","191245390479750d"],"x":91,"y":787,"w":710,"h":362.5},{"id":"acd59574afa50c69","type":"inject","z":"b1501de32c769cf2","g":"b179a3729bc7c881","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":207,"y":524,"wires":[["e1619782ce85c87e"]]},{"id":"e1619782ce85c87e","type":"switch","z":"b1501de32c769cf2","g":"b179a3729bc7c881","name":"","property":"$fromMillis()","propertyType":"jsonata","rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":433,"y":524,"wires":[["8ad67238a56a315e"],["02f8693eb7c07248"],["0302ea142e5c8cab"]]},{"id":"8ad67238a56a315e","type":"ut-assert-failure","z":"b1501de32c769cf2","g":"b179a3729bc7c881","name":"","x":680,"y":430.5,"wires":[]},{"id":"0302ea142e5c8cab","type":"ut-assert-failure","z":"b1501de32c769cf2","g":"b179a3729bc7c881","name":"","x":680,"y":570.5,"wires":[]},{"id":"02f8693eb7c07248","type":"ut-assert-failure","z":"b1501de32c769cf2","g":"b179a3729bc7c881","name":"","x":680,"y":500.5,"wires":[]},{"id":"68c4b79eb9859c82","type":"ut-assert-debug","z":"b1501de32c769cf2","g":"b179a3729bc7c881","name":"","nodeid":"e1619782ce85c87e","msgtype":"error","inverse":false,"x":416,"y":632.5,"wires":[]},{"id":"b5e3a374eeb4b567","type":"inject","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":197,"y":1007,"wires":[["960b15d20cb7a574"]]},{"id":"960b15d20cb7a574","type":"switch","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","property":"$fromMillis()","propertyType":"jsonata","rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":435,"y":1006,"wires":[["2a8bbbc24db0f002"],["84b7e5e5e4cde7a6"],["d8fe98dc98f31235"]]},{"id":"2a8bbbc24db0f002","type":"ut-assert-failure","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","x":705,"y":904.1666666666666,"wires":[]},{"id":"d8fe98dc98f31235","type":"ut-assert-failure","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","x":705,"y":1056.5,"wires":[]},{"id":"84b7e5e5e4cde7a6","type":"ut-assert-failure","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","x":705,"y":980.3333333333333,"wires":[]},{"id":"25419f6581880e81","type":"ut-assert-debug","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","nodeid":"960b15d20cb7a574","msgtype":"error","inverse":true,"x":433,"y":1108.5,"wires":[]},{"id":"b41fb23447ec3fec","type":"catch","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","scope":["960b15d20cb7a574"],"uncaught":false,"x":391,"y":925,"wires":[["191245390479750d"]]},{"id":"191245390479750d","type":"ut-assert-success","z":"b1501de32c769cf2","g":"fcc18875b3ace1c8","name":"","x":705,"y":828,"wires":[]}]