priv/testflows/7b77600dcf78933f/flows.json
[{"id":"7b77600dcf78933f","type":"tab","label":"[.core] attribute parsing","disabled":false,"info":"## Attribute parsing of the payloads\n\n- assert values shoud accept dot.dot.dot values\n\n- index values should also be suppprted","env":[]},{"id":"c39913179de3967c","type":"inject","z":"7b77600dcf78933f","name":"hashmap","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key1\":{\"key2\":{\"key3\":\"this is the value\"}}}","payloadType":"json","x":261,"y":364,"wires":[["db24be2a470caa03","f1ac4377942accc2","850e2f089c134120"]]},{"id":"db24be2a470caa03","type":"ut-assert-values","z":"7b77600dcf78933f","name":"","rules":[{"p":"payload.key1.key2.key3","pt":"msg","t":"set"}],"x":592,"y":439.5,"wires":[[]]},{"id":"f1ac4377942accc2","type":"ut-assert-values","z":"7b77600dcf78933f","name":"","rules":[{"p":"payload.key1.key2.key3","pt":"msg","t":"eql","to":"this is the value","tot":"str"}],"x":582,"y":497,"wires":[[]]},{"id":"850e2f089c134120","type":"ut-assert-values","z":"7b77600dcf78933f","name":"","rules":[{"p":"payload.key1.key2.key3","pt":"msg","t":"mth","to":"value","tot":"str"}],"x":540,"y":570,"wires":[[]]},{"id":"4d3f263977d45c7c","type":"inject","z":"7b77600dcf78933f","name":"array","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ [ [ [ [ \"dd\" ] ] ] ] ]","payloadType":"json","x":536,"y":248,"wires":[["5f22b7dad61c1b31"]]},{"id":"5f22b7dad61c1b31","type":"ut-assert-values","z":"7b77600dcf78933f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.0.0.0.0.0","pt":"msg","to":"dd","tot":"str"}],"x":760,"y":295,"wires":[[]]}]