priv/testflows/6ff45e2a0ce77393/flows.json
[{"id":"6ff45e2a0ce77393","type":"tab","label":"[debug] (F) only debug specific property","disabled":false,"info":"","env":[{"name":"ERED_PENDING","type":"bool","value":"true"}]},{"id":"fb8dfcf01789e02d","type":"inject","z":"6ff45e2a0ce77393","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"attribute","v":"should also not appear in the debug panel","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"should not appear in the debug panel","payload":"this is the payload","payloadType":"str","x":183,"y":555,"wires":[["933284b9d26c8f41"]]},{"id":"933284b9d26c8f41","type":"debug","z":"6ff45e2a0ce77393","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":517,"y":498,"wires":[]},{"id":"5a993abcb22ffa2a","type":"comment","z":"6ff45e2a0ce77393","name":"Can't test this at the moment. This is a placeholder.","info":"","x":288,"y":724,"wires":[]},{"id":"239bd159d9e84199","type":"inject","z":"6ff45e2a0ce77393","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":165,"y":776.5,"wires":[["4bc39646d0861993"]]},{"id":"4bc39646d0861993","type":"ut-assert-failure","z":"6ff45e2a0ce77393","name":"","x":331,"y":805.5,"wires":[]}]