priv/testflows/6ff45e2a0ce77393/flows.json
[{"id":"6ff45e2a0ce77393","type":"tab","label":"[debug] only debug specific property","disabled":false,"info":"## Support debugging individual properties\n\nNOTE: Cannot test the contents of the debug message, assume its correct.","env":[{"name":"ERED_PENDING","value":"false","type":"bool"}]},{"id":"fb8dfcf01789e02d","type":"inject","z":"6ff45e2a0ce77393","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"attribute","v":"should also not appear in the debug panel","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"should not appear in the debug panel","payload":"this is the payload","payloadType":"str","x":183,"y":555,"wires":[["933284b9d26c8f41"]]},{"id":"933284b9d26c8f41","type":"debug","z":"6ff45e2a0ce77393","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":517,"y":498,"wires":[]},{"id":"c01ed7eb622d8589","type":"ut-assert-debug","z":"6ff45e2a0ce77393","name":"","nodeid":"933284b9d26c8f41","msgtype":"normal","inverse":false,"x":635,"y":597.5,"wires":[]}]