priv/testflows/ef61f644d5436dbe/flows.json
[{"id":"ef61f644d5436dbe","type":"tab","label":"[csv] [decode] comma separated, parse numbers & msg per row","disabled":false,"info":"Data taken from https://github.com/yumi-ito/sample_data/blob/master/covid19_factors_prefecture.csv\n\nthis test also uses the \"skip one line\" option of the csv node.\n\nthis test basically tests the default settings of the inbuilt csv node.\n\n**Note**: When running this test, restart the flows else some of the assert false nodes will fail.","env":[{"name":"ERED_PENDING","value":"false","type":"bool"},{"name":"ERED_TIMEOUT","value":"3","type":"num"}]},{"id":"2dd8808f14eb2b58","type":"group","z":"ef61f644d5436dbe","name":"data contains 48 lines \\n including column-names line","style":{"label":true},"nodes":["b5f486864e9a4896","94701181e788bfe0","5169d1d23fa51add"],"x":956,"y":492,"w":212,"h":239.5},{"id":"98b8602ba532a8dc","type":"group","z":"ef61f644d5436dbe","name":"csv node also sets the parts and column attributes on the message","style":{"label":true},"nodes":["af646ec133436ca5","a9552a640639fd0e","4f170b77d4322fd9","7f235da57cc199bd","02232ae70f2be4e2","1554af3e5ee3b688","d7aa471a770bd480"],"x":962,"y":130,"w":751,"h":315},{"id":"0b5136845774ce9a","type":"inject","z":"ef61f644d5436dbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":476,"y":467,"wires":[["9902f04dbb14d14c"]]},{"id":"9902f04dbb14d14c","type":"template","z":"ef61f644d5436dbe","name":"csv data","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"都道府県,人口集中地区人口比率,昼夜間人口比率,就業者比率,飲食店・宿泊業就業者比率,旅行行動者率,外国人宿泊者比率,単独世帯比率,人口10万人当たり感染者率\n北海道,75.2,99.9,45.25,5.79,54.6,25.29,37.19,24.12\n青森県,46.63,99.8,47.85,4.65,40.6,8.01,30.03,2.14\n岩手県,31.88,99.8,49.73,4.81,46.1,4.74,30.13,0\n宮城県,64.05,100.3,46.19,5.1,59.7,4.21,34.28,4.06\n秋田県,34.96,99.8,47.2,4.76,49.2,3.76,27.83,1.63\n山形県,43.69,99.7,50.01,4.66,54.4,3.07,25.42,6.33\n福島県,42.62,100.2,48.18,4.73,53.6,1.71,30.28,4.4\n茨城県,38.16,97.5,48.02,4.34,54.6,4.24,28.31,6.05\n栃木県,45.19,99,48.83,5.05,53.5,3.15,28.79,3.91\n群馬県,39.91,99.8,48.96,5.02,54.8,3.92,28.56,7.79\n埼玉県,80.2,88.9,47.95,4.52,65.7,3.93,30.44,15.89\n千葉県,74.28,89.7,46.28,5.06,64.8,17.22,32.31,15.19\n東京都,98.37,117.8,43.35,6.35,69.2,36.48,47.23,46.34\n神奈川県,94.41,91.2,45.16,5.23,66.5,13.4,35.37,16.67\n新潟県,48.66,99.9,49.51,4.78,57.3,3.73,27.54,3.74\n富山県,37.79,99.8,50.53,4.2,60.9,8.53,26.09,21.62\n石川県,51.45,100.2,49.62,5.81,60.8,10.8,31.44,26.25\n福井県,43.98,100,50.74,4.85,55.6,2.17,26.32,15.76\n山梨県,31.24,99.2,48.96,6.16,55.3,24.63,29.47,9.06\n長野県,34.23,99.8,50.97,5.81,56.7,8.96,27.8,3.73\n岐阜県,38.21,96.1,50,5.2,56.8,21.67,25.75,7.81\n静岡県,59.89,99.8,50.41,5.32,54.8,8.73,28.49,2.27\n愛知県,77.54,101.4,49.03,5.15,64.5,17.22,33.44,6.99\n三重県,43.46,98.3,48.06,4.72,59.7,4.62,29.36,2.57\n滋賀県,49.68,96.5,47.98,4.33,63.1,10.01,28.41,7.22\n京都府,83.56,101.8,45.69,6.56,59.7,29.48,38.16,14.63\n大阪府,95.66,104.4,42.74,5.76,59.1,36.2,37.48,21.04\n兵庫県,77.67,95.7,44.15,5.16,59.4,9.87,32.66,12.96\n奈良県,64.77,90,43.31,4.43,62,17.32,25.65,6.87\n和歌山県,37.23,98.2,46.22,5.18,49.6,9.58,29.29,6.84\n鳥取県,36.98,99.9,48.99,4.9,49.4,6.42,29.4,0.71\n島根県,24.24,100.1,49.4,4.69,49.6,2.42,30.1,3.53\n岡山県,46.69,100,46.88,4.14,54.5,9.34,32.15,1.37\n広島県,64.47,100.2,47,4.54,54.2,10.82,34.43,5.96\n山口県,49.22,99.6,45.92,4.52,51.5,2.65,33.25,2.7\n徳島県,32.7,99.6,45.37,4.22,48.9,5.45,32.07,0.82\n香川県,32.56,100.2,46.36,4.5,50.4,13.79,31.48,2.91\n愛媛県,52.95,100,46.4,4.42,50.6,5.73,33.51,6.07\n高知県,43.52,99.9,44.41,5.37,42.7,3.01,36.32,10.48\n福岡県,72.39,100.1,44.18,5.22,58.4,20.94,37.29,16.8\n佐賀県,31.43,100.2,49.26,4.89,50.7,15.56,26.77,5.74\n長崎県,48.03,99.8,46.77,5.44,46.8,9.58,31.8,12.3\n熊本県,47.81,99.5,46.71,4.97,51.3,13.64,30.82,2.79\n大分県,47.23,99.9,46.83,5.33,53.8,18.46,33.1,5.24\n宮崎県,46.11,99.9,47.03,4.92,48.4,9.27,32.02,1.57\n鹿児島県,40.21,99.9,45.74,5.31,49.6,10.62,35.55,1.3\n沖縄県,67.79,100,41.13,8.05,37.8,23.17,32.29,9.81\n","output":"str","x":649,"y":612,"wires":[["40431b7fb52334a8","57c6138f9f3f988f"]]},{"id":"40431b7fb52334a8","type":"csv","z":"ef61f644d5436dbe","name":"","spec":"rfc","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":844,"y":612,"wires":[["94701181e788bfe0","5169d1d23fa51add","b5f486864e9a4896","af646ec133436ca5"]]},{"id":"b5f486864e9a4896","type":"debug","z":"ef61f644d5436dbe","g":"2dd8808f14eb2b58","name":"debug 417","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1052,"y":549,"wires":[]},{"id":"94701181e788bfe0","type":"join","z":"ef61f644d5436dbe","g":"2dd8808f14eb2b58","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"48","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1052,"y":612,"wires":[["ed535d37a3c0e0d8","3bad8402e47c8b9c"]]},{"id":"ed535d37a3c0e0d8","type":"ut-assert-success","z":"ef61f644d5436dbe","name":"","x":1308,"y":612,"wires":[]},{"id":"5169d1d23fa51add","type":"join","z":"ef61f644d5436dbe","g":"2dd8808f14eb2b58","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"49","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1052,"y":690.5,"wires":[["387ed3253c9fe192"]]},{"id":"387ed3253c9fe192","type":"ut-assert-failure","z":"ef61f644d5436dbe","name":"","x":1308,"y":690.5,"wires":[]},{"id":"87dacf7e84109105","type":"ut-assert-values","z":"ef61f644d5436dbe","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"{\"col1\":\"都道府県\",\"col2\":\"人口集中地区人口比率\",\"col3\":\"昼夜間人口比率\",\"col4\":\"就業者比率\",\"col5\":\"飲食店・宿泊業就業者比率\",\"col6\":\"旅行行動者率\",\"col7\":\"外国人宿泊者比率\",\"col8\":\"単独世帯比率\",\"col9\":\"人口10万人当たり感染者率\"}","tot":"json"}],"x":1758,"y":542,"wires":[[]]},{"id":"3bad8402e47c8b9c","type":"change","z":"ef61f644d5436dbe","name":"check first line for column names","rules":[{"p":"payload","pt":"msg","t":"set","to":"$$.payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1378,"y":542,"wires":[["87dacf7e84109105"]]},{"id":"5bb79a46383e4bbf","type":"change","z":"ef61f644d5436dbe","name":"sum of col2","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sum($map($$.payload, function($v) { $v.col2 }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1491,"y":848,"wires":[["24da566a81d8238d"]]},{"id":"57c6138f9f3f988f","type":"csv","z":"ef61f644d5436dbe","name":"","spec":"rfc","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"1","strings":true,"include_empty_strings":"","include_null_values":"","x":844,"y":909,"wires":[["a3ee5e8aefb8c15b","8be6dd4ae1838d49"]]},{"id":"a3ee5e8aefb8c15b","type":"join","z":"ef61f644d5436dbe","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"47","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1052,"y":910,"wires":[["5bb79a46383e4bbf","d4f39a6ad1b7888c","5e5b18d795bb76a0","a7ea15f541dfff20","f0dea8c4ea8f49fa"]]},{"id":"8be6dd4ae1838d49","type":"join","z":"ef61f644d5436dbe","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"48","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1052,"y":967,"wires":[["1cf585b712cb0fff"]]},{"id":"1cf585b712cb0fff","type":"ut-assert-failure","z":"ef61f644d5436dbe","name":"","x":1260,"y":1195,"wires":[]},{"id":"24da566a81d8238d","type":"ut-assert-values","z":"ef61f644d5436dbe","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"2468.9000000000005","tot":"num"}],"x":1842,"y":848,"wires":[[]]},{"id":"d4f39a6ad1b7888c","type":"change","z":"ef61f644d5436dbe","name":"sum of col4","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sum($map($$.payload, function($v) { $v.col4 }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1489,"y":920.25,"wires":[["065d82b96b7402b6"]]},{"id":"065d82b96b7402b6","type":"ut-assert-values","z":"ef61f644d5436dbe","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"2219.2600000000007","tot":"num"}],"x":1842,"y":920.25,"wires":[[]]},{"id":"5e5b18d795bb76a0","type":"change","z":"ef61f644d5436dbe","name":"sum of col6","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sum($map($$.payload, function($v) { $v.col6 }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1495,"y":992.5,"wires":[["aed5d561e8f2815a"]]},{"id":"aed5d561e8f2815a","type":"ut-assert-values","z":"ef61f644d5436dbe","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"2571.2000000000003","tot":"num"}],"x":1842,"y":992.5,"wires":[[]]},{"id":"a7ea15f541dfff20","type":"change","z":"ef61f644d5436dbe","name":"sum of col8","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sum($map($$.payload, function($v) { $v.col8 }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1489,"y":1064.75,"wires":[["8ec2475bfb254f33"]]},{"id":"8ec2475bfb254f33","type":"ut-assert-values","z":"ef61f644d5436dbe","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"1475.8699999999994","tot":"num"}],"x":1842,"y":1064.75,"wires":[[]]},{"id":"f0dea8c4ea8f49fa","type":"change","z":"ef61f644d5436dbe","name":"sum of col5","rules":[{"p":"payload","pt":"msg","t":"set","to":"$sum($map($$.payload, function($v) { $v.col5 }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1492,"y":1137,"wires":[["579370b425a17429"]]},{"id":"579370b425a17429","type":"ut-assert-values","z":"ef61f644d5436dbe","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"238.91999999999996","tot":"num"}],"x":1842,"y":1137,"wires":[[]]},{"id":"af646ec133436ca5","type":"switch","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"check parts hash on msg","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"22","vt":"num"},{"t":"eq","v":"47","vt":"num"},{"t":"eq","v":"48","vt":"num"},{"t":"eq","v":"59","vt":"num"}],"checkall":"false","repair":false,"outputs":6,"x":1098,"y":322,"wires":[["02232ae70f2be4e2"],["1554af3e5ee3b688"],["d7aa471a770bd480"],["7f235da57cc199bd"],["4f170b77d4322fd9"],["a9552a640639fd0e"]]},{"id":"a9552a640639fd0e","type":"ut-assert-failure","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"","x":1358,"y":404,"wires":[]},{"id":"4f170b77d4322fd9","type":"ut-assert-failure","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"","x":1359,"y":363,"wires":[]},{"id":"7f235da57cc199bd","type":"ut-assert-values","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"","rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"48","tot":"num"},{"t":"eql","p":"parts.index","pt":"msg","to":"47","tot":"num"},{"t":"eql","p":"'_msgid'","pt":"msg","to":"parts.id","tot":"msg"},{"t":"eql","p":"columns","pt":"msg","to":"col1,col2,col3,col4,col5,col6,col7,col8,col9","tot":"str"},{"t":"eql","p":"payload","pt":"msg","to":"{\"col1\":\"沖縄県\",\"col2\":67.79,\"col3\":100,\"col4\":41.13,\"col5\":8.05,\"col6\":37.8,\"col7\":23.17,\"col8\":32.29,\"col9\":9.81}","tot":"json"}],"x":1607,"y":325,"wires":[[]]},{"id":"02232ae70f2be4e2","type":"ut-assert-values","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"","rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"48","tot":"num"},{"t":"eql","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"eql","p":"'_msgid'","pt":"msg","to":"parts.id","tot":"msg"},{"t":"eql","p":"columns","pt":"msg","to":"col1,col2,col3,col4,col5,col6,col7,col8,col9","tot":"str"},{"t":"eql","p":"payload","pt":"msg","to":"{\"col1\":\"都道府県\",\"col2\":\"人口集中地区人口比率\",\"col3\":\"昼夜間人口比率\",\"col4\":\"就業者比率\",\"col5\":\"飲食店・宿泊業就業者比率\",\"col6\":\"旅行行動者率\",\"col7\":\"外国人宿泊者比率\",\"col8\":\"単独世帯比率\",\"col9\":\"人口10万人当たり感染者率\"}","tot":"json"}],"x":1355,"y":171,"wires":[[]]},{"id":"1554af3e5ee3b688","type":"ut-assert-values","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"","rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"48","tot":"num"},{"t":"eql","p":"parts.index","pt":"msg","to":"10","tot":"num"},{"t":"eql","p":"'_msgid'","pt":"msg","to":"parts.id","tot":"msg"},{"t":"eql","p":"columns","pt":"msg","to":"col1,col2,col3,col4,col5,col6,col7,col8,col9","tot":"str"},{"t":"eql","p":"payload","pt":"msg","to":"{\"col1\":\"群馬県\",\"col2\":39.91,\"col3\":99.8,\"col4\":48.96,\"col5\":5.02,\"col6\":54.8,\"col7\":3.92,\"col8\":28.56,\"col9\":7.79}","tot":"json"}],"x":1446,"y":225,"wires":[[]]},{"id":"d7aa471a770bd480","type":"ut-assert-values","z":"ef61f644d5436dbe","g":"98b8602ba532a8dc","name":"","rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"48","tot":"num"},{"t":"eql","p":"parts.index","pt":"msg","to":"22","tot":"num"},{"t":"eql","p":"'_msgid'","pt":"msg","to":"parts.id","tot":"msg"},{"t":"eql","p":"columns","pt":"msg","to":"col1,col2,col3,col4,col5,col6,col7,col8,col9","tot":"str"},{"t":"eql","p":"payload","pt":"msg","to":"{\"col1\":\"静岡県\",\"col2\":59.89,\"col3\":99.8,\"col4\":50.41,\"col5\":5.32,\"col6\":54.8,\"col7\":8.73,\"col8\":28.49,\"col9\":2.27}","tot":"json"}],"x":1526,"y":276,"wires":[[]]}]