priv/testflows/9f7351d7a7304584/flows.json
[{"id":"9f7351d7a7304584","type":"tab","label":"[file in] warning if no file name is defined","disabled":false,"info":"","env":[]},{"id":"cdbabcb6b51061f9","type":"inject","z":"9f7351d7a7304584","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":174,"y":320,"wires":[["6fbffd6301651ed1"]]},{"id":"6fbffd6301651ed1","type":"file in","z":"9f7351d7a7304584","name":"","filename":"","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":383,"y":510.5,"wires":[[]]},{"id":"28e29547e7ce42ff","type":"ut-assert-debug","z":"9f7351d7a7304584","name":"","nodeid":"6fbffd6301651ed1","msgtype":"warning","inverse":false,"x":581,"y":406.5,"wires":[]}]