priv/testflows/cd44a688eb2ab3cf/flows.json
[{"id":"cd44a688eb2ab3cf","type":"tab","label":"[complete] messags from unconnected inject","disabled":false,"info":"A complete node also receives messages from unconnected inject nodes.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"}]},{"id":"0039e40c5a466c21","type":"complete","z":"cd44a688eb2ab3cf","name":"","scope":["226a4d67975c7629"],"uncaught":false,"x":393,"y":263,"wires":[["5be9a33da452190d","12d4c5e590d0fbce"]]},{"id":"226a4d67975c7629","type":"inject","z":"cd44a688eb2ab3cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":285,"y":469,"wires":[[]]},{"id":"5be9a33da452190d","type":"ut-assert-success","z":"cd44a688eb2ab3cf","name":"","x":691,"y":158,"wires":[]},{"id":"12d4c5e590d0fbce","type":"ut-assert-values","z":"cd44a688eb2ab3cf","name":"","rules":[{"p":"payload","pt":"msg","t":"mth","to":"^[0-9]+$","tot":"str"}],"x":713,"y":368,"wires":[[]]}]