priv/testflows/b6d4e4592b27a344/flows.json
[{"id":"b6d4e4592b27a344","type":"tab","label":"[link nodes] (F) implement time out on link call node","disabled":false,"info":"A link call node has a separate timeout that ensures that a link call does not wait on broken nodes.\n\nThis timeout specification needs implementing but hasn't at the time of writing.\n\n","env":[{"name":"ERED_TIMEOUT","type":"num","value":"10"},{"name":"ERED_PENDING","type":"bool","value":"true"}]},{"id":"619a6a95f2109be9","type":"inject","z":"b6d4e4592b27a344","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":273,"wires":[["6c93b763c3488caa"]]},{"id":"5866dc9633d00318","type":"link in","z":"b6d4e4592b27a344","name":"link in 6","links":[],"x":233,"y":498.5,"wires":[["78ddfe144704367d"]]},{"id":"d4bfe1b9020910ba","type":"link out","z":"b6d4e4592b27a344","name":"link out 4","mode":"return","links":[],"x":576,"y":498.5,"wires":[]},{"id":"6c93b763c3488caa","type":"link call","z":"b6d4e4592b27a344","name":"two second timeout","links":["5866dc9633d00318"],"linkType":"static","timeout":"2","x":368,"y":273,"wires":[["19bace4522dc5226","663515509fc28563"]]},{"id":"19bace4522dc5226","type":"ut-assert-values","z":"b6d4e4592b27a344","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"","tot":"str"}],"x":620,"y":218,"wires":[[]]},{"id":"663515509fc28563","type":"ut-assert-success","z":"b6d4e4592b27a344","name":"","x":595,"y":316,"wires":[]},{"id":"78ddfe144704367d","type":"delay","z":"b6d4e4592b27a344","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":396,"y":498.5,"wires":[["d4bfe1b9020910ba"]]}]