priv/testflows/777bee1d06741240/flows.json
[{"id":"777bee1d06741240","type":"tab","label":"[.heroku-red-erik] asset server","disabled":false,"info":"","env":[{"name":"ERED_PENDING","type":"bool","value":"true"},{"name":"ERED_TIMEOUT","type":"num","value":"1"}]},{"id":"54a70d65f1cd72d4","type":"group","z":"777bee1d06741240","name":"read content from /priv/red-erik","style":{"label":true},"nodes":["03fec14c153b83e7","92828104198ff683","b310ca3cf418fda5","112e1935105af6c3","87d3d8faa50c253f"],"x":272,"y":829,"w":519,"h":325},{"id":"3db544306e504484","type":"group","z":"777bee1d06741240","name":"404 not found response","style":{"label":true},"nodes":["afbd5d212a29217e","5d9bbeb64684b3ad","9c5292e7eb3f9e26"],"x":931,"y":822,"w":363,"h":242},{"id":"93ac67a764f0fee5","type":"link in","z":"777bee1d06741240","name":"image server","links":[],"x":161,"y":226.5,"wires":[["3504de7c7ed9d9a8"]]},{"id":"3504de7c7ed9d9a8","type":"switch","z":"777bee1d06741240","name":"image content","property":"req.params.path2","propertyType":"msg","rules":[{"t":"eq","v":"red-erik-flow.png","vt":"str"},{"t":"eq","v":"flow-example.png","vt":"str"},{"t":"eq","v":"assert-nodes.png","vt":"str"},{"t":"eq","v":"array-of-arrays-wires.png","vt":"str"},{"t":"eq","v":"create-test-case.png","vt":"str"},{"t":"eq","v":"pencil-in-info.png","vt":"str"},{"t":"eq","v":"erlang-red.gif","vt":"str"},{"t":"eq","v":"accessing-node-documentation.gif","vt":"str"},{"t":"eq","v":"creating-test-cases.gif","vt":"str"},{"t":"eq","v":"erlang-red-flow-documentation.gif","vt":"str"},{"t":"eq","v":"erlang-red-using-the-pencil.gif","vt":"str"},{"t":"eq","v":"flow2uml-creating.gif","vt":"str"},{"t":"eq","v":"flow2uml-using.gif","vt":"str"},{"t":"eq","v":"loading-test-cases.gif","vt":"str"},{"t":"eq","v":"msgtracing.gif","vt":"str"},{"t":"eq","v":"test-timeouts.gif","vt":"str"},{"t":"eq","v":"unit-testing-inside-nodered.gif","vt":"str"},{"t":"eq","v":"viewing-node-attributes.gif","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":19,"x":397,"y":226.5,"wires":[["3987b3bd16879e46"],["3987b3bd16879e46"],["3987b3bd16879e46"],["3987b3bd16879e46"],["3987b3bd16879e46"],["3987b3bd16879e46"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["2b3ca9378e20a462"],["bf4ba787f23a5874"]]},{"id":"cb876920c6728700","type":"file in","z":"777bee1d06741240","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1371,"y":90,"wires":[["64d85ab90b1278d4"]]},{"id":"64d85ab90b1278d4","type":"http response","z":"777bee1d06741240","name":"png - content type","statusCode":"200","headers":{"content-type":"image/png"},"x":1605,"y":65,"wires":[]},{"id":"21f027942e0a487d","type":"link in","z":"777bee1d06741240","name":"javascript server","links":[],"x":161,"y":468,"wires":[["56da5a6a75b3eb5b"]]},{"id":"5c3a9b7988cab5e6","type":"link in","z":"777bee1d06741240","name":"css server","links":[],"x":161,"y":709.5,"wires":[["458372704b4b7891"]]},{"id":"56da5a6a75b3eb5b","type":"switch","z":"777bee1d06741240","name":"js content","property":"req.params.path2","propertyType":"msg","rules":[{"t":"eq","v":"d3.min.js","vt":"str"},{"t":"eq","v":"jquery.min.3.7.0.js","vt":"str"},{"t":"eq","v":"flowviewer.js","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":374,"y":468,"wires":[["63e1b4ac93642183"],["63e1b4ac93642183"],["63e1b4ac93642183"],["0643052bfd56e3d7"]]},{"id":"afbd5d212a29217e","type":"http response","z":"777bee1d06741240","g":"3db544306e504484","name":"","statusCode":"404","headers":{},"x":1208,"y":1023,"wires":[]},{"id":"5d9bbeb64684b3ad","type":"change","z":"777bee1d06741240","g":"3db544306e504484","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"not found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1103,"y":957,"wires":[["afbd5d212a29217e"]]},{"id":"9c5292e7eb3f9e26","type":"link in","z":"777bee1d06741240","g":"3db544306e504484","name":"404 nothingness","links":["0643052bfd56e3d7","bf4ba787f23a5874","2a663870becb0b10"],"x":972,"y":863,"wires":[["5d9bbeb64684b3ad"]]},{"id":"12d9a6ea2040dfeb","type":"http response","z":"777bee1d06741240","name":"js - content type","statusCode":"200","headers":{"content-type":"text/javascript"},"x":1115,"y":400,"wires":[]},{"id":"458372704b4b7891","type":"switch","z":"777bee1d06741240","name":"css content","property":"req.params.path2","propertyType":"msg","rules":[{"t":"eq","v":"flowviewer.css","vt":"str"},{"t":"eq","v":"style.css","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":392,"y":709.5,"wires":[["656760f3d4fd2a39"],["656760f3d4fd2a39"],["2a663870becb0b10"]]},{"id":"7042ed89686ee2ef","type":"http response","z":"777bee1d06741240","name":"css - content type","statusCode":"200","headers":{"content-type":"text/css"},"x":1047,"y":462,"wires":[]},{"id":"03fec14c153b83e7","type":"change","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$$.privdir & \"/vendor/red-erik/\" & $$.req.params.path2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":975,"wires":[["92828104198ff683"]]},{"id":"92828104198ff683","type":"file in","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":590,"y":927,"wires":[["112e1935105af6c3"]]},{"id":"b310ca3cf418fda5","type":"link in","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"read in content from red-erik","links":[],"x":313,"y":1113,"wires":[["87d3d8faa50c253f"]]},{"id":"112e1935105af6c3","type":"link out","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"link out 1","mode":"return","links":[],"x":671,"y":870,"wires":[]},{"id":"656760f3d4fd2a39","type":"link call","z":"777bee1d06741240","name":"","links":["b310ca3cf418fda5"],"linkType":"static","timeout":"30","x":749,"y":607,"wires":[["7042ed89686ee2ef"]]},{"id":"63e1b4ac93642183","type":"link call","z":"777bee1d06741240","name":"","links":["b310ca3cf418fda5"],"linkType":"static","timeout":"30","x":749,"y":399,"wires":[["12d9a6ea2040dfeb"]]},{"id":"0643052bfd56e3d7","type":"link out","z":"777bee1d06741240","name":"404 - not found","mode":"link","links":["9c5292e7eb3f9e26","2f2127aed77efba6"],"x":648,"y":488,"wires":[]},{"id":"bf4ba787f23a5874","type":"link out","z":"777bee1d06741240","name":"404 - not found","mode":"link","links":["9c5292e7eb3f9e26","2f2127aed77efba6"],"x":1143,"y":331,"wires":[]},{"id":"2a663870becb0b10","type":"link out","z":"777bee1d06741240","name":"404 - not found","mode":"link","links":["9c5292e7eb3f9e26","2f2127aed77efba6"],"x":648,"y":723,"wires":[]},{"id":"a8179239649752e0","type":"file in","z":"777bee1d06741240","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1401,"y":192,"wires":[["2ecdb4110e97e646"]]},{"id":"2ecdb4110e97e646","type":"http response","z":"777bee1d06741240","name":"gif - image content","statusCode":"200","headers":{"content-type":"image/gif"},"x":1611,"y":160,"wires":[]},{"id":"8c0c2c6fd87c42b2","type":"catch","z":"777bee1d06741240","name":"","scope":["cb876920c6728700","92828104198ff683","a8179239649752e0","87d3d8faa50c253f"],"uncaught":false,"x":1032,"y":696,"wires":[["5d9bbeb64684b3ad"]]},{"id":"87d3d8faa50c253f","type":"function","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"obtain the priv directory for erlang red inside the container","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg#{ <<\"privdir\">> => code:priv_dir(erlang_red) }\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":555,"y":1043,"wires":[["03fec14c153b83e7"]]},{"id":"2b3ca9378e20a462","type":"function","z":"777bee1d06741240","name":"obtain the priv directory for erlang red inside the container","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg#{ <<\"privdir\">> => code:priv_dir(erlang_red) }\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":844,"y":263,"wires":[["13cace1149dcb120"]]},{"id":"13cace1149dcb120","type":"change","z":"777bee1d06741240","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$$.privdir & \"/\" & $$.req.params.path2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1188,"y":202,"wires":[["a8179239649752e0"]]},{"id":"3987b3bd16879e46","type":"function","z":"777bee1d06741240","name":"obtain the priv directory for erlang red inside the container","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg#{ <<\"privdir\">> => code:priv_dir(erlang_red) }\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":798,"y":156,"wires":[["e0ac03e3e67aef0e"]]},{"id":"e0ac03e3e67aef0e","type":"change","z":"777bee1d06741240","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$$.privdir & \"/\" & $$.req.params.path2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1144,"y":118,"wires":[["cb876920c6728700"]]}]