priv/testflows/777bee1d06741240/flows.json
[{"id":"777bee1d06741240","type":"tab","label":"[.heroku-red-erik] asset server","disabled":false,"info":"","env":[{"name":"ERED_PENDING","value":"false","type":"bool"},{"name":"ERED_TIMEOUT","value":"1","type":"num"}]},{"id":"54a70d65f1cd72d4","type":"group","z":"777bee1d06741240","name":"read content from /priv/red-erik","style":{"label":true},"nodes":["03fec14c153b83e7","92828104198ff683","b310ca3cf418fda5","112e1935105af6c3"],"x":399,"y":829,"w":313,"h":238},{"id":"3db544306e504484","type":"group","z":"777bee1d06741240","name":"404 not found response","style":{"label":true},"nodes":["afbd5d212a29217e","5d9bbeb64684b3ad","9c5292e7eb3f9e26"],"x":931,"y":822,"w":363,"h":242},{"id":"93ac67a764f0fee5","type":"link in","z":"777bee1d06741240","name":"image server","links":[],"x":161,"y":226.5,"wires":[["3504de7c7ed9d9a8"]]},{"id":"3504de7c7ed9d9a8","type":"switch","z":"777bee1d06741240","name":"image content","property":"req.params.path2","propertyType":"msg","rules":[{"t":"eq","v":"red-erik-flow.png","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":397,"y":226.5,"wires":[["32206eb511fc3c9c"],["bf4ba787f23a5874"]]},{"id":"cb876920c6728700","type":"file in","z":"777bee1d06741240","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":840,"y":269,"wires":[["64d85ab90b1278d4"]]},{"id":"64d85ab90b1278d4","type":"http response","z":"777bee1d06741240","name":"png - content type","statusCode":"200","headers":{"content-type":"image/png"},"x":1046,"y":340,"wires":[]},{"id":"32206eb511fc3c9c","type":"change","z":"777bee1d06741240","name":"","rules":[{"p":"filename","pt":"msg","t":"set","to":"\"priv/\" & $$.req.params.path2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":717,"y":188,"wires":[["cb876920c6728700"]]},{"id":"21f027942e0a487d","type":"link in","z":"777bee1d06741240","name":"javascript server","links":[],"x":161,"y":468,"wires":[["56da5a6a75b3eb5b"]]},{"id":"5c3a9b7988cab5e6","type":"link in","z":"777bee1d06741240","name":"css server","links":[],"x":161,"y":709.5,"wires":[["458372704b4b7891"]]},{"id":"56da5a6a75b3eb5b","type":"switch","z":"777bee1d06741240","name":"js content","property":"req.params.path2","propertyType":"msg","rules":[{"t":"eq","v":"d3.min.js","vt":"str"},{"t":"eq","v":"jquery.min.3.7.0.js","vt":"str"},{"t":"eq","v":"flowviewer.js","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":374,"y":468,"wires":[["63e1b4ac93642183"],["63e1b4ac93642183"],["63e1b4ac93642183"],["0643052bfd56e3d7"]]},{"id":"afbd5d212a29217e","type":"http response","z":"777bee1d06741240","g":"3db544306e504484","name":"","statusCode":"404","headers":{},"x":1208,"y":1023,"wires":[]},{"id":"5d9bbeb64684b3ad","type":"change","z":"777bee1d06741240","g":"3db544306e504484","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"not found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1103,"y":957,"wires":[["afbd5d212a29217e"]]},{"id":"9c5292e7eb3f9e26","type":"link in","z":"777bee1d06741240","g":"3db544306e504484","name":"404 nothingness","links":["0643052bfd56e3d7","bf4ba787f23a5874","2a663870becb0b10"],"x":972,"y":863,"wires":[["5d9bbeb64684b3ad"]]},{"id":"12d9a6ea2040dfeb","type":"http response","z":"777bee1d06741240","name":"js - content type","statusCode":"200","headers":{"content-type":"text/javascript"},"x":1115,"y":400,"wires":[]},{"id":"458372704b4b7891","type":"switch","z":"777bee1d06741240","name":"css content","property":"req.params.path2","propertyType":"msg","rules":[{"t":"eq","v":"flowviewer.css","vt":"str"},{"t":"eq","v":"style.css","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":392,"y":709.5,"wires":[["656760f3d4fd2a39"],["656760f3d4fd2a39"],["2a663870becb0b10"]]},{"id":"7042ed89686ee2ef","type":"http response","z":"777bee1d06741240","name":"css - content type","statusCode":"200","headers":{"content-type":"text/css"},"x":1047,"y":462,"wires":[]},{"id":"03fec14c153b83e7","type":"change","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"","rules":[{"p":"filename","pt":"msg","t":"set","to":"\"priv/vendor/red-erik/\" & $$.req.params.path2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":975,"wires":[["92828104198ff683"]]},{"id":"92828104198ff683","type":"file in","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":590,"y":927,"wires":[["112e1935105af6c3"]]},{"id":"b310ca3cf418fda5","type":"link in","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"read in content from red-erik","links":[],"x":440,"y":1026,"wires":[["03fec14c153b83e7"]]},{"id":"112e1935105af6c3","type":"link out","z":"777bee1d06741240","g":"54a70d65f1cd72d4","name":"link out 1","mode":"return","links":[],"x":671,"y":870,"wires":[]},{"id":"656760f3d4fd2a39","type":"link call","z":"777bee1d06741240","name":"","links":["b310ca3cf418fda5"],"linkType":"static","timeout":"30","x":749,"y":607,"wires":[["7042ed89686ee2ef"]]},{"id":"63e1b4ac93642183","type":"link call","z":"777bee1d06741240","name":"","links":["b310ca3cf418fda5"],"linkType":"static","timeout":"30","x":749,"y":399,"wires":[["12d9a6ea2040dfeb"]]},{"id":"0643052bfd56e3d7","type":"link out","z":"777bee1d06741240","name":"404 - not found","mode":"link","links":["9c5292e7eb3f9e26"],"x":648,"y":488,"wires":[]},{"id":"bf4ba787f23a5874","type":"link out","z":"777bee1d06741240","name":"404 - not found","mode":"link","links":["9c5292e7eb3f9e26"],"x":648,"y":231,"wires":[]},{"id":"2a663870becb0b10","type":"link out","z":"777bee1d06741240","name":"404 - not found","mode":"link","links":["9c5292e7eb3f9e26"],"x":648,"y":723,"wires":[]}]