priv/testflows/6ec0c8870821dd63/flows.json
[{"id":"6ec0c8870821dd63","type":"tab","label":"[supervisor] supervisor told to stop","disabled":false,"info":"## Supervisor of Supervisor pattern but Supervisor told to stop\n\nA failed function causes the stopping of a Supervisor node.\n\nWhat is being tested is whether a supervisor node also shuts down its children if its told to shut down.\n\n## Setup\n\n<a class=\"ahl-group-only\" data-ids=\"8888af65a8124288\">Message generator</a> generates two thousand messages. On each message, the <a class=\"ahl-node-only\" data-ids=\"d91c3d741e4de4e4\">immediate exit on message</a> function node fails causing its supervisor, the  <a class=\"ahl-node-only\" data-ids=\"10639227f336a097\">supervisor - one-for-all</a> to restart the <a class=\"ahl-node-only\" data-ids=\"23a54af76e9c10a5\">delegate delegate supervisor</a> as the restart policy is `one-for-all`.\n\nThe <a class=\"ahl-node-only\" data-ids=\"23a54af76e9c10a5\">delegate delegate supervisor</a> is in charge of the <a class=\"ahl-node-only\" data-ids=\"8c14e760dcfb8a30\">function 4</a> and <a class=\"ahl-node-only\" data-ids=\"6b0a05f3bf443478\">function 5</a> nodes. These are stopped when the <a class=\"ahl-node-only\" data-ids=\"23a54af76e9c10a5\">delegate delegate supervisor</a> is stopped.\n\nAt the end of the, a <a class=\"ahl-node-only\" data-ids=\"ad54fc1b6369b67c\">join 12</a> node is collecting together messages and sends out one new message once it has twelve messages. The <a class=\"ahl-node-only\" data-ids=\"a553ec7831d634cf\">Assert True</a> node ensures this happens. \n\nThe <a class=\"ahl-node-only\" data-ids=\"8332808443914f76\">join 13</a> node does the same  but collects thirteen messages but thirteen messages are never collected because the supervisor tree shuts down before that happens.\n\nThat is becausae <a class=\"ahl-node-only\" data-ids=\"10639227f336a097\">supervisor - one-for-all</a> has an intenisty of 5 over 30 seconds. Our message generator is generating a message every milliseconds, so in 30 seconds its about 30 thousand messages.\n\nHence the supervisor dies on the sixth message. It gets restarted by the <a class=\"ahl-node-only\" data-ids=\"76ecfec8634cfaa2\">root supervisor</a> but it has an intenisty of 1 over 5 seconds. That means it restarts the <a class=\"ahl-node-only\" data-ids=\"10639227f336a097\">supervisor - one-for-all</a> only once before it dies.\n\nHence only 12 messages get through at the bottom of the tree.\n\nP.S. Because of timings and process coordination, the actual number of messages that get through ranges between 10 and 12 but never thirteen, hence this test is built for this.\n\n## Supervision tree\n\n```mermaid\n%% change this to LR Node-RED like UML\ngraph TB\n30d125fb8f0bf61e@{ shape: \"rect\", label: \"root supervisor\" } --> 7f4686d2611f0e7f@{ shape: \"rect\", label: \"supervisor - one-for-all\" }\n7f4686d2611f0e7f@{ shape: \"rect\", label: \"supervisor - one-for-all\" } --> a430a1c9ee80461d@{ shape: \"rect\", label: \"delegate delegate supervisor\" }\n7f4686d2611f0e7f@{ shape: \"rect\", label: \"supervisor - one-for-all\" } --> b824c1367a13ab7c@{ shape: \"fr-rect\", label: \"immediate exit on message\" }\na430a1c9ee80461d@{ shape: \"rect\", label: \"delegate delegate supervisor\" } --> 21a4bb05caaf505c@{ shape: \"fr-rect\", label: \"function 4\" }\na430a1c9ee80461d@{ shape: \"rect\", label: \"delegate delegate supervisor\" } --> 208eafc5ccf9d41c@{ shape: \"fr-rect\", label: \"function 5\" }\n```","env":[{"name":"ERED_TIMEOUT","type":"num","value":"4"},{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"8888af65a8124288","type":"group","z":"6ec0c8870821dd63","name":"message generation","style":{"label":true},"nodes":["df2d629bd128f867","5548fa01589ebce1","24a06060a85b8d53"],"x":130.6666259765625,"y":378.678594827652,"w":650.3334045410156,"h":160.36309218406677},{"id":"10639227f336a097","type":"erlsupervisor","z":"6ec0c8870821dd63","name":"supervisor - one-for-all","scope":["d91c3d741e4de4e4","23a54af76e9c10a5"],"supervisor_type":"static","strategy":"one_for_all","auto_shutdown":"never","intensity":"5","period":"30","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"0","x":1287.2856674194336,"y":300.5714225769043,"wires":[[]]},{"id":"d91c3d741e4de4e4","type":"function","z":"6ec0c8870821dd63","name":"immediate exit on message","func":"exit(self(), failure)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1042.9999389648438,"y":419.678594827652,"wires":[["33d1c8fe5c3f3cf8"]]},{"id":"23a54af76e9c10a5","type":"erlsupervisor","z":"6ec0c8870821dd63","name":"delegate delegate supervisor","scope":["8c14e760dcfb8a30","6b0a05f3bf443478"],"supervisor_type":"static","strategy":"one_for_one","auto_shutdown":"never","intensity":"1","period":"5","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"0","x":1500.714225769043,"y":419.678594827652,"wires":[[]]},{"id":"8c14e760dcfb8a30","type":"function","z":"6ec0c8870821dd63","name":"function 4","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1401.5713081359863,"y":525.3214206695557,"wires":[["6b0a05f3bf443478"]]},{"id":"6b0a05f3bf443478","type":"function","z":"6ec0c8870821dd63","name":"function 5","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1607.0713081359863,"y":525.3214206695557,"wires":[["8332808443914f76","fc37dbca860bf3ae"]]},{"id":"76ecfec8634cfaa2","type":"erlsupervisor","z":"6ec0c8870821dd63","name":"root supervisor","scope":["10639227f336a097"],"supervisor_type":"static","strategy":"one_for_one","auto_shutdown":"never","intensity":"1","period":"5","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"0","x":1281.1428298950195,"y":156.5714569091797,"wires":[[]]},{"id":"33d1c8fe5c3f3cf8","type":"ut-assert-failure","z":"6ec0c8870821dd63","name":"","x":1291.857089996338,"y":419.678594827652,"wires":[]},{"id":"df2d629bd128f867","type":"change","z":"6ec0c8870821dd63","g":"8888af65a8124288","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"","tot":"date"},{"p":"msgcnt","pt":"msg","t":"set","to":"$$.msgcnt + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":493,"y":419.678594827652,"wires":[["5548fa01589ebce1","d91c3d741e4de4e4","8c14e760dcfb8a30"]]},{"id":"5548fa01589ebce1","type":"delay","z":"6ec0c8870821dd63","g":"8888af65a8124288","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":685.0000305175781,"y":495.04168701171875,"wires":[["24a06060a85b8d53"]]},{"id":"24a06060a85b8d53","type":"switch","z":"6ec0c8870821dd63","g":"8888af65a8124288","name":"stop after 2000 messages","property":"msgcnt","propertyType":"msg","rules":[{"t":"lt","v":"2000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":266.6666259765625,"y":498.04168701171875,"wires":[["df2d629bd128f867"]]},{"id":"8332808443914f76","type":"join","z":"6ec0c8870821dd63","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"13","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1833.57124710083,"y":525.3214206695557,"wires":[["727a0a901cfae369"]]},{"id":"727a0a901cfae369","type":"ut-assert-failure","z":"6ec0c8870821dd63","name":"","x":2070.5713081359863,"y":525.3214206695557,"wires":[]},{"id":"3ef7c89152d98002","type":"inject","z":"6ec0c8870821dd63","name":"","props":[{"p":"msgcnt","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":278,"y":313,"wires":[["df2d629bd128f867"]]},{"id":"fc37dbca860bf3ae","type":"ut-assert-success","z":"6ec0c8870821dd63","name":"","x":1854.2856330871582,"y":573.5714468955994,"wires":[]}]