priv/testflows/090eb2d5d71fd45f/flows.json
[{"id":"090eb2d5d71fd45f","type":"tab","label":"[exec] generate complete msg once command is done","disabled":false,"info":"","env":[{"name":"ERED_TIMEOUT","type":"num","value":"5"}]},{"id":"8ef5e45f80ecbc6d","type":"exec","z":"090eb2d5d71fd45f","command":"sleep 1 ; echo -n \"hello world\" ; sleep 1 ; ( echo -n \"good, by cruel world\" 1>&2 )","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":521,"y":368,"wires":[["7676bc21f35b83e7"],["7bc771eb81218af1"],["1fe2316b6740b5db"]]},{"id":"e424921beb105d12","type":"inject","z":"090eb2d5d71fd45f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":124,"y":497,"wires":[["8ef5e45f80ecbc6d"]]},{"id":"c269a0b3a138cea8","type":"complete","z":"090eb2d5d71fd45f","name":"","scope":["8ef5e45f80ecbc6d"],"uncaught":false,"x":536,"y":317,"wires":[["d852f35a283d1f7f"]]},{"id":"d852f35a283d1f7f","type":"ut-assert-success","z":"090eb2d5d71fd45f","name":"","x":941,"y":118.5,"wires":[]},{"id":"7676bc21f35b83e7","type":"ut-assert-values","z":"090eb2d5d71fd45f","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"hello world","tot":"str"}],"x":958,"y":300.5,"wires":[[]]},{"id":"7bc771eb81218af1","type":"ut-assert-values","z":"090eb2d5d71fd45f","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"good, by cruel world","tot":"str"}],"x":1006,"y":368,"wires":[[]]},{"id":"1fe2316b6740b5db","type":"ut-assert-values","z":"090eb2d5d71fd45f","name":"","rules":[{"p":"payload.code","pt":"msg","t":"eql","to":"0","tot":"num"}],"x":976,"y":442,"wires":[[]]}]