priv/testflows/3ea113b4ec3b6e5e/flows.json
[{"id":"3ea113b4ec3b6e5e","type":"tab","label":"[delay] set delay via msg.delay","disabled":false,"info":"Here the test uses two delays to test the ability of delays to be set by message values.\n\nThe delay containing the value 1 is delayed by 3 seconds using the delay node but the delay value on the inject resets that 1 second.\n\nMeanwhile a second delay is set to ignore the delay value on the message and it resets the payload to value 2 after 2 seconds.\n\nThis implies that the value 1 should arrive before the value 2 at the join node. The join node combines the two values and the assert values node ensures the ordering is correct, i.e. `[1,2]`.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_TIMEOUT","type":"num","value":"5"}]},{"id":"5ce3f61ddc3d2fb8","type":"inject","z":"3ea113b4ec3b6e5e","name":"set delay to 1 seconds & payload = 1","props":[{"p":"delay","v":"1000","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":183,"y":382,"wires":[["a0b8ebd973feffa2","8f7ba7f5b87a7fc5"]]},{"id":"a0b8ebd973feffa2","type":"delay","z":"3ea113b4ec3b6e5e","name":"delay for 3 seconds & respect msg.delay","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":663,"y":382,"wires":[["b39135ebea3a10ff","027710dc3192b6d2"]]},{"id":"cd33d1975a870a2c","type":"ut-assert-success","z":"3ea113b4ec3b6e5e","name":"","x":1335,"y":556,"wires":[]},{"id":"55117ce6227ee7d3","type":"change","z":"3ea113b4ec3b6e5e","name":"set payload to 2","rules":[{"p":"payload","pt":"msg","t":"set","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":851,"y":486,"wires":[["b39135ebea3a10ff","d2ceb038172f3564"]]},{"id":"b39135ebea3a10ff","type":"join","z":"3ea113b4ec3b6e5e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1075,"y":486,"wires":[["ca39c0f88c5d08ee","cd33d1975a870a2c"]]},{"id":"ca39c0f88c5d08ee","type":"ut-assert-values","z":"3ea113b4ec3b6e5e","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"[1,2]","tot":"json"}],"x":1347,"y":485.5,"wires":[[]]},{"id":"8f7ba7f5b87a7fc5","type":"delay","z":"3ea113b4ec3b6e5e","name":"delay 2 seconds & ignore delay value on msg","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":562,"y":596,"wires":[["55117ce6227ee7d3"]]},{"id":"d2ceb038172f3564","type":"debug","z":"3ea113b4ec3b6e5e","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1153,"y":593,"wires":[]},{"id":"027710dc3192b6d2","type":"debug","z":"3ea113b4ec3b6e5e","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1092,"y":382,"wires":[]}]