priv/testflows/8421f37b6c40e1ec/flows.json
[{"id":"8421f37b6c40e1ec","type":"tab","label":"[csv] [encode] simple object","disabled":false,"info":"","env":[{"name":"ERED_PENDING","value":"true","type":"bool"}]},{"id":"cb2d90d6c3fe9524","type":"inject","z":"8421f37b6c40e1ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":418,"y":382,"wires":[["c54a320661e72ea2"]]},{"id":"c54a320661e72ea2","type":"template","z":"8421f37b6c40e1ec","name":"simple object","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"col1\": \"one\",\n    \"col2\": 123,\n    \"col3\": \"banana\"\n}","output":"json","x":596,"y":501,"wires":[["a426e6b3ef7ec311","055d6880c6fb45d6"]]},{"id":"a426e6b3ef7ec311","type":"csv","z":"8421f37b6c40e1ec","name":"don't send column names","spec":"rfc","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":870,"y":451,"wires":[["59637598e05abbee"]]},{"id":"59637598e05abbee","type":"ut-assert-values","z":"8421f37b6c40e1ec","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"one,123,banana\\r\\n","tot":"str"}],"x":1217,"y":452,"wires":[[]]},{"id":"055d6880c6fb45d6","type":"csv","z":"8421f37b6c40e1ec","name":"send column names","spec":"rfc","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":856,"y":546,"wires":[["2f0848d52886f40d"]]},{"id":"2f0848d52886f40d","type":"ut-assert-values","z":"8421f37b6c40e1ec","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"col1,col2,col3\\r\\none,123,banana\\r\\n","tot":"str"}],"x":1213,"y":547,"wires":[[]]}]