priv/testflows/a6dc7002d0a8640e/flows.json
[{"id":"a6dc7002d0a8640e","type":"tab","label":"[debug] if not active, no debug message in panel","disabled":false,"info":"","env":[]},{"id":"421d2a14caa59804","type":"inject","z":"a6dc7002d0a8640e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":234,"y":401,"wires":[["9d246621021e23a4"]]},{"id":"9d246621021e23a4","type":"debug","z":"a6dc7002d0a8640e","name":"inactive debug node","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":514,"y":517,"wires":[]},{"id":"2ae253cd0e91a29d","type":"ut-assert-status","z":"a6dc7002d0a8640e","name":"","nodeid":"9d246621021e23a4","content":"1","colour":"blue","shape":"ring","inverse":false,"x":686,"y":701,"wires":[]},{"id":"cbcd79500f4e3c4a","type":"ut-assert-debug","z":"a6dc7002d0a8640e","name":"","nodeid":"9d246621021e23a4","msgtype":"normal","inverse":true,"x":673,"y":641,"wires":[]}]