priv/testflows/1db9c9a1b92e0263/flows.json
[{"id":"1db9c9a1b92e0263","type":"tab","label":"[exec] empty commands are not supported","disabled":false,"info":"Ensure that if no command is found, that an exception is raised.","env":[]},{"id":"8990d3a87c1d88e9","type":"group","z":"1db9c9a1b92e0263","name":"exception is captured no debug message from the exec node","style":{"label":true},"nodes":["978368148e7f6eb4","959ec1c26c0b5a71","4f562ce43ed17d54","2e0dbb434960a174","106a2767f80ae733","659c7d4eabd482f7","c3fc3205048f92a5","81c5fc69c7d37db7","f2da3949fee8dd1f"],"x":120,"y":741.5,"w":732,"h":447},{"id":"fa5e911e93d67c66","type":"group","z":"1db9c9a1b92e0263","name":"exception isn't captured so the exec node generates a debug message","style":{"label":true},"nodes":["72554cc55499d2ea","911478bf42eac2a7","e618fb7931bb3359","9eb18b85e9ee1966","59850e7a4c42a9d7","3d01a5a74bb07b13"],"x":156,"y":271.5,"w":659,"h":276.5},{"id":"72554cc55499d2ea","type":"inject","z":"1db9c9a1b92e0263","g":"fa5e911e93d67c66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":262,"y":318,"wires":[["911478bf42eac2a7"]]},{"id":"911478bf42eac2a7","type":"exec","z":"1db9c9a1b92e0263","g":"fa5e911e93d67c66","command":"","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":525,"y":439,"wires":[["e618fb7931bb3359"],["9eb18b85e9ee1966"],["59850e7a4c42a9d7"]]},{"id":"e618fb7931bb3359","type":"ut-assert-failure","z":"1db9c9a1b92e0263","g":"fa5e911e93d67c66","name":"","x":715,"y":375.5,"wires":[]},{"id":"9eb18b85e9ee1966","type":"ut-assert-failure","z":"1db9c9a1b92e0263","g":"fa5e911e93d67c66","name":"","x":715,"y":443.5,"wires":[]},{"id":"59850e7a4c42a9d7","type":"ut-assert-failure","z":"1db9c9a1b92e0263","g":"fa5e911e93d67c66","name":"","x":719,"y":507,"wires":[]},{"id":"3d01a5a74bb07b13","type":"ut-assert-debug","z":"1db9c9a1b92e0263","g":"fa5e911e93d67c66","name":"","nodeid":"911478bf42eac2a7","msgtype":"error","inverse":false,"x":591,"y":312.5,"wires":[]},{"id":"978368148e7f6eb4","type":"inject","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":226,"y":814,"wires":[["959ec1c26c0b5a71"]]},{"id":"959ec1c26c0b5a71","type":"exec","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","command":"","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":469,"y":911,"wires":[["4f562ce43ed17d54"],["2e0dbb434960a174"],["106a2767f80ae733"]]},{"id":"4f562ce43ed17d54","type":"ut-assert-failure","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","x":659,"y":847.5,"wires":[]},{"id":"2e0dbb434960a174","type":"ut-assert-failure","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","x":659,"y":915.5,"wires":[]},{"id":"106a2767f80ae733","type":"ut-assert-failure","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","x":663,"y":979,"wires":[]},{"id":"659c7d4eabd482f7","type":"ut-assert-debug","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","nodeid":"959ec1c26c0b5a71","msgtype":"error","inverse":true,"x":536,"y":782.5,"wires":[]},{"id":"c3fc3205048f92a5","type":"catch","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","scope":["959ec1c26c0b5a71"],"uncaught":false,"x":484,"y":1091,"wires":[["81c5fc69c7d37db7","f2da3949fee8dd1f"]]},{"id":"81c5fc69c7d37db7","type":"ut-assert-success","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","x":746,"y":1088.5,"wires":[]},{"id":"f2da3949fee8dd1f","type":"ut-assert-values","z":"1db9c9a1b92e0263","g":"8990d3a87c1d88e9","name":"","rules":[{"p":"error.message","pt":"msg","t":"eql","to":"TypeError: The argument 'file' cannot be empty. Received ''","tot":"str"}],"x":716,"y":1147.5,"wires":[[]]}]