priv/testflows/8a627c9bfe3b4aff/flows.json
[{"id":"8a627c9bfe3b4aff","type":"tab","label":"[link nodes] cascading link calls","disabled":false,"info":"the _linkSource array must be maintained by link returns and link calls - it's a stack that needs maintaining.\n\nHere the point is that the _linkSource is an array that acts as a stack so that nested link calls are supported by the implementation.\n\n","env":[{"name":"ERED_TIMEOUT","value":"12","type":"num"}]},{"id":"d3683250b7601cd7","type":"link in","z":"8a627c9bfe3b4aff","name":"[lnktst] level 1","links":[],"x":244.5,"y":631.4998779296875,"wires":[["74d88ddb4b6f9a24"]]},{"id":"dd42ee081ce272a9","type":"link call","z":"8a627c9bfe3b4aff","name":"","links":["d3683250b7601cd7"],"linkType":"static","timeout":"30","x":491.5,"y":380.9998779296875,"wires":[["4fb685fc96c8a1c2"]]},{"id":"d229754f8ef59018","type":"link in","z":"8a627c9bfe3b4aff","name":"[lnktst] level 2","links":[],"x":339.5,"y":742.9998779296875,"wires":[["91316f510a61a45b"]]},{"id":"4923efe0d707de2b","type":"link in","z":"8a627c9bfe3b4aff","name":"[lnktst] level 3","links":[],"x":428.5,"y":856.4998779296875,"wires":[["0c352cecced97685"]]},{"id":"fdf66c6062ef4dd2","type":"link in","z":"8a627c9bfe3b4aff","name":"[lnktst] level 4","links":[],"x":492.5,"y":970.9998779296875,"wires":[["c1594eb3ca8cb66f"]]},{"id":"74d88ddb4b6f9a24","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":431.5,"y":631.4998779296875,"wires":[["6f8fbae1dc44fba4"]]},{"id":"91316f510a61a45b","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":530.5,"y":742.9998779296875,"wires":[["77eb64dfc70e4e47"]]},{"id":"0c352cecced97685","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":617.5,"y":856.4998779296875,"wires":[["8f4af57274cd230f"]]},{"id":"c1594eb3ca8cb66f","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":665.5,"y":970.9998779296875,"wires":[["f3125f01cf9eb499"]]},{"id":"eede0c68da8c1ace","type":"inject","z":"8a627c9bfe3b4aff","name":"trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"this is the payload Wow!","payloadType":"str","x":118.5,"y":378.9998779296875,"wires":[["dd42ee081ce272a9"]]},{"id":"6f8fbae1dc44fba4","type":"link call","z":"8a627c9bfe3b4aff","name":"","links":["d229754f8ef59018"],"linkType":"static","timeout":"30","x":676.5,"y":631.4998779296875,"wires":[["1ecb404b2307403b"]]},{"id":"77eb64dfc70e4e47","type":"link call","z":"8a627c9bfe3b4aff","name":"","links":["4923efe0d707de2b"],"linkType":"static","timeout":"30","x":749.5,"y":742.9998779296875,"wires":[["075526941d6963be"]]},{"id":"8f4af57274cd230f","type":"link call","z":"8a627c9bfe3b4aff","name":"","links":["fdf66c6062ef4dd2"],"linkType":"static","timeout":"30","x":838.5,"y":856.4998779296875,"wires":[["be9a9202ee56f3fb"]]},{"id":"f3125f01cf9eb499","type":"change","z":"8a627c9bfe3b4aff","name":"","rules":[{"p":"level4","pt":"msg","t":"set","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1014.5,"y":970.9998779296875,"wires":[["fa3b148be88392b5"]]},{"id":"fa3b148be88392b5","type":"link out","z":"8a627c9bfe3b4aff","name":"link out 133","mode":"return","links":[],"x":1527.5,"y":969.9998779296875,"wires":[]},{"id":"a68af14030de4576","type":"change","z":"8a627c9bfe3b4aff","name":"","rules":[{"p":"level3","pt":"msg","t":"set","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1276.5,"y":856.4998779296875,"wires":[["fa3b148be88392b5"]]},{"id":"f61afe5ae0c4978f","type":"change","z":"8a627c9bfe3b4aff","name":"","rules":[{"p":"level2","pt":"msg","t":"set","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1309.5,"y":742.9998779296875,"wires":[["fa3b148be88392b5"]]},{"id":"3a86bbca95f73d28","type":"change","z":"8a627c9bfe3b4aff","name":"","rules":[{"p":"level1","pt":"msg","t":"set","to":"reached","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1398.5,"y":631.4998779296875,"wires":[["fa3b148be88392b5"]]},{"id":"be9a9202ee56f3fb","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1063.5,"y":856.4998779296875,"wires":[["a68af14030de4576"]]},{"id":"075526941d6963be","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1112.5,"y":742.9998779296875,"wires":[["f61afe5ae0c4978f"]]},{"id":"1ecb404b2307403b","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1163.5,"y":631.4998779296875,"wires":[["3a86bbca95f73d28"]]},{"id":"4fb685fc96c8a1c2","type":"delay","z":"8a627c9bfe3b4aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1267.5,"y":380.9998779296875,"wires":[["f55e05a40f9b239f","e2b8866af2cce742"]]},{"id":"f55e05a40f9b239f","type":"ut-assert-success","z":"8a627c9bfe3b4aff","name":"","x":1492,"y":344,"wires":[]},{"id":"e2b8866af2cce742","type":"ut-assert-values","z":"8a627c9bfe3b4aff","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"this is the payload Wow!","tot":"str"},{"p":"level1","pt":"msg","t":"eql","to":"reached","tot":"str"},{"p":"level2","pt":"msg","t":"eql","to":"reached","tot":"str"},{"p":"level3","pt":"msg","t":"eql","to":"reached","tot":"str"},{"p":"level4","pt":"msg","t":"eql","to":"reached","tot":"str"}],"x":1498,"y":420.5,"wires":[[]]}]