priv/testflows/36846ad6698e1bc0/flows.json
[{"id":"36846ad6698e1bc0","type":"tab","label":"[switch] post debug on JSONata exception","disabled":false,"info":"","env":[]},{"id":"68fc7da02e4ce9da","type":"group","z":"36846ad6698e1bc0","name":"catch captures exception","style":{"label":true},"nodes":["83ab1354d90466f0","e9aa1d82d093db52","8d0e6a588bc579ce","915116870214bc0f","0dfefb756493e5d9","1bb2357cf149aeb0","1466e3dcc32f09f6","62e0382ee958b293"],"x":8,"y":806,"w":880,"h":301.5},{"id":"0e4b83838b47f758","type":"group","z":"36846ad6698e1bc0","name":"no catch node to capture the exception","style":{"label":true},"nodes":["9f0163ae195dc699","6dcf13bd6d4133a1","1a2dc9cdead129cb","4a51dd50369e9361","93eda421738039cf","6ff441e31fe3209a"],"x":113,"y":362.5,"w":679,"h":294},{"id":"9f0163ae195dc699","type":"inject","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":219,"y":499,"wires":[["6dcf13bd6d4133a1"]]},{"id":"6dcf13bd6d4133a1","type":"switch","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"property uses broken jsonata","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":415,"y":557,"wires":[["1a2dc9cdead129cb"],["93eda421738039cf"],["6ff441e31fe3209a"]]},{"id":"1a2dc9cdead129cb","type":"ut-assert-failure","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","x":696,"y":403.5,"wires":[]},{"id":"4a51dd50369e9361","type":"ut-assert-debug","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","nodeid":"6dcf13bd6d4133a1","msgtype":"error","inverse":false,"x":367,"y":612.5,"wires":[]},{"id":"93eda421738039cf","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","x":696,"y":542.5,"wires":[]},{"id":"6ff441e31fe3209a","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","x":696,"y":615.5,"wires":[]},{"id":"83ab1354d90466f0","type":"inject","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":114,"y":944,"wires":[["e9aa1d82d093db52"]]},{"id":"e9aa1d82d093db52","type":"switch","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"broken property jsonata","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":393,"y":996,"wires":[["8d0e6a588bc579ce"],["0dfefb756493e5d9"],["1bb2357cf149aeb0"]]},{"id":"8d0e6a588bc579ce","type":"ut-assert-failure","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","x":792,"y":946.5,"wires":[]},{"id":"915116870214bc0f","type":"ut-assert-debug","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","nodeid":"e9aa1d82d093db52","msgtype":"error","inverse":true,"x":411,"y":1066.5,"wires":[]},{"id":"0dfefb756493e5d9","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","x":792,"y":1001.5,"wires":[]},{"id":"1bb2357cf149aeb0","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","x":792,"y":1057.5,"wires":[]},{"id":"1466e3dcc32f09f6","type":"catch","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","scope":["e9aa1d82d093db52"],"uncaught":false,"x":384,"y":926,"wires":[["62e0382ee958b293"]]},{"id":"62e0382ee958b293","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","x":792,"y":847,"wires":[]}]