priv/testflows/13e6f82c8b9d1ff9/flows.json
[{"id":"13e6f82c8b9d1ff9","type":"tab","label":"[function] handle corrupt code","disabled":false,"info":"## Incorrect code handling\n\nEither the \"On Start\", \"On Stop\" or \"On Message\" tab code could be incorrect - handle that.\n","env":[]},{"id":"d91de7d1dc574185","type":"function","z":"13e6f82c8b9d1ff9","name":"On start function is broken","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"this code is broken","finalize":"","libs":[],"x":975.9999999999998,"y":903.9999999999998,"wires":[[]]},{"id":"ad590754b9e5860b","type":"inject","z":"13e6f82c8b9d1ff9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":747,"y":853,"wires":[["d91de7d1dc574185"]]},{"id":"745cdff42a7f4a94","type":"ut-assert-debug","z":"13e6f82c8b9d1ff9","name":"","nodeid":"d91de7d1dc574185","msgtype":"error","inverse":false,"x":910,"y":969.5,"wires":[]},{"id":"499082d6c1e813a5","type":"function","z":"13e6f82c8b9d1ff9","name":"On message code is broken","func":"this code is broken","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":954,"y":1162,"wires":[[]]},{"id":"4e5d7ec31ac4fc81","type":"inject","z":"13e6f82c8b9d1ff9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":725.0000000000002,"y":1111.0000000000002,"wires":[["499082d6c1e813a5"]]},{"id":"9a322bb94698aba1","type":"ut-assert-debug","z":"13e6f82c8b9d1ff9","name":"","nodeid":"499082d6c1e813a5","msgtype":"error","inverse":false,"x":898.0000000000002,"y":1227.5000000000002,"wires":[]},{"id":"bfdf612d581c6537","type":"function","z":"13e6f82c8b9d1ff9","name":"On stop code is broken","func":"%% non empty code","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"this code is broken","libs":[],"x":966,"y":1457,"wires":[[]]},{"id":"d2cdf70515beea42","type":"inject","z":"13e6f82c8b9d1ff9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":747.0000000000002,"y":1406.0000000000002,"wires":[["bfdf612d581c6537"]]},{"id":"87d341bd9941f17b","type":"ut-assert-debug","z":"13e6f82c8b9d1ff9","name":"","nodeid":"499082d6c1e813a5","msgtype":"error","inverse":false,"x":920.0000000000002,"y":1522.5000000000002,"wires":[]},{"id":"64af25711170b21d","type":"function","z":"13e6f82c8b9d1ff9","name":"On message code is empty","func":"","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1524,"y":1165,"wires":[[]]},{"id":"b840d4345d9cf807","type":"inject","z":"13e6f82c8b9d1ff9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1295.0000000000002,"y":1114.0000000000002,"wires":[["64af25711170b21d"]]},{"id":"95ddd111838b531f","type":"ut-assert-debug","z":"13e6f82c8b9d1ff9","name":"","nodeid":"499082d6c1e813a5","msgtype":"error","inverse":false,"x":1468.0000000000002,"y":1230.5000000000002,"wires":[]}]