priv/testflows/9b1023c95a2613cc/flows.json
[{"id":"9b1023c95a2613cc","type":"tab","label":"[.jsonata] split function","disabled":false,"info":"","env":[]},{"id":"9e9800cd8236a64b","type":"inject","z":"9b1023c95a2613cc","name":"testing limit","props":[{"p":"payload"},{"p":"all","v":"$split($$.payload, \" \")","vt":"jsonata"},{"p":"two","v":"$split($$.payload, \" \", 2)","vt":"jsonata"},{"p":"one","v":"$split($$.payload, \" \", 1)","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"one two three","payloadType":"str","x":270,"y":345,"wires":[["cbfcdfaf46c5b5c2"]]},{"id":"cbfcdfaf46c5b5c2","type":"ut-assert-values","z":"9b1023c95a2613cc","name":"","rules":[{"p":"all","pt":"msg","t":"eql","to":"[\"one\",\"two\",\"three\"]","tot":"json"},{"p":"one","pt":"msg","t":"eql","to":"[\"one\"]","tot":"json"},{"p":"two","pt":"msg","t":"eql","to":"[\"one\", \"two\"]","tot":"json"}],"x":492,"y":419.5,"wires":[[]]},{"id":"9c0a7a3ee15c6663","type":"inject","z":"9b1023c95a2613cc","name":"split into single characters","props":[{"p":"payload"},{"p":"all","v":"$split($$.payload, \"\")","vt":"jsonata"},{"p":"all2","v":"$split($$.payload)","vt":"jsonata"},{"p":"len","v":"$length($$.all2)","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"one two three","payloadType":"str","x":284,"y":493,"wires":[["9d2cb0ec6747369c"]]},{"id":"9d2cb0ec6747369c","type":"ut-assert-values","z":"9b1023c95a2613cc","name":"","rules":[{"p":"len","pt":"msg","t":"eql","to":"13","tot":"num"},{"p":"all","pt":"msg","t":"eql","to":"all2","tot":"msg"}],"x":572,"y":591.5,"wires":[[]]}]