priv/testflows/c381b5135cc947cd/flows.json
[{"id":"c381b5135cc947cd","type":"tab","label":"[tcp] multiple tcp in connectors (1194)","disabled":false,"info":"## Tcp in connect-to nodes\n\nStarting a tcp service, for example, using netcat `(while date ; do sleep 1 ; done) | nc -lk -p 9393` will cause all three connect to tcp in nodes to receive data.\n\nEach tcp in node will receive the *same* data from the from the host. That is because there is only one connection being maintained. \n\nErlang Red maintains single connections for multiple tcp nodes. Even when multiple tcp in nodes access the same connection, each will receive the same data instead of one connecting to the service and the other nodes not being able to connect.\n\nThis differs to original Node-RED behaviour that will connect a random tcp in node to the service and have it uniquely receive all the data. \n\nNode-RED [forum question](https://discourse.nodered.org/t/tcp-in-nodes-connecting-to-same-host/97975).\n\n\n\n","env":[{"name":"ERED_PENDING","value":"false","type":"bool"},{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"},{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"564114edd5ba0caf","type":"group","z":"c381b5135cc947cd","style":{"color":"#a4a4a4","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","stroke":"#999999","stroke-opacity":"1"},"nodes":["524d13509e8eb098","d4b1b47e6edf4671","91ea2827b42734f8","51db6f4e4fabe23e","14e40322dd30fe93","093fcc54ab04fc3c","0194a9d19d352a89","e26c474963a8b022","40b3af0abea5455a","79a3014b85623de5","8197f5db17d5faa6","6a9c6712d23a8ad9"],"x":237,"y":103,"w":1167,"h":372.5},{"id":"524d13509e8eb098","type":"tcp in","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","server":"server","host":"","port":"1194","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":true,"base64":false,"tls":"","x":323,"y":228.75,"wires":[["d4b1b47e6edf4671","40b3af0abea5455a"]]},{"id":"d4b1b47e6edf4671","type":"debug","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"debug 434","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":652,"y":144,"wires":[]},{"id":"91ea2827b42734f8","type":"tcp in","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","server":"server","host":"","port":"1194","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":true,"base64":false,"tls":"","x":511,"y":323.5,"wires":[["14e40322dd30fe93","e26c474963a8b022"]]},{"id":"51db6f4e4fabe23e","type":"tcp in","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","server":"server","host":"","port":"1194","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":true,"base64":false,"tls":"","x":674,"y":434.5,"wires":[["093fcc54ab04fc3c","0194a9d19d352a89"]]},{"id":"14e40322dd30fe93","type":"debug","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"debug 435","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":863,"y":250.5,"wires":[]},{"id":"093fcc54ab04fc3c","type":"debug","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"debug 436","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1008,"y":358.25,"wires":[]},{"id":"eae4f7026d63b109","type":"tcp request","z":"c381b5135cc947cd","name":"","server":"localhost","port":"1194","out":"time","ret":"string","splitc":"3000","newline":"","trim":false,"tls":"","x":804,"y":650.5,"wires":[[]]},{"id":"dc60341617690980","type":"inject","z":"c381b5135cc947cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\" & $millis()","payloadType":"jsonata","x":496,"y":779,"wires":[["eae4f7026d63b109"]]},{"id":"f85b44b70643d362","type":"inject","z":"c381b5135cc947cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\" & $millis()","payloadType":"jsonata","x":496,"y":725,"wires":[["eae4f7026d63b109"]]},{"id":"a74eb5d8b2fc9c56","type":"inject","z":"c381b5135cc947cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\" & $millis()","payloadType":"jsonata","x":496,"y":671,"wires":[["eae4f7026d63b109"]]},{"id":"97e3ad43a22731af","type":"inject","z":"c381b5135cc947cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\" & $millis()","payloadType":"jsonata","x":496,"y":617,"wires":[["eae4f7026d63b109"]]},{"id":"c741b86b0ddfdf7d","type":"inject","z":"c381b5135cc947cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\" & $millis()","payloadType":"jsonata","x":496,"y":563,"wires":[["eae4f7026d63b109"]]},{"id":"0194a9d19d352a89","type":"join","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1011,"y":434.5,"wires":[["6a9c6712d23a8ad9"]]},{"id":"e26c474963a8b022","type":"join","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":819,"y":323.5,"wires":[["8197f5db17d5faa6"]]},{"id":"40b3af0abea5455a","type":"join","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":228.75,"wires":[["79a3014b85623de5"]]},{"id":"79a3014b85623de5","type":"ut-assert-success","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","x":949,"y":144,"wires":[]},{"id":"8197f5db17d5faa6","type":"ut-assert-success","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","x":1142,"y":250.5,"wires":[]},{"id":"6a9c6712d23a8ad9","type":"ut-assert-success","z":"c381b5135cc947cd","g":"564114edd5ba0caf","name":"","x":1308,"y":358.25,"wires":[]}]