priv/testflows/59aa8a866d8d7a70/flows.json
[{"id":"59aa8a866d8d7a70","type":"tab","label":"[switch] handle nested values","disabled":false,"info":"Msg attributes can be nested, i.e., objects of objects of objects - ensure that the switch node can handle such keys of keys.\n\n","env":[]},{"id":"bd0235a8fbaeb40f","type":"inject","z":"59aa8a866d8d7a70","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key1\":{\"key2\":{\"key3\":\"this is the value\"}}}","payloadType":"json","x":161,"y":522,"wires":[["b1a8f15fe5738d33","4d9a98f81b54bb4a"]]},{"id":"b1a8f15fe5738d33","type":"switch","z":"59aa8a866d8d7a70","name":"stop after first match","property":"payload.key1.key2.key3","propertyType":"msg","rules":[{"t":"eq","v":"this is the value","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":449,"y":389,"wires":[["8b1dfef215a06d21"],["7ba38fbd5318338d"]]},{"id":"7ba38fbd5318338d","type":"ut-assert-failure","z":"59aa8a866d8d7a70","name":"","x":713,"y":461.5,"wires":[]},{"id":"8b1dfef215a06d21","type":"ut-assert-success","z":"59aa8a866d8d7a70","name":"","x":713,"y":299,"wires":[]},{"id":"4d9a98f81b54bb4a","type":"switch","z":"59aa8a866d8d7a70","name":"check all rules","property":"payload.key1.key2.key3","propertyType":"msg","rules":[{"t":"eq","v":"this is the value","vt":"str"},{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"not this value","vt":"str"},{"t":"eq","v":"this is the value","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":429,"y":656,"wires":[["0bdb83e90fa3b71d"],["ad960e4316c2b091"],["134ce7b480530792"],["80082fbee9885229"]]},{"id":"134ce7b480530792","type":"ut-assert-failure","z":"59aa8a866d8d7a70","name":"","x":713,"y":699.6666666666667,"wires":[]},{"id":"0bdb83e90fa3b71d","type":"ut-assert-success","z":"59aa8a866d8d7a70","name":"","x":713,"y":539,"wires":[]},{"id":"ad960e4316c2b091","type":"ut-assert-failure","z":"59aa8a866d8d7a70","name":"","x":713,"y":619.3333333333334,"wires":[]},{"id":"80082fbee9885229","type":"ut-assert-success","z":"59aa8a866d8d7a70","name":"","x":713,"y":780,"wires":[]}]