priv/testflows/c562c43e69bcf0af/flows.json
[{"id":"c562c43e69bcf0af","type":"tab","label":"[http] Dynamic Routing","disabled":false,"info":"This is taken from [FlowHub.org](https://flowhub.org/f/c562c43e69bcf0af).\n\n### aim\n\nUsing link-in and link-call nodes to implementing dynamic path routing. \n\n### warning\n\nThis flow contains Http-In endpoinst definitions that could interrupt existing endpoints and services or open your Node-RED installation to malicious attacks.\n\n\n### Explanation\n\nThis router, as opposed to the [static router](https://flowhub.org/f/40ea5f2aea6592ae), accepts all requests and directs the request to a handler *if* a handler happens to be defined. The dynamic router disects that path and *ensures* that a handler is defined for that path.\n\nIn this flow defining a new handler for a path is a matter of creating a link-in node. The <a class=\"ahl-node-only\" data-ids=\"63311a5c3e0b8520\">http-in</a> node accepts all GET requests that match the path specification `/<path1>/<path2>`: path1 and path2 can be anything that represents a path.\n\nRouting is based on the names of the link-in nodes, in this case the convention used is that a link-in node should be named `[:path1] :path2`. This convention is defined in the <a class=\"ahl-node-only\" data-ids=\"5117e34e38f7445f\">change node</a> that sets the `msg.target` attribute. This attribute is used by the <a class=\"ahl-node-only\" data-ids=\"f266975e312ddef6\">link-call</a> node, which calls the correponding link-in node.\n\nIf no link-in node is found by that name, the <a class=\"ahl-group-only\" data-ids=\"627be3679370b933\">exception handler</a> is triggered that ends the request with a Http Code 404 - page not found.\n\nA link-in node, once defined, is responsible for generate the HTML content for the request. A <a class=\"ahl-node-only\" data-ids=\"a78e640e4d0dad43,dafcc80764d7547d\">link-out node</a> in *return mode* (meaning the call returns to the original link-call node) ends the flow ensuring the HTML content is returned to the link-call node. The link-call node then returns the HTML content as response to the original request.\n\nIf the link-out node is missing or the handler takes too long (the link-call node has a timeout of 15 seconds) the exception handler is triggered. The response becomes a 404 not found.\n\nThis kind of routing is useful for blog sites where content is generated over time and maintaining a static router would be an extra step for each page. Instead link-in nodes are created at will and become connected to the site.\n\nA <a href=\"https://flowhub.org/f/40ea5f2aea6592ae\">static router</a> is more useful for APIs where endpoints need to be clearly defined along with their purpose. Also with API its more important to differentiate between http methods, that is, GET, POST, PUT, PATCH.\n\nFor an API it is advantageous to have an overview of the complete structure defined in one flow tab. \n\nIn this flow has two endpoints:\n\n-  `/hello/world` since <a class=\"ahl-node-only\" data-ids=\"6eafc7df3d7fa16c\">link-in node</a> is named `[hello] world`.\n- `/node/red` since <a class=\"ahl-node-only\" data-ids=\"4be3e088622e9054\">link-in node</a> is named `[node] red`.\n\nThe name convention is chosen by the author, there is no requirement to keep it. There simple needs to be a mapping between the paths of requests and the naming of link-in nodes, whatever mapping that might be.\n\n### Related Flows\n\n- [Static Router](https://flowhub.org/f/40ea5f2aea6592ae) routing paths to *specific* endpoints.","env":[{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"},{"name":"ERED_TIMEOUT","type":"num","value":"6"},{"name":"ERED_PENDING","type":"bool","value":"false"}]},{"id":"627be3679370b933","type":"group","z":"c562c43e69bcf0af","name":"Route not found","style":{"label":true},"nodes":["e47df6c462833421","cc0c614b1e1e6104","8d7b5b2ee31e3e96"],"x":764,"y":755,"w":801,"h":82},{"id":"207fa856ae4a3b07","type":"group","z":"c562c43e69bcf0af","name":"router","style":{"label":true},"nodes":["63311a5c3e0b8520","f266975e312ddef6","5117e34e38f7445f","df4ccd20486f7567","a6b3f178d410ef1f"],"x":246,"y":582,"w":1319,"h":130},{"id":"8bae3ca1893c2c87","type":"group","z":"c562c43e69bcf0af","name":"GET /hello/world","style":{"label":true},"nodes":["6eafc7df3d7fa16c","8022ad08a9ca1c78","a78e640e4d0dad43"],"x":239,"y":352,"w":455,"h":82},{"id":"fabeb20aa2bae1f8","type":"group","z":"c562c43e69bcf0af","name":"GET /node/red","style":{"label":true},"nodes":["4be3e088622e9054","e7110ab46bd47bad","dafcc80764d7547d"],"x":239,"y":491,"w":455,"h":82},{"id":"ef8a88e4ca600a52","type":"group","z":"c562c43e69bcf0af","name":"GET /erlang/red","style":{"label":true},"nodes":["88bee951ca1d55b6","0e76b7678533cde6","d3d2fcad3090e646"],"x":240,"y":228,"w":455,"h":82},{"id":"63311a5c3e0b8520","type":"http in","z":"c562c43e69bcf0af","g":"207fa856ae4a3b07","name":"","url":"/c562c43e69bcf0af/example02/:path1/:path2","method":"get","upload":false,"swaggerDoc":"","x":462,"y":623,"wires":[["5117e34e38f7445f"]]},{"id":"f266975e312ddef6","type":"link call","z":"c562c43e69bcf0af","g":"207fa856ae4a3b07","name":"","links":[],"linkType":"dynamic","timeout":"15","x":962,"y":671,"wires":[["a6b3f178d410ef1f"]]},{"id":"5117e34e38f7445f","type":"change","z":"c562c43e69bcf0af","g":"207fa856ae4a3b07","name":"set msg.target \"[:path1] :path2\"","rules":[{"p":"target","pt":"msg","t":"set","to":"\"[\" & msg.req.params.path1 & \"] \" & msg.req.params.path2","tot":"jsonata"},{"p":"target","pt":"msg","t":"set","to":"$toString($$.target)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":713.5,"y":671,"wires":[["f266975e312ddef6"]]},{"id":"e47df6c462833421","type":"catch","z":"c562c43e69bcf0af","g":"627be3679370b933","name":"","scope":["f266975e312ddef6"],"uncaught":false,"x":840,"y":796,"wires":[["8d7b5b2ee31e3e96"]]},{"id":"cc0c614b1e1e6104","type":"http response","z":"c562c43e69bcf0af","g":"627be3679370b933","name":"resp (404)","statusCode":"","headers":{},"x":1479,"y":796,"wires":[]},{"id":"8d7b5b2ee31e3e96","type":"change","z":"c562c43e69bcf0af","g":"627be3679370b933","name":"statusCode = 404, payload = Not Found","rules":[{"p":"payload","pt":"msg","t":"set","to":"Not Found Here","tot":"str"},{"p":"statusCode","pt":"msg","t":"set","to":"404","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1181,"y":796,"wires":[["cc0c614b1e1e6104"]]},{"id":"df4ccd20486f7567","type":"http response","z":"c562c43e69bcf0af","g":"207fa856ae4a3b07","name":"resp (200)","statusCode":"","headers":{},"x":1479,"y":671,"wires":[]},{"id":"a6b3f178d410ef1f","type":"change","z":"c562c43e69bcf0af","g":"207fa856ae4a3b07","name":"set statusCode = 200","rules":[{"p":"statusCode","pt":"msg","t":"set","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220.5,"y":671,"wires":[["df4ccd20486f7567"]]},{"id":"6eafc7df3d7fa16c","type":"link in","z":"c562c43e69bcf0af","g":"8bae3ca1893c2c87","name":"[hello] world","links":[],"x":280,"y":393,"wires":[["8022ad08a9ca1c78"]]},{"id":"8022ad08a9ca1c78","type":"template","z":"c562c43e69bcf0af","g":"8bae3ca1893c2c87","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        Hello World\n    </body>\n</html>","output":"str","x":466.5,"y":393,"wires":[["a78e640e4d0dad43"]]},{"id":"a78e640e4d0dad43","type":"link out","z":"c562c43e69bcf0af","g":"8bae3ca1893c2c87","name":"link out 110","mode":"return","links":[],"x":653,"y":393,"wires":[]},{"id":"4be3e088622e9054","type":"link in","z":"c562c43e69bcf0af","g":"fabeb20aa2bae1f8","name":"[node] red","links":[],"x":280,"y":532,"wires":[["e7110ab46bd47bad"]]},{"id":"e7110ab46bd47bad","type":"template","z":"c562c43e69bcf0af","g":"fabeb20aa2bae1f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node RED</title>\n    </head>\n    <body>\n        Node-RED\n    </body>\n</html>","output":"str","x":466.5,"y":532,"wires":[["dafcc80764d7547d"]]},{"id":"dafcc80764d7547d","type":"link out","z":"c562c43e69bcf0af","g":"fabeb20aa2bae1f8","name":"link out 111","mode":"return","links":[],"x":653,"y":532,"wires":[]},{"id":"88bee951ca1d55b6","type":"link in","z":"c562c43e69bcf0af","g":"ef8a88e4ca600a52","name":"[erlang] red","links":[],"x":281,"y":269,"wires":[["0e76b7678533cde6"]]},{"id":"0e76b7678533cde6","type":"template","z":"c562c43e69bcf0af","g":"ef8a88e4ca600a52","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Erlang RED</title>\n    </head>\n    <body>\n        Erlang-RED\n    </body>\n</html>","output":"str","x":467.5,"y":269,"wires":[["d3d2fcad3090e646"]]},{"id":"d3d2fcad3090e646","type":"link out","z":"c562c43e69bcf0af","g":"ef8a88e4ca600a52","name":"link out 1","mode":"return","links":[],"x":654,"y":269,"wires":[]},{"id":"5ef99a8f388e3579","type":"inject","z":"c562c43e69bcf0af","name":"test starts here","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":343,"y":997,"wires":[["0d18c87ae65b4697"]]},{"id":"89d3370d9127c78d","type":"http request","z":"c562c43e69bcf0af","name":"/erlang/red","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/c562c43e69bcf0af/example02/erlang/red","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":654,"y":1118,"wires":[["4945c17057fb3588","9a715cf1a06dce43"]]},{"id":"74b7789f10ff8395","type":"http request","z":"c562c43e69bcf0af","name":"/page/unknown","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/c562c43e69bcf0af/example02/page/unknown","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":663,"y":1207,"wires":[["2b3aa74e2cb36b3a","8782c1802f1ebf38"]]},{"id":"e8063bc6f5121b66","type":"http request","z":"c562c43e69bcf0af","name":"/node/red","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/c562c43e69bcf0af/example02/node/red","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":647,"y":1035.5,"wires":[["190218dd2197c204","f23e0e07c9aa32b3"]]},{"id":"2b3aa74e2cb36b3a","type":"ut-assert-values","z":"c562c43e69bcf0af","name":"","rules":[{"p":"statusCode","pt":"msg","t":"eql","to":"404","tot":"num"},{"p":"payload","pt":"msg","t":"mth","to":"Not Found Here","tot":"str"}],"x":907,"y":1165.5,"wires":[[]]},{"id":"190218dd2197c204","type":"ut-assert-values","z":"c562c43e69bcf0af","name":"","rules":[{"p":"statusCode","pt":"msg","t":"eql","to":"200","tot":"num"},{"p":"payload","pt":"msg","t":"mth","to":"Node RED","tot":"str"}],"x":907,"y":980,"wires":[[]]},{"id":"4945c17057fb3588","type":"ut-assert-values","z":"c562c43e69bcf0af","name":"","rules":[{"p":"statusCode","pt":"msg","t":"eql","to":"200","tot":"num"},{"p":"payload","pt":"msg","t":"mth","to":"Erlang RED","tot":"str"}],"x":907,"y":1072.75,"wires":[[]]},{"id":"0d18c87ae65b4697","type":"delay","z":"c562c43e69bcf0af","name":"","pauseType":"random","timeout":"950","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":1092,"wires":[["89d3370d9127c78d","e8063bc6f5121b66","74b7789f10ff8395"]]},{"id":"f23e0e07c9aa32b3","type":"ut-assert-success","z":"c562c43e69bcf0af","name":"","x":1123,"y":1035.5,"wires":[]},{"id":"9a715cf1a06dce43","type":"ut-assert-success","z":"c562c43e69bcf0af","name":"","x":1123,"y":1118,"wires":[]},{"id":"8782c1802f1ebf38","type":"ut-assert-success","z":"c562c43e69bcf0af","name":"","x":1123,"y":1207,"wires":[]}]