priv/testflows/1566e453a88578a9/flows.json
[{"id":"1566e453a88578a9","type":"tab","label":"[trigger] two outputs","disabled":false,"info":"trigger can have two output upon which it sends two different messages.\n\ntrigger also sets its status to a blue dot if it has been triggered, i.e., its between messages.","env":[]},{"id":"1d92bb22e075aa6e","type":"trigger","z":"1566e453a88578a9","name":"","op1":"message one","op2":"message two","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":515,"y":333,"wires":[["af6888109ee80211"],["07c5341a7b366bd3"]]},{"id":"0a98182593dc0a9d","type":"inject","z":"1566e453a88578a9","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":177,"y":334,"wires":[["1d92bb22e075aa6e"]]},{"id":"917851394d1f7259","type":"ut-assert-status","z":"1566e453a88578a9","name":"trigger should still generate status","nodeid":"1d92bb22e075aa6e","content":"","colour":"blue","shape":"dot","inverse":false,"x":505,"y":445,"wires":[]},{"id":"af6888109ee80211","type":"ut-assert-values","z":"1566e453a88578a9","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"message one","tot":"str"}],"x":862,"y":241.5,"wires":[[]]},{"id":"07c5341a7b366bd3","type":"ut-assert-values","z":"1566e453a88578a9","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"message two","tot":"str"}],"x":866,"y":406,"wires":[[]]}]