priv/testflows/8180ae5891c673de/flows.json
[{"id":"8180ae5891c673de","type":"tab","label":"[inject] ensure that topic is set correctly","disabled":false,"info":"The `topic` property has a electic behaviour when it comes to be being set.\n\nThere is a `topic` attribute on the node definition but also a property definition in the list of `props`. The property definition contains a `v` attribute that also defines a value.\n\n","env":[]},{"id":"f480df06eeb014b3","type":"inject","z":"8180ae5891c673de","name":"string","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"string","x":298,"y":221,"wires":[["a7e4062ce641f1e1"]]},{"id":"284402d7ec3af2f6","type":"inject","z":"8180ae5891c673de","name":"num","props":[{"p":"topic","v":"123","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":301,"y":287,"wires":[["a67647340f6e3a4b"]]},{"id":"eadc99e3e483cd91","type":"inject","z":"8180ae5891c673de","name":"json","props":[{"p":"topic","v":"[1,2,3]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":302,"y":349,"wires":[["35a2263f735e58de"]]},{"id":"c21ced61af3ce1c2","type":"inject","z":"8180ae5891c673de","name":"JSONata","props":[{"p":"fubar","v":"fubar value included here","vt":"str"},{"p":"topic","v":"{ \"key\" : $$.fubar }","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":305,"y":409,"wires":[["58e54949d86ca44d"]]},{"id":"e96f6979406d2fd6","type":"inject","z":"8180ae5891c673de","name":"timestamp","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":306,"y":475,"wires":[["32be36668f8d6bfb"]]},{"id":"809935ae8b4c27ea","type":"inject","z":"8180ae5891c673de","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","v":"payload","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"topic set via payload value","payloadType":"str","x":297,"y":535,"wires":[["13b5c6bfea11fd7a","c2866be46d5e7fd1"]]},{"id":"a7e4062ce641f1e1","type":"ut-assert-values","z":"8180ae5891c673de","name":"","rules":[{"p":"topic","pt":"msg","t":"eql","to":"string","tot":"str"}],"x":617,"y":220.5,"wires":[[]]},{"id":"a67647340f6e3a4b","type":"ut-assert-values","z":"8180ae5891c673de","name":"","rules":[{"p":"topic","pt":"msg","t":"eql","to":"123","tot":"num"}],"x":624,"y":279,"wires":[[]]},{"id":"35a2263f735e58de","type":"ut-assert-values","z":"8180ae5891c673de","name":"","rules":[{"p":"topic","pt":"msg","t":"eql","to":"[1,2,3]","tot":"json"}],"x":624,"y":345,"wires":[[]]},{"id":"58e54949d86ca44d","type":"ut-assert-values","z":"8180ae5891c673de","name":"","rules":[{"p":"topic","pt":"msg","t":"eql","to":"{ \"key\": \"fubar value included here\" }","tot":"json"}],"x":627,"y":399,"wires":[[]]},{"id":"32be36668f8d6bfb","type":"ut-assert-values","z":"8180ae5891c673de","name":"","rules":[{"p":"topic","pt":"msg","t":"mth","to":"[0-9]+","tot":"str"}],"x":638,"y":456,"wires":[[]]},{"id":"13b5c6bfea11fd7a","type":"ut-assert-values","z":"8180ae5891c673de","d":true,"name":"","rules":[{"p":"topic","pt":"msg","t":"eql","to":"topic set via payload value","tot":"str"}],"x":629,"y":520,"wires":[[]]},{"id":"c2866be46d5e7fd1","type":"debug","z":"8180ae5891c673de","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":633,"wires":[]}]