priv/testflows/2a95a7b40a798878/flows.json
[{"id":"2a95a7b40a798878","type":"tab","label":"[tcp] telnet server","disabled":false,"info":"## Simple telnet server\n\nUse 'quit' or 'exit' to exit out of telnet mode.\n\nDemonstration of how the internet was like before SSH and HTTP - telnet on port 23 was the bees-knees of client-server connections.\n\n","env":[{"name":"ERED_PENDING","value":"false","type":"bool"},{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"d634721638f8e788","type":"tcp in","z":"2a95a7b40a798878","name":"","server":"server","host":"","port":"2323","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":610,"y":302,"wires":[["d0288a35cd668d45"]]},{"id":"f41d590bfe4a7ab0","type":"change","z":"2a95a7b40a798878","name":"set payload to 'prompt> '","rules":[{"p":"payload","pt":"msg","t":"set","to":"prompt> ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1484,"y":360.5,"wires":[["25d34eb00072bf33"]]},{"id":"25d34eb00072bf33","type":"tcp out","z":"2a95a7b40a798878","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":1818,"y":306.5,"wires":[]},{"id":"af62d3e6093d1b39","type":"switch","z":"2a95a7b40a798878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"exit","vt":"str"},{"t":"cont","v":"quit","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1244,"y":302,"wires":[["ead72a464ee19fc2"],["ead72a464ee19fc2"],["132739bacfd73324"],["f41d590bfe4a7ab0"]]},{"id":"ead72a464ee19fc2","type":"change","z":"2a95a7b40a798878","name":"set payload & reset connection","rules":[{"p":"reset","pt":"msg","t":"set","to":"true","tot":"bool"},{"p":"payload","pt":"msg","t":"set","to":"\"closed\" & \"\\n\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1504,"y":261.5,"wires":[["25d34eb00072bf33"]]},{"id":"d0288a35cd668d45","type":"switch","z":"2a95a7b40a798878","name":"ignore closed connections","property":"_session.status","propertyType":"msg","rules":[{"t":"neq","v":"closed","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":907,"y":302,"wires":[["af62d3e6093d1b39"]]},{"id":"132739bacfd73324","type":"change","z":"2a95a7b40a798878","name":"set payload & reset connection","rules":[{"p":"payload","pt":"msg","t":"set","to":"\"hello, what is your name\" & \"\\n\" & \"enter name> \"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1504,"y":307,"wires":[["25d34eb00072bf33"]]},{"id":"bd7d646607896b19","type":"tcp request","z":"2a95a7b40a798878","name":"","server":"localhost","port":"2323","out":"time","ret":"string","splitc":"4000","newline":"","trim":false,"tls":"","x":1013.5,"y":490,"wires":[["19733a7b8ad67066"]]},{"id":"7aa0e66dfebd50f2","type":"inject","z":"2a95a7b40a798878","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":750,"y":490,"wires":[["bd7d646607896b19"]]},{"id":"19733a7b8ad67066","type":"ut-assert-values","z":"2a95a7b40a798878","name":"","ignore_failure_if_succeed":true,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"hello, what is your name\\nenter name> ","tot":"str"}],"x":1317,"y":490,"wires":[[]]}]