priv/testflows/c1370220fd37968e/flows.json
[{"id":"c1370220fd37968e","type":"tab","label":"[delay] ignore msg.delay if its not set","disabled":false,"info":"This test checks whether a delay node uses its delay setting if the msg does not contain a delay value.\n\nThe delay node is configured to override its delay by msg value but the msg contains no delay value.\n\nHere the value 2 arrives before the value 1 because the msg.delay isn't set.","env":[{"name":"ERED_TIMEOUT","type":"num","value":"5"}]},{"id":"f23b91596b8a4ccb","type":"delay","z":"c1370220fd37968e","name":"delay for 3 seconds & respect msg.delay","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":635,"y":425,"wires":[["919f229cda18c92a","051a30a302e7f396"]]},{"id":"ee1dacaf804a0a4f","type":"inject","z":"c1370220fd37968e","name":"set delay to 1 seconds & payload = 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":155,"y":425,"wires":[["f23b91596b8a4ccb","14df39431e9ac273"]]},{"id":"919f229cda18c92a","type":"join","z":"c1370220fd37968e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1047,"y":529,"wires":[["4b054506daaecd68","4d73785f12cb18f6"]]},{"id":"051a30a302e7f396","type":"debug","z":"c1370220fd37968e","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1064,"y":425,"wires":[]},{"id":"14df39431e9ac273","type":"delay","z":"c1370220fd37968e","name":"delay 2 seconds & ignore delay value on msg","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":534,"y":639,"wires":[["25f2dfee767e9cdf"]]},{"id":"25f2dfee767e9cdf","type":"change","z":"c1370220fd37968e","name":"set payload to 2","rules":[{"p":"payload","pt":"msg","t":"set","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823,"y":529,"wires":[["919f229cda18c92a","ddf4786b05114d14"]]},{"id":"4b054506daaecd68","type":"ut-assert-values","z":"c1370220fd37968e","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"[2,1]","tot":"json"}],"x":1319,"y":528.5,"wires":[[]]},{"id":"4d73785f12cb18f6","type":"ut-assert-success","z":"c1370220fd37968e","name":"","x":1307,"y":599,"wires":[]},{"id":"ddf4786b05114d14","type":"debug","z":"c1370220fd37968e","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1125,"y":636,"wires":[]}]