priv/testflows/90c1ce90f8af227f/flows.json
[{"id":"90c1ce90f8af227f","type":"tab","label":"[markdown] allow for inline html","disabled":false,"info":"","env":[]},{"id":"ade4aebe9981300d","type":"template","z":"90c1ce90f8af227f","name":"expected html content","field":"expected_payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>\nHello</h1>\n<p>\nDoes Earmark support inline HTML?</p>\n<center>\n  <b>I don't know</b></center>\n<p>\nBut I will find out.</p>\n<h1>\nWorld</h1>\n<p>\nThe end.</p>\n","output":"str","x":734,"y":502,"wires":[["c1742fdddda43ca6"]]},{"id":"ceef0885c9ed45f4","type":"markdown","z":"90c1ce90f8af227f","name":"","x":480,"y":502,"wires":[["1efc7486a9fa1174","ade4aebe9981300d"]]},{"id":"c1742fdddda43ca6","type":"ut-assert-values","z":"90c1ce90f8af227f","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"expected_payload","tot":"msg"}],"x":983,"y":354.75,"wires":[[]]},{"id":"c4982962b320d89d","type":"template","z":"90c1ce90f8af227f","name":"Markdown content","field":"payload","fieldType":"msg","format":"markdown","syntax":"mustache","template":"# Hello\n\nDoes Earmark support inline HTML?\n\n<center><b>I don't know</b></center>\n\nBut I will find out.\n\n# World\n\nThe end.","output":"str","x":280,"y":386.25,"wires":[["ceef0885c9ed45f4"]]},{"id":"1efc7486a9fa1174","type":"debug","z":"90c1ce90f8af227f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":696,"y":675.25,"wires":[]},{"id":"66efb51a78f2897d","type":"inject","z":"90c1ce90f8af227f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":85,"y":244.25,"wires":[["c4982962b320d89d"]]}]