priv/testflows/6b22ce2a482c2d6d/flows.json
[{"id":"6b22ce2a482c2d6d","type":"tab","label":"[supervisor] restart after exit call","disabled":false,"info":"Message gate example. \n\nHere the supervisor is supervising two function nodes, one of which exits each time it gets a message. The second function node passes the message through.\n\nA message generate sends these function nodes messages and the supervisor restarts the function node that exits.\n\nThe setting of the supervisor is 5 failures in 30 seconds. This means that only 5 messages get through the second function node before the exit node has brought it down.\n\nWhat happens is that the supervisor crashes because the exit function continaully dies.\n\nWhen the supervisor dies, it takes the second function node with it.\n\n*NOTE* Not run as eunit test because it produces error messages about supervisors crashing - something that is meant to happen.","env":[{"name":"ERED_TIMEOUT","type":"num","value":"3"},{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"abf8c9a905272f8e","type":"group","z":"6b22ce2a482c2d6d","style":{"color":"#a4a4a4","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","stroke":"#999999","stroke-opacity":"1"},"nodes":["021e749ad389ab88","874cb18b3842747d","84927e2b99bfc27b"],"x":925,"y":264,"w":192,"h":673},{"id":"b14c6de25717ff89","type":"junction","z":"6b22ce2a482c2d6d","x":441.88774728775024,"y":42.51034879684448,"wires":[["8277b19f347ddcfb"]]},{"id":"35f156dc1adffb2e","type":"junction","z":"6b22ce2a482c2d6d","x":1525.9184575080872,"y":42.51034879684448,"wires":[["b14c6de25717ff89"]]},{"id":"021e749ad389ab88","type":"erlsupervisor","z":"6b22ce2a482c2d6d","g":"abf8c9a905272f8e","name":"","scope":["874cb18b3842747d","84927e2b99bfc27b"],"supervisor_type":"static","strategy":"one_for_all","auto_shutdown":"never","intensity":"5","period":"30","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"","x":1021,"y":305,"wires":[["29503cddc16de778"]]},{"id":"874cb18b3842747d","type":"function","z":"6b22ce2a482c2d6d","g":"abf8c9a905272f8e","name":"exit call","func":"exit(self(), shutdown)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1016,"y":787.75,"wires":[[]]},{"id":"84927e2b99bfc27b","type":"function","z":"6b22ce2a482c2d6d","g":"abf8c9a905272f8e","name":"function 2","func":"maps:put(hello,world,Msg)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1016,"y":896,"wires":[["1ea63df69490f4db","7bd8ce5730037e43","96142ce5de2c09c3"]]},{"id":"00404d33057120fb","type":"inject","z":"6b22ce2a482c2d6d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":787.75,"wires":[["b1e8a05edf9a1f49"]]},{"id":"b1e8a05edf9a1f49","type":"change","z":"6b22ce2a482c2d6d","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":589,"y":787.75,"wires":[["874cb18b3842747d","fa84ecd4d8a1c08d","ad82ec4cb4957dd2","ecc4a57d16271520","84927e2b99bfc27b"]]},{"id":"1ea63df69490f4db","type":"debug","z":"6b22ce2a482c2d6d","name":"debug 4","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1291,"y":896,"wires":[]},{"id":"fa84ecd4d8a1c08d","type":"delay","z":"6b22ce2a482c2d6d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":592,"y":896,"wires":[["b1e8a05edf9a1f49"]]},{"id":"ad82ec4cb4957dd2","type":"debug","z":"6b22ce2a482c2d6d","name":"debug 5","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":795.7142715454102,"y":727.7143077850342,"wires":[]},{"id":"29503cddc16de778","type":"switch","z":"6b22ce2a482c2d6d","name":"what status?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"dead","vt":"str"},{"t":"eq","v":"started","vt":"str"},{"t":"eq","v":"restarted","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1250,"y":305,"wires":[["5e74391f2b90b291","efac69a788e070b5","eaf756cb0b4d0e61"],["2c111f28540619e3"],["4a7406140d09ceb3"]]},{"id":"4a7406140d09ceb3","type":"debug","z":"6b22ce2a482c2d6d","name":"restarted counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1556,"y":360,"wires":[]},{"id":"2c111f28540619e3","type":"debug","z":"6b22ce2a482c2d6d","name":"started counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1546,"y":305,"wires":[]},{"id":"5e74391f2b90b291","type":"debug","z":"6b22ce2a482c2d6d","name":"dead counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1537,"y":246,"wires":[]},{"id":"efac69a788e070b5","type":"delay","z":"6b22ce2a482c2d6d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1444.4285888671875,"y":122.85714721679688,"wires":[["35f156dc1adffb2e"]]},{"id":"8277b19f347ddcfb","type":"change","z":"6b22ce2a482c2d6d","name":"","rules":[{"p":"action","pt":"msg","t":"set","to":"restart","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.7142486572266,"y":305,"wires":[["021e749ad389ab88"]]},{"id":"ecc4a57d16271520","type":"join","z":"6b22ce2a482c2d6d","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"250","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":795.7142715454102,"y":666.428596496582,"wires":[["7a6ae313d3d52f28"]]},{"id":"7a6ae313d3d52f28","type":"ut-assert-success","z":"6b22ce2a482c2d6d","name":"","x":805.7142715454102,"y":616.4285621643066,"wires":[]},{"id":"7bd8ce5730037e43","type":"join","z":"6b22ce2a482c2d6d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1281,"y":841.4286015033722,"wires":[["55138caf28db4d78"]]},{"id":"55138caf28db4d78","type":"ut-assert-success","z":"6b22ce2a482c2d6d","name":"","x":1492.857177734375,"y":841.4286015033722,"wires":[]},{"id":"96142ce5de2c09c3","type":"join","z":"6b22ce2a482c2d6d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"30","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1281,"y":787.75,"wires":[["11f666f77b5df1bb"]]},{"id":"11f666f77b5df1bb","type":"ut-assert-failure","z":"6b22ce2a482c2d6d","name":"","x":1485,"y":787.75,"wires":[]},{"id":"eaf756cb0b4d0e61","type":"ut-assert-success","z":"6b22ce2a482c2d6d","name":"","x":1536,"y":189.5,"wires":[]}]