priv/testflows/b864b3e3510cd120/flows.json
[{"id":"b864b3e3510cd120","type":"tab","label":"[http] post requests - json content","disabled":false,"info":"Post requests have formdata form, handle binary data and json content or plain text.\n\n","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"},{"name":"ERED_TIMEOUT","value":"3","type":"num"}]},{"id":"b29550d7fb531718","type":"http in","z":"b864b3e3510cd120","name":"","url":"/tb864b3e3510cd120/data","method":"post","upload":false,"swaggerDoc":"","x":197,"y":208.25,"wires":[["d44e6d2a2486f53e","fedba336ce487092","24654fde735ea5e5"]]},{"id":"6769eaa26a8493f1","type":"http response","z":"b864b3e3510cd120","name":"","statusCode":"200","headers":{},"x":612,"y":431,"wires":[]},{"id":"5a2c281c92f8b8c4","type":"http request","z":"b864b3e3510cd120","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:8080/tb864b3e3510cd120/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":608,"y":754,"wires":[["17f83f445e55daa6"]]},{"id":"9587bcbe2dfedfdd","type":"inject","z":"b864b3e3510cd120","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":199,"y":518,"wires":[["2e442f3b0bb40958"]]},{"id":"2e442f3b0bb40958","type":"template","z":"b864b3e3510cd120","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{ \"value\": \"hello world\" }","output":"str","x":374,"y":638,"wires":[["5a2c281c92f8b8c4"]]},{"id":"d44e6d2a2486f53e","type":"template","z":"b864b3e3510cd120","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"response\": {{{ payload }}}\n}","output":"str","x":420,"y":353,"wires":[["6769eaa26a8493f1"]]},{"id":"fedba336ce487092","type":"ut-assert-success","z":"b864b3e3510cd120","name":"","x":452,"y":60.5,"wires":[]},{"id":"17f83f445e55daa6","type":"ut-assert-success","z":"b864b3e3510cd120","name":"","x":884,"y":753,"wires":[]},{"id":"24654fde735ea5e5","type":"json","z":"b864b3e3510cd120","name":"","property":"payload","action":"","pretty":false,"x":508,"y":208.25,"wires":[["332f0fd7b72d092c"]]},{"id":"332f0fd7b72d092c","type":"ut-assert-values","z":"b864b3e3510cd120","name":"","rules":[{"p":"payload.value","pt":"msg","t":"eql","to":"hello world","tot":"str"},{"p":"payload","pt":"msg","t":"eql","to":"{ \"value\" : \"hello world\" }","tot":"json"}],"x":827,"y":208.25,"wires":[[]]}]