priv/testflows/7fea9696f6186962/flows.json
[{"id":"7fea9696f6186962","type":"tab","label":"[complete] avoid recursion - test case 2","disabled":false,"info":"so complete nodes can also listen to each other can cause loops that way.\n\nHere two of the complete nodes are listening to each other - the third is looking on.\n\nIn this example, \n\n- complete node 1 is listening to complete node 2\n- complete node 2 is listening to complete node 1 --> the endless loop\n- complete node 3 is only listening to the inject and debug nodes.","env":[{"name":"ERED_PENDING","value":"false","type":"bool"}]},{"id":"98893bd6f3dd70ed","type":"group","z":"7fea9696f6186962","name":"ensure no endless loop happens, four messages shoud be received.","style":{"label":true},"nodes":["ae010177d5561576","a5218e8790e3a1c9","0645272567b7aebb","e3ef7a2fecdce886"],"x":713,"y":498.75,"w":627,"h":140},{"id":"b355c76176e5d04d","type":"group","z":"7fea9696f6186962","name":"ensure no endless loop happens, four messages shoud be received.","style":{"label":true},"nodes":["13cab5b43025de43","f26585342936ac14","d8178da676078638","9870a72b844b2920"],"x":983,"y":316,"w":627,"h":140},{"id":"060afd41ecb7233e","type":"group","z":"7fea9696f6186962","style":{"color":"#a4a4a4","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","stroke":"#999999","stroke-opacity":"1"},"nodes":["75c0c4228cc1883b","b23610afe47a599e","c2fb14343074f6cf","5a7b240ff2791791"],"x":724,"y":112,"w":556,"h":127},{"id":"458cfb74ed0c6a8e","type":"inject","z":"7fea9696f6186962","name":"inject node","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":667,"wires":[["2202f587f001e95e"]]},{"id":"26a92e7e4a2e4ac9","type":"complete","z":"7fea9696f6186962","name":"complete node 1","scope":["458cfb74ed0c6a8e","2202f587f001e95e","7cadebf6ddc445ec"],"uncaught":false,"x":359,"y":413.5,"wires":[["ae010177d5561576"]]},{"id":"2202f587f001e95e","type":"debug","z":"7fea9696f6186962","name":"debug 395","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1505,"y":667,"wires":[]},{"id":"dfdc073a9572613a","type":"complete","z":"7fea9696f6186962","name":"complete node 3","scope":["458cfb74ed0c6a8e","2202f587f001e95e"],"uncaught":false,"x":359,"y":325,"wires":[["75c0c4228cc1883b"]]},{"id":"7cadebf6ddc445ec","type":"complete","z":"7fea9696f6186962","name":"complete node 2","scope":["458cfb74ed0c6a8e","26a92e7e4a2e4ac9","2202f587f001e95e"],"uncaught":false,"x":359,"y":369.25,"wires":[["13cab5b43025de43"]]},{"id":"ae010177d5561576","type":"join","z":"7fea9696f6186962","g":"98893bd6f3dd70ed","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":789,"y":539.75,"wires":[["a5218e8790e3a1c9","0645272567b7aebb"]]},{"id":"a5218e8790e3a1c9","type":"join","z":"7fea9696f6186962","g":"98893bd6f3dd70ed","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":955,"y":597.75,"wires":[["e3ef7a2fecdce886"]]},{"id":"0645272567b7aebb","type":"ut-assert-success","z":"7fea9696f6186962","g":"98893bd6f3dd70ed","name":"","x":1077,"y":539.75,"wires":[]},{"id":"e3ef7a2fecdce886","type":"ut-assert-failure","z":"7fea9696f6186962","g":"98893bd6f3dd70ed","name":"","x":1244,"y":597.75,"wires":[]},{"id":"13cab5b43025de43","type":"join","z":"7fea9696f6186962","g":"b355c76176e5d04d","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1059,"y":357,"wires":[["f26585342936ac14","d8178da676078638"]]},{"id":"f26585342936ac14","type":"join","z":"7fea9696f6186962","g":"b355c76176e5d04d","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1225,"y":415,"wires":[["9870a72b844b2920"]]},{"id":"d8178da676078638","type":"ut-assert-success","z":"7fea9696f6186962","g":"b355c76176e5d04d","name":"","x":1347,"y":357,"wires":[]},{"id":"9870a72b844b2920","type":"ut-assert-failure","z":"7fea9696f6186962","g":"b355c76176e5d04d","name":"","x":1514,"y":415,"wires":[]},{"id":"75c0c4228cc1883b","type":"join","z":"7fea9696f6186962","g":"060afd41ecb7233e","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":800,"y":153,"wires":[["b23610afe47a599e","c2fb14343074f6cf"]]},{"id":"b23610afe47a599e","type":"join","z":"7fea9696f6186962","g":"060afd41ecb7233e","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":875,"y":197,"wires":[["5a7b240ff2791791"]]},{"id":"c2fb14343074f6cf","type":"ut-assert-success","z":"7fea9696f6186962","g":"060afd41ecb7233e","name":"","x":1038,"y":153,"wires":[]},{"id":"5a7b240ff2791791","type":"ut-assert-failure","z":"7fea9696f6186962","g":"060afd41ecb7233e","name":"","x":1184,"y":198,"wires":[]}]