priv/testflows/4d9e38557d6fbd2d/flows.json
[{"id":"4d9e38557d6fbd2d","type":"tab","label":"[.core] support JS hash naming in variable access","disabled":false,"info":"## Hash naming\n\nJavascript supports array-like access to object variables:\n\n```\nkey.key2[\"key-three-minus\"]\n```\n\nwhich is the equivalent to \n\n```\nkey.key2.key-three-minus\n```\n\nBut since `-` is not allowed in variable names nor in keynames when using dot-notation, JS invented the array-like accessing of keynames with minus and other special characters.\n\nSince objects attributes can definitely contain minus & spaces & all sorts.\n\n## Workaround\n\nUntil this is implemented, the <a class=\"ahl-node-only\" data-ids=\"607f5f9390cebd42\">function 2</a> node provides a workaround by using Erlang code to access the map data directly.\n\n","env":[{"name":"ERED_PENDING","type":"bool","value":"true"}]},{"id":"5abd420aeac80657","type":"function","z":"4d9e38557d6fbd2d","name":"function 1","func":"maps:put(req, \n#{cookies =>\n[{<<\"wsname\">>,<<\"none\">>}],\nparams => #{},\nuri => <<\"http://red-erik.org/\">>,\nquery => #{},body => <<>>,\nheaders =>\n#{<<\"accept\">> =>\n<<\"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\">>,\n<<\"accept-encoding\">> =>\n<<\"gzip, deflate, br, zstd\">>,\n<<\"accept-language\">> =>\n<<\"en-GB,en;q=0.5\">>,\n<<\"cookie\">> =>\n<<\"wsname=none\">>,\n<<\"dnt\">> => <<\"1\">>,\n<<\"host\">> =>\n<<\"red-erik.org\">>,\n<<\"priority\">> => <<\"u=0, i\">>,\n<<\"sec-fetch-dest\">> =>\n<<\"document\">>,\n<<\"sec-fetch-mode\">> =>\n<<\"navigate\">>,\n<<\"sec-fetch-site\">> =>\n<<\"cross-site\">>,\n<<\"server\">> => <<\"Heroku\">>,\n<<\"upgrade-insecure-requests\">> =>\n<<\"1\">>,\n<<\"user-agent\">> =>\n<<\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:128.0) Gecko/20100101 Firefox/128.0\">>,\n<<\"via\">> =>\n<<\"2.0 heroku-router\">>,\n<<\"x-forwarded-for\">> =>\n<<\"46.142.30.68\">>,\n<<\"x-forwarded-port\">> =>\n<<\"443\">>,\n<<\"x-forwarded-proto\">> =>\n<<\"https\">>,\n<<\"x-request-id\">> =>\n<<\"f0c743fc-00d0-b6d3-360c-07a4b99cfc88\">>,\n<<\"x-request-start\">> =>\n<<\"1749713466544\">>},\nmethod => <<\"GET\">>,\npara1 => #{ <<\"para2\">> => #{ <<\"para3\">> => #{ <<\"para4\">> => <<\"hwllo\">> } } },\n<<\"para2\">> => #{ <<\"para2\">> => #{ <<\"para3\">> => #{ <<\"para4\">> => <<\"hwllo\">> } } },\nurl => <<\"/content/somethng.gif\">>},\nMsg)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":482,"y":284,"wires":[["87f1e96980686f63","623a88c4b95b2b5f","c7e5346b05ae268f","332356142f2e034b","fa2f1e130cd3daeb","607f5f9390cebd42","f5fe516234a15e40"]]},{"id":"20c58f12f652e7ef","type":"inject","z":"4d9e38557d6fbd2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":335,"y":353,"wires":[["5abd420aeac80657"]]},{"id":"87f1e96980686f63","type":"debug","z":"4d9e38557d6fbd2d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":842,"y":105,"wires":[]},{"id":"c7e5346b05ae268f","type":"switch","z":"4d9e38557d6fbd2d","name":"","property":"req.headers[\"x-forwarded-proto\"]","propertyType":"msg","rules":[{"t":"eq","v":"http","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":801,"y":421,"wires":[["3a0265cac1c63145"],[]]},{"id":"3a0265cac1c63145","type":"debug","z":"4d9e38557d6fbd2d","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1095,"y":331,"wires":[]},{"id":"623a88c4b95b2b5f","type":"change","z":"4d9e38557d6fbd2d","name":"","rules":[{"p":"schema","pt":"msg","t":"set","to":"req.headers[\"x-forwarded-proto\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":492,"wires":[["56aae1f66e9c8f6f"]]},{"id":"56aae1f66e9c8f6f","type":"debug","z":"4d9e38557d6fbd2d","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":483,"wires":[]},{"id":"332356142f2e034b","type":"json","z":"4d9e38557d6fbd2d","name":"","property":"req","action":"str","pretty":false,"x":850,"y":194,"wires":[["debd8eaabc9c6c9b"]]},{"id":"fa2f1e130cd3daeb","type":"change","z":"4d9e38557d6fbd2d","name":"handle a mix of atom and binary key names","rules":[{"p":"host","pt":"msg","t":"set","to":"req.headers.host","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":861,"y":680,"wires":[["cc8ac8236c4ccd90","1b5de5ce9dd8899a"]]},{"id":"debd8eaabc9c6c9b","type":"debug","z":"4d9e38557d6fbd2d","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":128,"wires":[]},{"id":"607f5f9390cebd42","type":"function","z":"4d9e38557d6fbd2d","name":"function 2","func":"case maps:find(req, Msg) of\n   {ok, D} ->\n       case maps:find(headers, D) of \n          {ok, H} ->\n            case maps:find(<<\"x-forwarded-proto\">>,H) of  \n                {ok, S} ->\n                    maps:put(schema, S, Msg);\n                _ -> \n                    Msg\n            end;\n           _ ->\n            Msg\n        end;\n    _ ->\n      Msg\nend\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":824,"y":275,"wires":[["c267d62666a10bee"]]},{"id":"c267d62666a10bee","type":"debug","z":"4d9e38557d6fbd2d","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1007,"y":235,"wires":[]},{"id":"cc8ac8236c4ccd90","type":"debug","z":"4d9e38557d6fbd2d","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1146,"y":667,"wires":[]},{"id":"1b5de5ce9dd8899a","type":"ut-assert-values","z":"4d9e38557d6fbd2d","name":"","rules":[{"p":"host","pt":"msg","t":"eql","to":"red-erik.org","tot":"str"}],"x":1111,"y":586.5,"wires":[[]]},{"id":"f5fe516234a15e40","type":"function","z":"4d9e38557d6fbd2d","name":"retrieve schema & host","func":"Msg2 = ered_header_retrieve:get_key(<<\"x-forwarded-proto\">>, schema, Msg),\nered_header_retrieve:get_key(<<\"host\">>, host, Msg2)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":763,"y":870,"wires":[["7d948996aba2be3d"]]},{"id":"7d948996aba2be3d","type":"ut-assert-values","z":"4d9e38557d6fbd2d","name":"","rules":[{"t":"eql","p":"host","pt":"msg","to":"red-erik.org","tot":"str"},{"t":"eql","p":"schema","pt":"msg","to":"https","tot":"str"}],"x":1039,"y":799,"wires":[[]]},{"id":"3a871b9f9224c8c3","type":"erlmodule","z":"4d9e38557d6fbd2d","name":"","module_name":"ered_header_retrieve","code":"-module(ered_header_retrieve).\n\n-export([get_key/3]).\n\nget_key(Keyname, AttrName, Msg) ->\n    case maps:find(req, Msg) of\n    {ok, D} ->\n        case maps:find(headers, D) of \n            {ok, H} ->\n                case maps:find(Keyname,H) of  \n                    {ok, S} ->\n                        maps:put(AttrName, S, Msg);\n                    _ -> \n                        Msg\n                end;\n            _ ->\n                Msg\n            end;\n        _ ->\n        Msg\n    end.","x":470.57147216796875,"y":743.5714340209961,"wires":[]}]