priv/testflows/70218d3772c38d89/flows.json
[{"id":"70218d3772c38d89","type":"tab","label":"[clientcode] Client code node test","disabled":false,"info":"## Client Code Node\n\nThis node is part of the [introspection](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-introspection) package and enables Javascript execution in the browser of the client.\n\n","env":[{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"},{"name":"ERED_TIMEOUT","type":"num","value":"9"}]},{"id":"b4843878deb6ef26","type":"ClientCode","z":"70218d3772c38d89","name":"","clientcode":"console.log(\"hello world client code node says hi\");\n\nmsg.fubar = \"snafu\"\n\nnode.send(msg)\n","format":"javascript","x":543.4285888671875,"y":349.5,"wires":[["5ce186cea0c11321","706bff49ed1611b0"]]},{"id":"2b103fbc50342432","type":"inject","z":"70218d3772c38d89","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":149.4285888671875,"y":349.5,"wires":[["b4843878deb6ef26","ecd1dce7d27fbe87"]]},{"id":"ecd1dce7d27fbe87","type":"ClientCode","z":"70218d3772c38d89","name":"","clientcode":"node.status({fill:\"red\",shape:\"ring\",text:\"message\"});\n\nsetTimeout(function() {\n    node.status({});\n}, 500);","format":"javascript","x":306,"y":519.75,"wires":[["290f51a770bac074"]]},{"id":"5ce186cea0c11321","type":"ut-assert-success","z":"70218d3772c38d89","name":"","x":740,"y":430.5,"wires":[]},{"id":"706bff49ed1611b0","type":"ut-assert-values","z":"70218d3772c38d89","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"fubar","pt":"msg","t":"eql","to":"snafu","tot":"str"}],"x":750,"y":268.5,"wires":[[]]},{"id":"d1108ef51671daea","type":"ut-assert-status","z":"70218d3772c38d89","name":"","nodeid":"ecd1dce7d27fbe87","content":"message","colour":"red","shape":"ring","inverse":false,"x":446,"y":600.5,"wires":[]},{"id":"290f51a770bac074","type":"ut-assert-failure","z":"70218d3772c38d89","name":"","x":586,"y":519.75,"wires":[]}]