priv/testflows/flow.27804627fb8f56bd.json
[
    {
        "id": "27804627fb8f56bd",
        "type": "tab",
        "label": "[http] nodes should be able handle requests",
        "disabled": false,
        "info": "This works but only when done by hand and with the correct browser.\n\nIt remains pending because there is are a couple of issues with handling a message the contains no process id in the unit tests.",
        "env": [
            {
                "name": "ERED_PENDING",
                "value": "true",
                "type": "bool"
            }
        ]
    },
    {
        "id": "fc6d2a8652ac0a13",
        "type": "http in",
        "z": "27804627fb8f56bd",
        "name": "",
        "url": "/test/url",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 206,
        "y": 329,
        "wires": [
            [
                "1e3a49fdb9c9a6a1",
                "2f6d1e07ce823658"
            ]
        ]
    },
    {
        "id": "1e3a49fdb9c9a6a1",
        "type": "template",
        "z": "27804627fb8f56bd",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Hello world\n\nAnd one more tings.\n\nthis is a test.",
        "output": "str",
        "x": 393,
        "y": 436,
        "wires": [
            [
                "b35819f95cd15265",
                "f360874ff1e46fc3"
            ]
        ]
    },
    {
        "id": "b35819f95cd15265",
        "type": "http response",
        "z": "27804627fb8f56bd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 526,
        "wires": []
    },
    {
        "id": "f360874ff1e46fc3",
        "type": "debug",
        "z": "27804627fb8f56bd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 696,
        "y": 445,
        "wires": []
    },
    {
        "id": "2f6d1e07ce823658",
        "type": "debug",
        "z": "27804627fb8f56bd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 429,
        "y": 297,
        "wires": []
    },
    {
        "id": "4240f1d591c027e7",
        "type": "ut-assert-success",
        "z": "27804627fb8f56bd",
        "name": "",
        "x": 448,
        "y": 707.5,
        "wires": []
    },
    {
        "id": "12559851e8165837",
        "type": "inject",
        "z": "27804627fb8f56bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 184,
        "y": 706,
        "wires": [
            [
                "4240f1d591c027e7"
            ]
        ]
    }
]