priv/testflows/flow.e1ced3b16782f7c8.json
[
    {
        "id": "e1ced3b16782f7c8",
        "type": "tab",
        "label": "[General] Junction nodes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ec8639204379324",
        "type": "junction",
        "z": "e1ced3b16782f7c8",
        "x": 761.0000014305115,
        "y": 494.71428632736206,
        "wires": [
            [
                "601a75e7083fd44e"
            ]
        ]
    },
    {
        "id": "601a75e7083fd44e",
        "type": "junction",
        "z": "e1ced3b16782f7c8",
        "x": 1035,
        "y": 495,
        "wires": [
            [
                "d126685fe4684567",
                "731d18c1a00704b5",
                "74932a18a6439205"
            ]
        ]
    },
    {
        "id": "323c39235c019b84",
        "type": "inject",
        "z": "e1ced3b16782f7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 413,
        "y": 330,
        "wires": [
            [
                "5ec8639204379324"
            ]
        ]
    },
    {
        "id": "d126685fe4684567",
        "type": "debug",
        "z": "e1ced3b16782f7c8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1383,
        "y": 226,
        "wires": []
    },
    {
        "id": "731d18c1a00704b5",
        "type": "debug",
        "z": "e1ced3b16782f7c8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1384,
        "y": 420,
        "wires": []
    },
    {
        "id": "74932a18a6439205",
        "type": "debug",
        "z": "e1ced3b16782f7c8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 627,
        "wires": []
    }
]