priv/testflows/flow.700c94899fdd3334.json
[
    {
        "id": "700c94899fdd3334",
        "type": "tab",
        "label": "[debug] status message counter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec5287fe2b0f255b",
        "type": "inject",
        "z": "700c94899fdd3334",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 318,
        "y": 509,
        "wires": [
            [
                "d5f4066d0a2c803f"
            ]
        ]
    },
    {
        "id": "d5f4066d0a2c803f",
        "type": "debug",
        "z": "700c94899fdd3334",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 376,
        "y": 387,
        "wires": []
    },
    {
        "id": "805fcc499e5801e2",
        "type": "ut-assert-status",
        "z": "700c94899fdd3334",
        "name": "",
        "nodeid": "d5f4066d0a2c803f",
        "content": "",
        "colour": "grey",
        "shape": "dot",
        "x": 619,
        "y": 552.5,
        "wires": []
    }
]