priv/testflows/flow.c4690c0a085d6ef5.json
[
    {
        "id": "c4690c0a085d6ef5",
        "type": "tab",
        "label": "[json] parse example json content",
        "disabled": false,
        "info": "parse a json string into an object.\n\nread a file containing JSON, pass that off to a JSON node to convert that to list of maps (in this case).\n\n## Sometime bug here\n\nDebug node can generate decode errors when deal with the content here and it has to do with format.\n\n--> [decodeObject](https://github.com/node-red/node-red/blob/1eb9aa0eedcbcb6fab78ec950523ea71aeaa2760/packages/node_modules/%40node-red/editor-client/src/js/ui/utils.js#L1277-L1300) causes errors if the format on the debug message isn't correct.",
        "env": []
    },
    {
        "id": "453848d471cdd83d",
        "type": "inject",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "props": [
            {
                "p": "filename",
                "v": "priv/testdata/test.json",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 273,
        "y": 231,
        "wires": [
            [
                "962cb9fb663ba64d",
                "57f58d3e81d73921"
            ]
        ]
    },
    {
        "id": "962cb9fb663ba64d",
        "type": "file in",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 427,
        "y": 336,
        "wires": [
            [
                "7778fb3372eda641",
                "9e8394f480ba405a",
                "f3d21b6c8e431f9f"
            ]
        ]
    },
    {
        "id": "7778fb3372eda641",
        "type": "json",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 591,
        "y": 460,
        "wires": [
            [
                "84fa8ce2a3953064"
            ]
        ]
    },
    {
        "id": "84fa8ce2a3953064",
        "type": "debug",
        "z": "c4690c0a085d6ef5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 834,
        "y": 459,
        "wires": []
    },
    {
        "id": "9e8394f480ba405a",
        "type": "debug",
        "z": "c4690c0a085d6ef5",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 714,
        "y": 335,
        "wires": []
    },
    {
        "id": "57f58d3e81d73921",
        "type": "debug",
        "z": "c4690c0a085d6ef5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 593,
        "y": 232,
        "wires": []
    },
    {
        "id": "f3d21b6c8e431f9f",
        "type": "ut-assert-success",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "x": 718,
        "y": 289,
        "wires": []
    },
    {
        "id": "13bdc3b87be1f394",
        "type": "ut-assert-debug",
        "z": "c4690c0a085d6ef5",
        "name": "",
        "nodeid": "84fa8ce2a3953064",
        "msgtype": "normal",
        "inverse": false,
        "x": 967,
        "y": 508.5,
        "wires": []
    }
]