priv/testflows/flow.2037454a5ee0d6c3.json
[
    {
        "id": "2037454a5ee0d6c3",
        "type": "tab",
        "label": "[.jsonata] basic support for JSONata",
        "disabled": false,
        "info": "[JSONata](https://jsonata.org/) is very heaviliy embedded in Node-RED and provides a good service for minor manipulations of the Msg object.\n\nIts usage is mainly to avoid adding a function node with one line of code - because that is often all that is needed.\n\nIn a visual, low-code environment, the use of the function node is actually a code smell.\n\nJSONata is feature reach and far to complex to implement in two days. So the current implementation - at the time of writing - provides a very minor subset of what JSONata can do.\n\n",
        "env": []
    },
    {
        "id": "17cbd1a244fbf2ac",
        "type": "group",
        "z": "2037454a5ee0d6c3",
        "name": "JSONata helper",
        "style": {
            "label": true
        },
        "nodes": [
            "4568c7342aebcd4e",
            "28b0c3032848539f",
            "e3e1beeda4a654d4"
        ],
        "x": 51,
        "y": 1002,
        "w": 404,
        "h": 124
    },
    {
        "id": "16c6db7364c11bd1",
        "type": "inject",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 84,
        "y": 399,
        "wires": [
            [
                "b10c774a078c8d82",
                "3895c01857450267",
                "ecda6b9ee4d85f55",
                "322f657814dce9a8",
                "b33602daf0e3cd49",
                "6bef0f3799844495",
                "f0ed8b486d73e527"
            ]
        ]
    },
    {
        "id": "b10c774a078c8d82",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "map creation with comments ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "world",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "map",
                "pt": "msg",
                "to": "/* comment one */ \t{\t    \"key\": \"hello \" & $$.payload\t}  \t/* comment two */",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 136,
        "wires": [
            [
                "5ce29a3137ffb466"
            ]
        ]
    },
    {
        "id": "5ce29a3137ffb466",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "map.key",
                "pt": "msg",
                "to": "hello world",
                "tot": "str"
            }
        ],
        "x": 948,
        "y": 136,
        "wires": [
            []
        ]
    },
    {
        "id": "3895c01857450267",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "string concatenation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"hrllo \" & \" world \" & \" 1234 \" & 10 & \" goodbye \" & \" cruel \" & world",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 209,
        "wires": [
            [
                "509fc0408688ce05"
            ]
        ]
    },
    {
        "id": "ecda6b9ee4d85f55",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "simple string",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"hello world\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 305,
        "wires": [
            [
                "4a3ee103aa7083ab"
            ]
        ]
    },
    {
        "id": "863c67f21d0ca4cb",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "hrllo  world  1234 10 goodbye  cruel world",
                "tot": "str"
            }
        ],
        "x": 948,
        "y": 209,
        "wires": [
            []
        ]
    },
    {
        "id": "99e6d72cb8c633a9",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "hello world",
                "tot": "str"
            }
        ],
        "x": 948,
        "y": 305,
        "wires": [
            []
        ]
    },
    {
        "id": "322f657814dce9a8",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "replace stuff",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"hello world\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace($$.payload, \"hello\", \"goodbye cruel\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 403,
        "wires": [
            [
                "d9bd2d0f0f9d1de9"
            ]
        ]
    },
    {
        "id": "d9bd2d0f0f9d1de9",
        "type": "link call",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "links": [
            "4568c7342aebcd4e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 665,
        "y": 403,
        "wires": [
            [
                "9b73d830d29d1c7b"
            ]
        ]
    },
    {
        "id": "4568c7342aebcd4e",
        "type": "link in",
        "z": "2037454a5ee0d6c3",
        "g": "17cbd1a244fbf2ac",
        "name": "convert payload to string",
        "links": [],
        "x": 92,
        "y": 1085,
        "wires": [
            [
                "28b0c3032848539f"
            ]
        ]
    },
    {
        "id": "28b0c3032848539f",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "g": "17cbd1a244fbf2ac",
        "name": "$toString($$.payload)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$toString($$.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 266,
        "y": 1043,
        "wires": [
            [
                "e3e1beeda4a654d4"
            ]
        ],
        "info": "necessary because JSONata does things in lists while ErlangRED does things in binary."
    },
    {
        "id": "e3e1beeda4a654d4",
        "type": "link out",
        "z": "2037454a5ee0d6c3",
        "g": "17cbd1a244fbf2ac",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 414,
        "y": 1085,
        "wires": []
    },
    {
        "id": "9b73d830d29d1c7b",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "goodbye cruel world",
                "tot": "str"
            }
        ],
        "x": 948,
        "y": 403,
        "wires": [
            []
        ]
    },
    {
        "id": "4a3ee103aa7083ab",
        "type": "link call",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "links": [
            "4568c7342aebcd4e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 665,
        "y": 305,
        "wires": [
            [
                "99e6d72cb8c633a9"
            ]
        ]
    },
    {
        "id": "509fc0408688ce05",
        "type": "link call",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "links": [
            "4568c7342aebcd4e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 665,
        "y": 209,
        "wires": [
            [
                "863c67f21d0ca4cb"
            ]
        ]
    },
    {
        "id": "b33602daf0e3cd49",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "count array lengths",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[1,2,3,4,5,6,7,8,9,10,11,12,13,14]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$count($$.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 506,
        "wires": [
            [
                "0bcaf5273f0c6c65"
            ]
        ]
    },
    {
        "id": "0bcaf5273f0c6c65",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "14",
                "tot": "num"
            }
        ],
        "x": 948,
        "y": 506,
        "wires": [
            []
        ]
    },
    {
        "id": "6bef0f3799844495",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "concat strings with nesting",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"key\":{\"key2\":{\"key3\":\"3\",\"key_int\":10},\"float\":123.121,\"string\":\"sdsadsa\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$$.payload.key.float & $$.payload.key.string & $$.payload.key.key2.key3 & $$.payload.key.key2.key_int",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 602,
        "wires": [
            [
                "35836bbc4bc5bc5f"
            ]
        ]
    },
    {
        "id": "35836bbc4bc5bc5f",
        "type": "link call",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "links": [
            "4568c7342aebcd4e"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 665,
        "y": 602,
        "wires": [
            [
                "5cb1c21b7ea453dc"
            ]
        ]
    },
    {
        "id": "5cb1c21b7ea453dc",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "1.23120999999999995111e+02sdsadsa310",
                "tot": "str"
            }
        ],
        "x": 948,
        "y": 602,
        "wires": [
            []
        ]
    },
    {
        "id": "f0ed8b486d73e527",
        "type": "change",
        "z": "2037454a5ee0d6c3",
        "name": "underscored key names",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"_key\":{\"_key2\":{\"_key3\":3}}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$$.payload._key._key2._key3",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 361.5,
        "y": 681,
        "wires": [
            [
                "ba768d4eec826516"
            ]
        ]
    },
    {
        "id": "ba768d4eec826516",
        "type": "ut-assert-values",
        "z": "2037454a5ee0d6c3",
        "name": "",
        "rules": [
            {
                "t": "eql",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "x": 948,
        "y": 681,
        "wires": [
            []
        ]
    }
]