priv/testflows/684b9066e98b9722/flows.json
[{"id":"684b9066e98b9722","type":"tab","label":"[.core] Disabled node should not be sent messages","disabled":false,"info":"","env":[]},{"id":"7858c408d5bd9924","type":"inject","z":"684b9066e98b9722","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topic","payload":"","payloadType":"date","x":445,"y":492,"wires":[["db8bceace56b9372","5f1037b340fd4a2a"]]},{"id":"db8bceace56b9372","type":"change","z":"684b9066e98b9722","d":true,"name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":628,"wires":[["6ffb42994558d036","81041d1986d3226d","056235b62ce89f51"]]},{"id":"6ffb42994558d036","type":"debug","z":"684b9066e98b9722","name":"debug connected to disabled node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":560,"wires":[]},{"id":"5f1037b340fd4a2a","type":"change","z":"684b9066e98b9722","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"hello world","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742,"y":357,"wires":[["12d6fbd6df506ff4","28bb959129bdf18a","d5978770da9f8bc7"]]},{"id":"12d6fbd6df506ff4","type":"debug","z":"684b9066e98b9722","name":"enabled node debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":400,"wires":[]},{"id":"28bb959129bdf18a","type":"ut-assert-success","z":"684b9066e98b9722","name":"","x":1130,"y":260,"wires":[]},{"id":"81041d1986d3226d","type":"ut-assert-failure","z":"684b9066e98b9722","name":"","x":1150,"y":640,"wires":[]},{"id":"d5978770da9f8bc7","type":"ut-assert-failure","z":"684b9066e98b9722","d":true,"name":"","x":1039,"y":193,"wires":[]},{"id":"056235b62ce89f51","type":"ut-assert-success","z":"684b9066e98b9722","d":true,"name":"","x":1047,"y":740,"wires":[]}]