priv/testflows/b8269a6664b5cd20/flows.json
[{"id":"b8269a6664b5cd20","type":"tab","label":"[.jsonata] $replace should be working for newlines","disabled":false,"info":"## Replace replaces newlines\n\nA test for replacing newlines even if the payload becomes a list.\n\nThe list can be converted to a binary using the $toString(..) JSONata function.","env":[]},{"id":"21108799d1412f23","type":"change","z":"b8269a6664b5cd20","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$replace($$.payload, \"\\n\", \"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":660.5,"wires":[["b20c7d95ec0df8bc"]]},{"id":"7e20bf8e3a40740d","type":"inject","z":"b8269a6664b5cd20","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"asdasd\" & \"\\n\"","payloadType":"jsonata","x":208,"y":660.5,"wires":[["21108799d1412f23","4760ef94c07042ae"]]},{"id":"4760ef94c07042ae","type":"ut-assert-values","z":"b8269a6664b5cd20","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"asdasd\\n","tot":"str"}],"x":547,"y":464.5,"wires":[[]]},{"id":"b20c7d95ec0df8bc","type":"ut-assert-values","z":"b8269a6664b5cd20","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"asdasd","tot":"str"}],"x":961,"y":464.5,"wires":[[]]}]