priv/testflows/3edda6bd788f88c2/flows.json
[{"id":"3edda6bd788f88c2","type":"tab","label":"[switch] ensure JSONata support","disabled":false,"info":"","env":[{"name":"ERED_PENDING","type":"bool","value":"false"}]},{"id":"7cc11c35c9c89e21","type":"switch","z":"3edda6bd788f88c2","name":"jsonata as rule values","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"fubar\"","vt":"jsonata"},{"t":"eq","v":"\"snafu\"","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":367,"y":396,"wires":[["3bb5a50e950fa651"],["9ad811bdd52de1a8"],["b88b57ae7958eea4"]]},{"id":"7934269af4a2ff7d","type":"inject","z":"3edda6bd788f88c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"snafu","payloadType":"str","x":130,"y":396,"wires":[["7cc11c35c9c89e21"]]},{"id":"3bb5a50e950fa651","type":"ut-assert-failure","z":"3edda6bd788f88c2","name":"","x":615,"y":345,"wires":[]},{"id":"9ad811bdd52de1a8","type":"ut-assert-success","z":"3edda6bd788f88c2","name":"","x":801,"y":396,"wires":[]},{"id":"b88b57ae7958eea4","type":"ut-assert-failure","z":"3edda6bd788f88c2","name":"","x":613,"y":447,"wires":[]},{"id":"b2743ea336eab1a3","type":"switch","z":"3edda6bd788f88c2","name":"jsonata as property","property":"$$.payload","propertyType":"jsonata","rules":[{"t":"eq","v":"\"fubar\"","vt":"jsonata"},{"t":"eq","v":"\"snafu\"","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":357,"y":624,"wires":[["cc3f53e1b442617e"],["f16475368d6a48c9"],["498fc2ef5155918d"]]},{"id":"4b960c8fecc415f2","type":"inject","z":"3edda6bd788f88c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"snafu","payloadType":"str","x":130,"y":624,"wires":[["b2743ea336eab1a3"]]},{"id":"cc3f53e1b442617e","type":"ut-assert-failure","z":"3edda6bd788f88c2","name":"","x":780,"y":546,"wires":[]},{"id":"f16475368d6a48c9","type":"ut-assert-success","z":"3edda6bd788f88c2","name":"","x":780,"y":624,"wires":[]},{"id":"498fc2ef5155918d","type":"ut-assert-failure","z":"3edda6bd788f88c2","name":"","x":780,"y":700,"wires":[]},{"id":"0bb07294742d19a5","type":"switch","z":"3edda6bd788f88c2","name":"jsonata as property and values as strings","property":"$$.payload","propertyType":"jsonata","rules":[{"t":"eq","v":"fubar","vt":"str"},{"t":"eq","v":"snafu","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":427,"y":870,"wires":[["429ae5cd1519edf7"],["44bedf5f2798b22c"],["597f9a255214bac1"]]},{"id":"ae0f5b5124a7766e","type":"inject","z":"3edda6bd788f88c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"snafu","payloadType":"str","x":130,"y":870,"wires":[["0bb07294742d19a5"]]},{"id":"429ae5cd1519edf7","type":"ut-assert-failure","z":"3edda6bd788f88c2","name":"","x":887,"y":792,"wires":[]},{"id":"44bedf5f2798b22c","type":"ut-assert-success","z":"3edda6bd788f88c2","name":"","x":787,"y":870,"wires":[]},{"id":"597f9a255214bac1","type":"ut-assert-failure","z":"3edda6bd788f88c2","name":"","x":887,"y":946,"wires":[]}]