priv/testflows/d17062b01c4a9435/flows.json
[{"id":"d17062b01c4a9435","type":"tab","label":"[delay] random between two values","disabled":false,"info":"","env":[{"name":"ERED_TIMEOUT","type":"num","value":"4"}]},{"id":"fce6a913616013a2","type":"inject","z":"d17062b01c4a9435","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":555.3333129882812,"y":543.3333129882812,"wires":[["86f894186bd93eaf"]]},{"id":"86f894186bd93eaf","type":"delay","z":"d17062b01c4a9435","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"3","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":818,"y":545.3333129882812,"wires":[["cf03d6a10e14c1ec"]]},{"id":"cf03d6a10e14c1ec","type":"ut-assert-success","z":"d17062b01c4a9435","name":"","x":1097,"y":616.5,"wires":[]}]