priv/testflows/e1ced3b16782f7c8/flows.json
[{"id":"e1ced3b16782f7c8","type":"tab","label":"[junction] should just pass on the message","disabled":false,"info":"","env":[]},{"id":"5ec8639204379324","type":"junction","z":"e1ced3b16782f7c8","x":761.0000014305115,"y":494.71428632736206,"wires":[["601a75e7083fd44e","985135313ebea7b1"]]},{"id":"601a75e7083fd44e","type":"junction","z":"e1ced3b16782f7c8","x":1035,"y":495,"wires":[["d126685fe4684567","731d18c1a00704b5","74932a18a6439205","ca29c4bd63cd344c","b103f3998181ad9f","7f134138a938960c"]]},{"id":"323c39235c019b84","type":"inject","z":"e1ced3b16782f7c8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":413,"y":330,"wires":[["5ec8639204379324"]]},{"id":"d126685fe4684567","type":"debug","z":"e1ced3b16782f7c8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1383,"y":226,"wires":[]},{"id":"731d18c1a00704b5","type":"debug","z":"e1ced3b16782f7c8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1384,"y":420,"wires":[]},{"id":"74932a18a6439205","type":"debug","z":"e1ced3b16782f7c8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":627,"wires":[]},{"id":"ca29c4bd63cd344c","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","x":1571,"y":283,"wires":[]},{"id":"b103f3998181ad9f","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","x":1593,"y":503,"wires":[]},{"id":"7f134138a938960c","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","x":1577,"y":808,"wires":[]},{"id":"985135313ebea7b1","type":"ut-assert-success","z":"e1ced3b16782f7c8","name":"","x":968.5,"y":690,"wires":[]}]