priv/testflows/678153b1daa0529a/flows.json
[{"id":"678153b1daa0529a","type":"tab","label":"[function] divide by zero throws up an exception","disabled":false,"info":"","env":[]},{"id":"e1926e702f82036d","type":"inject","z":"678153b1daa0529a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":245,"y":278,"wires":[["0b270a75f19fe296"]]},{"id":"0b270a75f19fe296","type":"function","z":"678153b1daa0529a","name":"divide by zero causes an exception","func":"\n1 / 0","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":516,"y":413.25,"wires":[["f70d171602a22ea0"]]},{"id":"a7e6e47b5451fe98","type":"catch","z":"678153b1daa0529a","name":"","scope":null,"uncaught":false,"x":596,"y":226,"wires":[["0621d09c0eefb84a"]]},{"id":"0621d09c0eefb84a","type":"ut-assert-success","z":"678153b1daa0529a","name":"","x":868,"y":226,"wires":[]},{"id":"f70d171602a22ea0","type":"ut-assert-failure","z":"678153b1daa0529a","name":"","x":866,"y":413.25,"wires":[]}]