priv/testflows/678153b1daa0529a/flows.json
[{"id":"678153b1daa0529a","type":"tab","label":"[function] divide by zero throws kills node","disabled":false,"info":"","env":[{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"e1926e702f82036d","type":"inject","z":"678153b1daa0529a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":245,"y":278,"wires":[["0b270a75f19fe296"]]},{"id":"0b270a75f19fe296","type":"function","z":"678153b1daa0529a","name":"divide by zero causes an exception","func":"\n1 / 0","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":516,"y":413.25,"wires":[["f70d171602a22ea0"]]},{"id":"a7e6e47b5451fe98","type":"catch","z":"678153b1daa0529a","name":"","scope":null,"uncaught":false,"x":596,"y":226,"wires":[["ca2c10b559c6f148"]]},{"id":"f70d171602a22ea0","type":"ut-assert-failure","z":"678153b1daa0529a","name":"","x":866,"y":413.25,"wires":[]},{"id":"0b418b7bdc4b2e67","type":"erlsupervisor","z":"678153b1daa0529a","name":"","scope":["0b270a75f19fe296"],"supervisor_type":"dynamic","strategy":"one_for_one","auto_shutdown":"never","intensity":"1","period":"5","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"","x":574,"y":156,"wires":[[]]},{"id":"ca2c10b559c6f148","type":"ut-assert-failure","z":"678153b1daa0529a","name":"","x":865,"y":283.5,"wires":[]}]