priv/testflows/9d11bfc3a6d88535/flows.json
[{"id":"9d11bfc3a6d88535","type":"tab","label":"[delay] delay multiple message for the same length of time","disabled":false,"info":"Here delay is sent a series of messages at the same time and each is delayed for the amount given and not one after another.\n\nThe current implementation will wait for the first message to complete its delay before starting the delay on the second message and then the third, etc.\n\n~~This needs to change.~~ This was fixed.\n\nThis test has a timeout of 15 seconds and if the messages were sent in serial, then the delays would ensure that the test would take longer.","env":[{"name":"ERED_TIMEOUT","value":"15","type":"num"}]},{"id":"ec2ca049c5d8d124","type":"group","z":"9d11bfc3a6d88535","name":"all messages should have arrived in 12 seconds","style":{"label":true},"nodes":["71fcc3a83d0f4f1c","596ea4cca7282557","9928f17632eaf28b","ed5f57efe2c50969","2cb219c9dff11e99","7ad3dc81375e359e","83a011ab7ba69fba","a06716889545658a","0d898f457f0a7817","49085b9c3f550cb1","0632aa9f124bc8db"],"x":29,"y":261,"w":1015,"h":440},{"id":"71fcc3a83d0f4f1c","type":"inject","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":135,"y":446,"wires":[["596ea4cca7282557","9928f17632eaf28b","ed5f57efe2c50969","2cb219c9dff11e99","7ad3dc81375e359e","83a011ab7ba69fba","0d898f457f0a7817"]]},{"id":"596ea4cca7282557","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":377,"y":302,"wires":[["a06716889545658a"]]},{"id":"9928f17632eaf28b","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":377,"y":358,"wires":[["a06716889545658a"]]},{"id":"ed5f57efe2c50969","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":418,"wires":[["a06716889545658a"]]},{"id":"2cb219c9dff11e99","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":468,"wires":[["a06716889545658a"]]},{"id":"7ad3dc81375e359e","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":377,"y":528,"wires":[["a06716889545658a"]]},{"id":"83a011ab7ba69fba","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":377,"y":599,"wires":[["a06716889545658a"]]},{"id":"a06716889545658a","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":667,"y":455,"wires":[["49085b9c3f550cb1"]]},{"id":"0d898f457f0a7817","type":"delay","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","pauseType":"delay","timeout":"3451","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":660,"wires":[["a06716889545658a"]]},{"id":"49085b9c3f550cb1","type":"join","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":805,"y":373,"wires":[["0632aa9f124bc8db"]]},{"id":"0632aa9f124bc8db","type":"ut-assert-success","z":"9d11bfc3a6d88535","g":"ec2ca049c5d8d124","name":"","x":948,"y":373,"wires":[]}]