priv/testflows/6a9ffd45c418497b/flows.json
[{"id":"6a9ffd45c418497b","type":"tab","label":"[catch] file not found exception","disabled":false,"info":"file in node will throw an exception to the catch node if one is defined within the same flow. \n\nIt's up to the catch node to handle it or not.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"}]},{"id":"f7c29103767c99f3","type":"catch","z":"6a9ffd45c418497b","name":"","scope":null,"uncaught":false,"x":416,"y":480,"wires":[["4bcb22f7f4475002","204b7e59f9082e1a","9ce5ce298a392efd"]]},{"id":"4bcb22f7f4475002","type":"debug","z":"6a9ffd45c418497b","name":"debug 397","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":712,"y":200,"wires":[]},{"id":"5bd504d67ed2edb8","type":"inject","z":"6a9ffd45c418497b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":169,"y":367,"wires":[["39cedd1c01be1c7b","b08246b1ef39a353"]]},{"id":"39cedd1c01be1c7b","type":"file in","z":"6a9ffd45c418497b","name":"this is the name","filename":"dfsafsdf","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":433,"y":623,"wires":[[]]},{"id":"204b7e59f9082e1a","type":"ut-assert-success","z":"6a9ffd45c418497b","name":"","x":742,"y":480,"wires":[]},{"id":"1fd27adb35e43205","type":"ut-assert-debug","z":"6a9ffd45c418497b","name":"","nodeid":"4bcb22f7f4475002","msgtype":"normal","inverse":false,"x":749,"y":138.5,"wires":[]},{"id":"9ce5ce298a392efd","type":"ut-assert-values","z":"6a9ffd45c418497b","name":"","rules":[{"p":"error","pt":"msg","t":"set"},{"p":"error.source.name","pt":"msg","t":"eql","to":"this is the name","tot":"str"},{"p":"error.source.id","pt":"msg","t":"eql","to":"39cedd1c01be1c7b","tot":"str"}],"x":705,"y":344.5,"wires":[[]]},{"id":"b08246b1ef39a353","type":"ut-assert-values","z":"6a9ffd45c418497b","name":"","rules":[{"p":"error","pt":"msg","t":"notset"}],"x":415,"y":294,"wires":[[]]},{"id":"d7106702312ceca4","type":"ut-assert-debug","z":"6a9ffd45c418497b","name":"","nodeid":"39cedd1c01be1c7b","msgtype":"normal","inverse":true,"x":572,"y":698.5,"wires":[]}]