priv/testflows/34d211e37618313c/flows.json
[{"id":"34d211e37618313c","type":"tab","label":"[trigger] override via delay but no delay set","disabled":false,"info":"Handle the case where an override is allowed but the delay value isn't set on the message.\n\nThis test works by setting the payload in the inject to 3 and delaying that message by 100ms.\n\nThe inject triggers the trigger to send its initial payload of 0. The trigger than sends its second payload with a value of 1.\n\nThe join joins the messages as they arrive an that is 0,3,1 == because the 100ms delay causes the 3 to arrive after the 0 but before the 1 becausae the trigger has a delay of 250ms.","env":[{"name":"ERED_TIMEOUT","type":"num","value":"3"}]},{"id":"28d731d25702ac84","type":"inject","z":"34d211e37618313c","name":"delay isn't set","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":116,"y":350,"wires":[["5e1bf91df2d83d91","68b56d356723b156"]]},{"id":"5e1bf91df2d83d91","type":"trigger","z":"34d211e37618313c","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"250","extend":false,"overrideDelay":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":474,"y":350,"wires":[["02309b0fbccde192"]]},{"id":"02309b0fbccde192","type":"join","z":"34d211e37618313c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":781,"y":350,"wires":[["baa314d935f55238"]]},{"id":"baa314d935f55238","type":"ut-assert-values","z":"34d211e37618313c","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"[1,3,0]","tot":"json"}],"x":1109,"y":350,"wires":[[]]},{"id":"68b56d356723b156","type":"delay","z":"34d211e37618313c","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460.25,"y":437.625,"wires":[["02309b0fbccde192"]]},{"id":"c7816d1898888fe1","type":"ut-assert-status","z":"34d211e37618313c","name":"","nodeid":"5e1bf91df2d83d91","content":"","colour":"blue","shape":"dot","inverse":false,"x":541.75,"y":260.625,"wires":[]}]