priv/testflows/c4690c0a085d6ef5/flows.json
[{"id":"c4690c0a085d6ef5","type":"tab","label":"[json] parse example json content","disabled":false,"info":"## Parsing flow json file\n\nparse a json string into an object.\n\nread a file containing JSON, pass that off to a JSON node to convert that to list of maps (in this case).\n\nthen count the number of elements in the list and compare that number with 8!\n\nThe json happens to be a test flow json, so after this test, the json node can successfully parse a node red flow json file!\n\nIt's turtles all the way down.\n\n","env":[{"name":"ERED_KEEPRUNNING","value":"false","type":"bool"}]},{"id":"453848d471cdd83d","type":"inject","z":"c4690c0a085d6ef5","name":"","props":[{"p":"filename","v":"${priv}/testdata/test.json","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":253,"y":466,"wires":[["962cb9fb663ba64d"]]},{"id":"962cb9fb663ba64d","type":"file in","z":"c4690c0a085d6ef5","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":427,"y":466,"wires":[["7778fb3372eda641","f3d21b6c8e431f9f"]]},{"id":"7778fb3372eda641","type":"json","z":"c4690c0a085d6ef5","name":"","property":"payload","action":"obj","pretty":false,"x":591,"y":466,"wires":[["c1724fc6ab23c0c4"]]},{"id":"f3d21b6c8e431f9f","type":"ut-assert-success","z":"c4690c0a085d6ef5","name":"","x":718,"y":289,"wires":[]},{"id":"4ae89e9e828d9ebc","type":"ut-assert-values","z":"c4690c0a085d6ef5","name":"","rules":[{"t":"eql","p":"first","pt":"msg","to":"{\"disabled\":false,\"env\":[],\"id\":\"9e7ccc97f80d9afb\",\"info\":\"A file name can also be dynamic and be taken from the msg object passed to the file in node.\",\"label\":\"[file in] will accept file name from msg obj\",\"type\":\"tab\"}","tot":"json"}],"x":1051,"y":546.5,"wires":[[]]},{"id":"c1724fc6ab23c0c4","type":"change","z":"c4690c0a085d6ef5","name":"","rules":[{"t":"set","p":"first","pt":"msg","to":"$$.payload[0]","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":466,"wires":[["b1a7846c21cceac0","4ae89e9e828d9ebc"]]},{"id":"b1a7846c21cceac0","type":"ut-assert-values","z":"c4690c0a085d6ef5","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"8","tot":"num"}],"x":1061,"y":466,"wires":[[]]}]