priv/testflows/b9cd19107a5145c4/flows.json
[{"id":"b9cd19107a5145c4","type":"tab","label":"[complete] disabled nodes don't receive","disabled":false,"info":"Because this is an extra check in the codebase, ensure it really doesn't happen.","env":[]},{"id":"9fc40556db92ca35","type":"complete","z":"b9cd19107a5145c4","d":true,"name":"","scope":["ac2b53782e95de04"],"uncaught":false,"x":372,"y":349,"wires":[["667ed4a56ba042ed"]]},{"id":"ac2b53782e95de04","type":"inject","z":"b9cd19107a5145c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":264,"y":555,"wires":[[]]},{"id":"667ed4a56ba042ed","type":"ut-assert-failure","z":"b9cd19107a5145c4","name":"","x":652,"y":284.5,"wires":[]}]