priv/testflows/30c79fc42a5c35eb/flows.json
[{"id":"30c79fc42a5c35eb","type":"tab","label":"[complete] only handle messages from listened to nodes","disabled":false,"info":"This test case ensures that a complete node does not handle messages to which it is not listening to.\n\nIn the implementation, the responsibility for this is with the complete node, not the core.\n\n","env":[]},{"id":"f77ec6cb9c50b85b","type":"complete","z":"30c79fc42a5c35eb","name":"","scope":["cad9b617a04d4487"],"uncaught":false,"x":794.9999999999999,"y":281.66666666666663,"wires":[["fc2737a415ac7c04"]]},{"id":"52fabfd1297ec06e","type":"complete","z":"30c79fc42a5c35eb","name":"","scope":["6b9d1ccacdad251a"],"uncaught":false,"x":946.6666666666665,"y":373.33333333333326,"wires":[["d681348f9aa7c6e8"]]},{"id":"a3921d0d8bcb0c59","type":"complete","z":"30c79fc42a5c35eb","name":"","scope":["811501e971cdcdc2"],"uncaught":false,"x":1087,"y":467,"wires":[["234e1003275f723d"]]},{"id":"811501e971cdcdc2","type":"inject","z":"30c79fc42a5c35eb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":445,"y":438,"wires":[["cad9b617a04d4487"]]},{"id":"cad9b617a04d4487","type":"change","z":"30c79fc42a5c35eb","name":"payload = 2","rules":[{"p":"payload","pt":"msg","t":"set","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":611,"y":580,"wires":[["6b9d1ccacdad251a"]]},{"id":"6b9d1ccacdad251a","type":"change","z":"30c79fc42a5c35eb","name":"payload = 3","rules":[{"p":"payload","pt":"msg","t":"set","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":681,"wires":[["dd254228ea77e37a"]]},{"id":"dd254228ea77e37a","type":"change","z":"30c79fc42a5c35eb","name":"payload = 4","rules":[{"p":"payload","pt":"msg","t":"set","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":790,"wires":[["48ddc952e237c0c5","f4f456e990eb124f"]]},{"id":"48ddc952e237c0c5","type":"debug","z":"30c79fc42a5c35eb","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1229,"y":790,"wires":[]},{"id":"f4f456e990eb124f","type":"ut-assert-values","z":"30c79fc42a5c35eb","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"4","tot":"str"}],"x":1234,"y":689.5,"wires":[[]]},{"id":"234e1003275f723d","type":"ut-assert-values","z":"30c79fc42a5c35eb","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"1","tot":"str"}],"x":1281,"y":398,"wires":[[]]},{"id":"d681348f9aa7c6e8","type":"ut-assert-values","z":"30c79fc42a5c35eb","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"3","tot":"str"}],"x":1189,"y":323,"wires":[[]]},{"id":"fc2737a415ac7c04","type":"ut-assert-values","z":"30c79fc42a5c35eb","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"2","tot":"str"}],"x":1041,"y":227,"wires":[[]]}]