priv/testflows/213803d61ecfde3a/flows.json
[{"id":"213803d61ecfde3a","type":"tab","label":"[link nodes] mutliple links","disabled":false,"info":"","env":[]},{"id":"08bed11a90f30658","type":"link out","z":"213803d61ecfde3a","name":"link out 2","mode":"link","links":["2fb01662d00ebbef","74c42ab3a9c46a57","bdd3be43d56c30cc"],"x":326,"y":490,"wires":[]},{"id":"2fb01662d00ebbef","type":"link in","z":"213803d61ecfde3a","name":"link in 2","links":["08bed11a90f30658"],"x":528,"y":376,"wires":[["8177e80452165b92","88f0bdb21f973c9b"]]},{"id":"74c42ab3a9c46a57","type":"link in","z":"213803d61ecfde3a","name":"link in 3","links":["08bed11a90f30658"],"x":540,"y":556,"wires":[["39e2443ec45c9725","fe69a99146aa5dfa"]]},{"id":"bdd3be43d56c30cc","type":"link in","z":"213803d61ecfde3a","name":"link in 4","links":["08bed11a90f30658"],"x":546,"y":688,"wires":[["303bf66bdb5d5d20","861cf8265718cdb7"]]},{"id":"98863df9469aa3b8","type":"inject","z":"213803d61ecfde3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":182,"y":510,"wires":[["08bed11a90f30658"]]},{"id":"8177e80452165b92","type":"ut-assert-success","z":"213803d61ecfde3a","name":"","x":727,"y":241,"wires":[]},{"id":"39e2443ec45c9725","type":"ut-assert-success","z":"213803d61ecfde3a","name":"","x":684,"y":485,"wires":[]},{"id":"303bf66bdb5d5d20","type":"ut-assert-success","z":"213803d61ecfde3a","name":"","x":739,"y":687,"wires":[]},{"id":"88f0bdb21f973c9b","type":"debug","z":"213803d61ecfde3a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":825,"y":372,"wires":[]},{"id":"fe69a99146aa5dfa","type":"debug","z":"213803d61ecfde3a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":836,"y":554,"wires":[]},{"id":"861cf8265718cdb7","type":"debug","z":"213803d61ecfde3a","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":836,"y":785,"wires":[]}]