priv/testflows/b5fbcdbffb568569/flows.json
[{"id":"b5fbcdbffb568569","type":"tab","label":"[csv] [decode] single message for entire CSV, comma, RFC4180","disabled":false,"info":"Data taken from https://github.com/yumi-ito/sample_data/blob/master/covid19_factors_prefecture.csv\n\nSingle message generates an array of objects not an array of arrays. (List of Maps or List of Lists.)\n\n**Note**: When running this test, restart the flows else some of the assert false nodes will fail.","env":[{"name":"ERED_PENDING","value":"true","type":"bool"}]},{"id":"a8a2b5b0fd43ac04","type":"inject","z":"b5fbcdbffb568569","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":279,"y":421,"wires":[["fdfadd155fd15a93"]]},{"id":"fdfadd155fd15a93","type":"template","z":"b5fbcdbffb568569","name":"csv data","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"都道府県,人口集中地区人口比率,昼夜間人口比率,就業者比率,飲食店・宿泊業就業者比率,旅行行動者率,外国人宿泊者比率,単独世帯比率,人口10万人当たり感染者率\n北海道,75.2,99.9,45.25,5.79,54.6,25.29,37.19,24.12\n青森県,46.63,99.8,47.85,4.65,40.6,8.01,30.03,2.14\n岩手県,31.88,99.8,49.73,4.81,46.1,4.74,30.13,0\n宮城県,64.05,100.3,46.19,5.1,59.7,4.21,34.28,4.06\n秋田県,34.96,99.8,47.2,4.76,49.2,3.76,27.83,1.63\n山形県,43.69,99.7,50.01,4.66,54.4,3.07,25.42,6.33\n福島県,42.62,100.2,48.18,4.73,53.6,1.71,30.28,4.4\n茨城県,38.16,97.5,48.02,4.34,54.6,4.24,28.31,6.05\n栃木県,45.19,99,48.83,5.05,53.5,3.15,28.79,3.91\n群馬県,39.91,99.8,48.96,5.02,54.8,3.92,28.56,7.79\n埼玉県,80.2,88.9,47.95,4.52,65.7,3.93,30.44,15.89\n千葉県,74.28,89.7,46.28,5.06,64.8,17.22,32.31,15.19\n東京都,98.37,117.8,43.35,6.35,69.2,36.48,47.23,46.34\n神奈川県,94.41,91.2,45.16,5.23,66.5,13.4,35.37,16.67\n新潟県,48.66,99.9,49.51,4.78,57.3,3.73,27.54,3.74\n富山県,37.79,99.8,50.53,4.2,60.9,8.53,26.09,21.62\n石川県,51.45,100.2,49.62,5.81,60.8,10.8,31.44,26.25\n福井県,43.98,100,50.74,4.85,55.6,2.17,26.32,15.76\n山梨県,31.24,99.2,48.96,6.16,55.3,24.63,29.47,9.06\n長野県,34.23,99.8,50.97,5.81,56.7,8.96,27.8,3.73\n岐阜県,38.21,96.1,50,5.2,56.8,21.67,25.75,7.81\n静岡県,59.89,99.8,50.41,5.32,54.8,8.73,28.49,2.27\n愛知県,77.54,101.4,49.03,5.15,64.5,17.22,33.44,6.99\n三重県,43.46,98.3,48.06,4.72,59.7,4.62,29.36,2.57\n滋賀県,49.68,96.5,47.98,4.33,63.1,10.01,28.41,7.22\n京都府,83.56,101.8,45.69,6.56,59.7,29.48,38.16,14.63\n大阪府,95.66,104.4,42.74,5.76,59.1,36.2,37.48,21.04\n兵庫県,77.67,95.7,44.15,5.16,59.4,9.87,32.66,12.96\n奈良県,64.77,90,43.31,4.43,62,17.32,25.65,6.87\n和歌山県,37.23,98.2,46.22,5.18,49.6,9.58,29.29,6.84\n鳥取県,36.98,99.9,48.99,4.9,49.4,6.42,29.4,0.71\n島根県,24.24,100.1,49.4,4.69,49.6,2.42,30.1,3.53\n岡山県,46.69,100,46.88,4.14,54.5,9.34,32.15,1.37\n広島県,64.47,100.2,47,4.54,54.2,10.82,34.43,5.96\n山口県,49.22,99.6,45.92,4.52,51.5,2.65,33.25,2.7\n徳島県,32.7,99.6,45.37,4.22,48.9,5.45,32.07,0.82\n香川県,32.56,100.2,46.36,4.5,50.4,13.79,31.48,2.91\n愛媛県,52.95,100,46.4,4.42,50.6,5.73,33.51,6.07\n高知県,43.52,99.9,44.41,5.37,42.7,3.01,36.32,10.48\n福岡県,72.39,100.1,44.18,5.22,58.4,20.94,37.29,16.8\n佐賀県,31.43,100.2,49.26,4.89,50.7,15.56,26.77,5.74\n長崎県,48.03,99.8,46.77,5.44,46.8,9.58,31.8,12.3\n熊本県,47.81,99.5,46.71,4.97,51.3,13.64,30.82,2.79\n大分県,47.23,99.9,46.83,5.33,53.8,18.46,33.1,5.24\n宮崎県,46.11,99.9,47.03,4.92,48.4,9.27,32.02,1.57\n鹿児島県,40.21,99.9,45.74,5.31,49.6,10.62,35.55,1.3\n沖縄県,67.79,100,41.13,8.05,37.8,23.17,32.29,9.81\n","output":"str","x":452,"y":566.5,"wires":[["9b288ca5fcaf136c","606636306936063c"]]},{"id":"9b288ca5fcaf136c","type":"csv","z":"b5fbcdbffb568569","name":"first line isn't column name header","spec":"rfc","sep":",","hdrin":false,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":737,"y":566.5,"wires":[["76fe297d17eeadf7"]]},{"id":"606636306936063c","type":"csv","z":"b5fbcdbffb568569","name":"first line is header","spec":"rfc","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":777,"y":661.5,"wires":[["5d17c97ea37fd18a"]]},{"id":"76fe297d17eeadf7","type":"ut-assert-values","z":"b5fbcdbffb568569","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"[{\"col1\":\"都道府県\",\"col2\":\"人口集中地区人口比率\",\"col3\":\"昼夜間人口比率\",\"col4\":\"就業者比率\",\"col5\":\"飲食店・宿泊業就業者比率\",\"col6\":\"旅行行動者率\",\"col7\":\"外国人宿泊者比率\",\"col8\":\"単独世帯比率\",\"col9\":\"人口10万人当たり感染者率\"},{\"col1\":\"北海道\",\"col2\":75.2,\"col3\":99.9,\"col4\":45.25,\"col5\":5.79,\"col6\":54.6,\"col7\":25.29,\"col8\":37.19,\"col9\":24.12},{\"col1\":\"青森県\",\"col2\":46.63,\"col3\":99.8,\"col4\":47.85,\"col5\":4.65,\"col6\":40.6,\"col7\":8.01,\"col8\":30.03,\"col9\":2.14},{\"col1\":\"岩手県\",\"col2\":31.88,\"col3\":99.8,\"col4\":49.73,\"col5\":4.81,\"col6\":46.1,\"col7\":4.74,\"col8\":30.13,\"col9\":0},{\"col1\":\"宮城県\",\"col2\":64.05,\"col3\":100.3,\"col4\":46.19,\"col5\":5.1,\"col6\":59.7,\"col7\":4.21,\"col8\":34.28,\"col9\":4.06},{\"col1\":\"秋田県\",\"col2\":34.96,\"col3\":99.8,\"col4\":47.2,\"col5\":4.76,\"col6\":49.2,\"col7\":3.76,\"col8\":27.83,\"col9\":1.63},{\"col1\":\"山形県\",\"col2\":43.69,\"col3\":99.7,\"col4\":50.01,\"col5\":4.66,\"col6\":54.4,\"col7\":3.07,\"col8\":25.42,\"col9\":6.33},{\"col1\":\"福島県\",\"col2\":42.62,\"col3\":100.2,\"col4\":48.18,\"col5\":4.73,\"col6\":53.6,\"col7\":1.71,\"col8\":30.28,\"col9\":4.4},{\"col1\":\"茨城県\",\"col2\":38.16,\"col3\":97.5,\"col4\":48.02,\"col5\":4.34,\"col6\":54.6,\"col7\":4.24,\"col8\":28.31,\"col9\":6.05},{\"col1\":\"栃木県\",\"col2\":45.19,\"col3\":99,\"col4\":48.83,\"col5\":5.05,\"col6\":53.5,\"col7\":3.15,\"col8\":28.79,\"col9\":3.91},{\"col1\":\"群馬県\",\"col2\":39.91,\"col3\":99.8,\"col4\":48.96,\"col5\":5.02,\"col6\":54.8,\"col7\":3.92,\"col8\":28.56,\"col9\":7.79},{\"col1\":\"埼玉県\",\"col2\":80.2,\"col3\":88.9,\"col4\":47.95,\"col5\":4.52,\"col6\":65.7,\"col7\":3.93,\"col8\":30.44,\"col9\":15.89},{\"col1\":\"千葉県\",\"col2\":74.28,\"col3\":89.7,\"col4\":46.28,\"col5\":5.06,\"col6\":64.8,\"col7\":17.22,\"col8\":32.31,\"col9\":15.19},{\"col1\":\"東京都\",\"col2\":98.37,\"col3\":117.8,\"col4\":43.35,\"col5\":6.35,\"col6\":69.2,\"col7\":36.48,\"col8\":47.23,\"col9\":46.34},{\"col1\":\"神奈川県\",\"col2\":94.41,\"col3\":91.2,\"col4\":45.16,\"col5\":5.23,\"col6\":66.5,\"col7\":13.4,\"col8\":35.37,\"col9\":16.67},{\"col1\":\"新潟県\",\"col2\":48.66,\"col3\":99.9,\"col4\":49.51,\"col5\":4.78,\"col6\":57.3,\"col7\":3.73,\"col8\":27.54,\"col9\":3.74},{\"col1\":\"富山県\",\"col2\":37.79,\"col3\":99.8,\"col4\":50.53,\"col5\":4.2,\"col6\":60.9,\"col7\":8.53,\"col8\":26.09,\"col9\":21.62},{\"col1\":\"石川県\",\"col2\":51.45,\"col3\":100.2,\"col4\":49.62,\"col5\":5.81,\"col6\":60.8,\"col7\":10.8,\"col8\":31.44,\"col9\":26.25},{\"col1\":\"福井県\",\"col2\":43.98,\"col3\":100,\"col4\":50.74,\"col5\":4.85,\"col6\":55.6,\"col7\":2.17,\"col8\":26.32,\"col9\":15.76},{\"col1\":\"山梨県\",\"col2\":31.24,\"col3\":99.2,\"col4\":48.96,\"col5\":6.16,\"col6\":55.3,\"col7\":24.63,\"col8\":29.47,\"col9\":9.06},{\"col1\":\"長野県\",\"col2\":34.23,\"col3\":99.8,\"col4\":50.97,\"col5\":5.81,\"col6\":56.7,\"col7\":8.96,\"col8\":27.8,\"col9\":3.73},{\"col1\":\"岐阜県\",\"col2\":38.21,\"col3\":96.1,\"col4\":50,\"col5\":5.2,\"col6\":56.8,\"col7\":21.67,\"col8\":25.75,\"col9\":7.81},{\"col1\":\"静岡県\",\"col2\":59.89,\"col3\":99.8,\"col4\":50.41,\"col5\":5.32,\"col6\":54.8,\"col7\":8.73,\"col8\":28.49,\"col9\":2.27},{\"col1\":\"愛知県\",\"col2\":77.54,\"col3\":101.4,\"col4\":49.03,\"col5\":5.15,\"col6\":64.5,\"col7\":17.22,\"col8\":33.44,\"col9\":6.99},{\"col1\":\"三重県\",\"col2\":43.46,\"col3\":98.3,\"col4\":48.06,\"col5\":4.72,\"col6\":59.7,\"col7\":4.62,\"col8\":29.36,\"col9\":2.57},{\"col1\":\"滋賀県\",\"col2\":49.68,\"col3\":96.5,\"col4\":47.98,\"col5\":4.33,\"col6\":63.1,\"col7\":10.01,\"col8\":28.41,\"col9\":7.22},{\"col1\":\"京都府\",\"col2\":83.56,\"col3\":101.8,\"col4\":45.69,\"col5\":6.56,\"col6\":59.7,\"col7\":29.48,\"col8\":38.16,\"col9\":14.63},{\"col1\":\"大阪府\",\"col2\":95.66,\"col3\":104.4,\"col4\":42.74,\"col5\":5.76,\"col6\":59.1,\"col7\":36.2,\"col8\":37.48,\"col9\":21.04},{\"col1\":\"兵庫県\",\"col2\":77.67,\"col3\":95.7,\"col4\":44.15,\"col5\":5.16,\"col6\":59.4,\"col7\":9.87,\"col8\":32.66,\"col9\":12.96},{\"col1\":\"奈良県\",\"col2\":64.77,\"col3\":90,\"col4\":43.31,\"col5\":4.43,\"col6\":62,\"col7\":17.32,\"col8\":25.65,\"col9\":6.87},{\"col1\":\"和歌山県\",\"col2\":37.23,\"col3\":98.2,\"col4\":46.22,\"col5\":5.18,\"col6\":49.6,\"col7\":9.58,\"col8\":29.29,\"col9\":6.84},{\"col1\":\"鳥取県\",\"col2\":36.98,\"col3\":99.9,\"col4\":48.99,\"col5\":4.9,\"col6\":49.4,\"col7\":6.42,\"col8\":29.4,\"col9\":0.71},{\"col1\":\"島根県\",\"col2\":24.24,\"col3\":100.1,\"col4\":49.4,\"col5\":4.69,\"col6\":49.6,\"col7\":2.42,\"col8\":30.1,\"col9\":3.53},{\"col1\":\"岡山県\",\"col2\":46.69,\"col3\":100,\"col4\":46.88,\"col5\":4.14,\"col6\":54.5,\"col7\":9.34,\"col8\":32.15,\"col9\":1.37},{\"col1\":\"広島県\",\"col2\":64.47,\"col3\":100.2,\"col4\":47,\"col5\":4.54,\"col6\":54.2,\"col7\":10.82,\"col8\":34.43,\"col9\":5.96},{\"col1\":\"山口県\",\"col2\":49.22,\"col3\":99.6,\"col4\":45.92,\"col5\":4.52,\"col6\":51.5,\"col7\":2.65,\"col8\":33.25,\"col9\":2.7},{\"col1\":\"徳島県\",\"col2\":32.7,\"col3\":99.6,\"col4\":45.37,\"col5\":4.22,\"col6\":48.9,\"col7\":5.45,\"col8\":32.07,\"col9\":0.82},{\"col1\":\"香川県\",\"col2\":32.56,\"col3\":100.2,\"col4\":46.36,\"col5\":4.5,\"col6\":50.4,\"col7\":13.79,\"col8\":31.48,\"col9\":2.91},{\"col1\":\"愛媛県\",\"col2\":52.95,\"col3\":100,\"col4\":46.4,\"col5\":4.42,\"col6\":50.6,\"col7\":5.73,\"col8\":33.51,\"col9\":6.07},{\"col1\":\"高知県\",\"col2\":43.52,\"col3\":99.9,\"col4\":44.41,\"col5\":5.37,\"col6\":42.7,\"col7\":3.01,\"col8\":36.32,\"col9\":10.48},{\"col1\":\"福岡県\",\"col2\":72.39,\"col3\":100.1,\"col4\":44.18,\"col5\":5.22,\"col6\":58.4,\"col7\":20.94,\"col8\":37.29,\"col9\":16.8},{\"col1\":\"佐賀県\",\"col2\":31.43,\"col3\":100.2,\"col4\":49.26,\"col5\":4.89,\"col6\":50.7,\"col7\":15.56,\"col8\":26.77,\"col9\":5.74},{\"col1\":\"長崎県\",\"col2\":48.03,\"col3\":99.8,\"col4\":46.77,\"col5\":5.44,\"col6\":46.8,\"col7\":9.58,\"col8\":31.8,\"col9\":12.3},{\"col1\":\"熊本県\",\"col2\":47.81,\"col3\":99.5,\"col4\":46.71,\"col5\":4.97,\"col6\":51.3,\"col7\":13.64,\"col8\":30.82,\"col9\":2.79},{\"col1\":\"大分県\",\"col2\":47.23,\"col3\":99.9,\"col4\":46.83,\"col5\":5.33,\"col6\":53.8,\"col7\":18.46,\"col8\":33.1,\"col9\":5.24},{\"col1\":\"宮崎県\",\"col2\":46.11,\"col3\":99.9,\"col4\":47.03,\"col5\":4.92,\"col6\":48.4,\"col7\":9.27,\"col8\":32.02,\"col9\":1.57},{\"col1\":\"鹿児島県\",\"col2\":40.21,\"col3\":99.9,\"col4\":45.74,\"col5\":5.31,\"col6\":49.6,\"col7\":10.62,\"col8\":35.55,\"col9\":1.3},{\"col1\":\"沖縄県\",\"col2\":67.79,\"col3\":100,\"col4\":41.13,\"col5\":8.05,\"col6\":37.8,\"col7\":23.17,\"col8\":32.29,\"col9\":9.81}]","tot":"json"}],"x":1102,"y":566.5,"wires":[[]]},{"id":"5d17c97ea37fd18a","type":"ut-assert-values","z":"b5fbcdbffb568569","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"[{\"都道府県\":\"北海道\",\"人口集中地区人口比率\":75.2,\"昼夜間人口比率\":99.9,\"就業者比率\":45.25,\"飲食店・宿泊業就業者比率\":5.79,\"旅行行動者率\":54.6,\"外国人宿泊者比率\":25.29,\"単独世帯比率\":37.19,\"人口10万人当たり感染者率\":24.12},{\"都道府県\":\"青森県\",\"人口集中地区人口比率\":46.63,\"昼夜間人口比率\":99.8,\"就業者比率\":47.85,\"飲食店・宿泊業就業者比率\":4.65,\"旅行行動者率\":40.6,\"外国人宿泊者比率\":8.01,\"単独世帯比率\":30.03,\"人口10万人当たり感染者率\":2.14},{\"都道府県\":\"岩手県\",\"人口集中地区人口比率\":31.88,\"昼夜間人口比率\":99.8,\"就業者比率\":49.73,\"飲食店・宿泊業就業者比率\":4.81,\"旅行行動者率\":46.1,\"外国人宿泊者比率\":4.74,\"単独世帯比率\":30.13,\"人口10万人当たり感染者率\":0},{\"都道府県\":\"宮城県\",\"人口集中地区人口比率\":64.05,\"昼夜間人口比率\":100.3,\"就業者比率\":46.19,\"飲食店・宿泊業就業者比率\":5.1,\"旅行行動者率\":59.7,\"外国人宿泊者比率\":4.21,\"単独世帯比率\":34.28,\"人口10万人当たり感染者率\":4.06},{\"都道府県\":\"秋田県\",\"人口集中地区人口比率\":34.96,\"昼夜間人口比率\":99.8,\"就業者比率\":47.2,\"飲食店・宿泊業就業者比率\":4.76,\"旅行行動者率\":49.2,\"外国人宿泊者比率\":3.76,\"単独世帯比率\":27.83,\"人口10万人当たり感染者率\":1.63},{\"都道府県\":\"山形県\",\"人口集中地区人口比率\":43.69,\"昼夜間人口比率\":99.7,\"就業者比率\":50.01,\"飲食店・宿泊業就業者比率\":4.66,\"旅行行動者率\":54.4,\"外国人宿泊者比率\":3.07,\"単独世帯比率\":25.42,\"人口10万人当たり感染者率\":6.33},{\"都道府県\":\"福島県\",\"人口集中地区人口比率\":42.62,\"昼夜間人口比率\":100.2,\"就業者比率\":48.18,\"飲食店・宿泊業就業者比率\":4.73,\"旅行行動者率\":53.6,\"外国人宿泊者比率\":1.71,\"単独世帯比率\":30.28,\"人口10万人当たり感染者率\":4.4},{\"都道府県\":\"茨城県\",\"人口集中地区人口比率\":38.16,\"昼夜間人口比率\":97.5,\"就業者比率\":48.02,\"飲食店・宿泊業就業者比率\":4.34,\"旅行行動者率\":54.6,\"外国人宿泊者比率\":4.24,\"単独世帯比率\":28.31,\"人口10万人当たり感染者率\":6.05},{\"都道府県\":\"栃木県\",\"人口集中地区人口比率\":45.19,\"昼夜間人口比率\":99,\"就業者比率\":48.83,\"飲食店・宿泊業就業者比率\":5.05,\"旅行行動者率\":53.5,\"外国人宿泊者比率\":3.15,\"単独世帯比率\":28.79,\"人口10万人当たり感染者率\":3.91},{\"都道府県\":\"群馬県\",\"人口集中地区人口比率\":39.91,\"昼夜間人口比率\":99.8,\"就業者比率\":48.96,\"飲食店・宿泊業就業者比率\":5.02,\"旅行行動者率\":54.8,\"外国人宿泊者比率\":3.92,\"単独世帯比率\":28.56,\"人口10万人当たり感染者率\":7.79},{\"都道府県\":\"埼玉県\",\"人口集中地区人口比率\":80.2,\"昼夜間人口比率\":88.9,\"就業者比率\":47.95,\"飲食店・宿泊業就業者比率\":4.52,\"旅行行動者率\":65.7,\"外国人宿泊者比率\":3.93,\"単独世帯比率\":30.44,\"人口10万人当たり感染者率\":15.89},{\"都道府県\":\"千葉県\",\"人口集中地区人口比率\":74.28,\"昼夜間人口比率\":89.7,\"就業者比率\":46.28,\"飲食店・宿泊業就業者比率\":5.06,\"旅行行動者率\":64.8,\"外国人宿泊者比率\":17.22,\"単独世帯比率\":32.31,\"人口10万人当たり感染者率\":15.19},{\"都道府県\":\"東京都\",\"人口集中地区人口比率\":98.37,\"昼夜間人口比率\":117.8,\"就業者比率\":43.35,\"飲食店・宿泊業就業者比率\":6.35,\"旅行行動者率\":69.2,\"外国人宿泊者比率\":36.48,\"単独世帯比率\":47.23,\"人口10万人当たり感染者率\":46.34},{\"都道府県\":\"神奈川県\",\"人口集中地区人口比率\":94.41,\"昼夜間人口比率\":91.2,\"就業者比率\":45.16,\"飲食店・宿泊業就業者比率\":5.23,\"旅行行動者率\":66.5,\"外国人宿泊者比率\":13.4,\"単独世帯比率\":35.37,\"人口10万人当たり感染者率\":16.67},{\"都道府県\":\"新潟県\",\"人口集中地区人口比率\":48.66,\"昼夜間人口比率\":99.9,\"就業者比率\":49.51,\"飲食店・宿泊業就業者比率\":4.78,\"旅行行動者率\":57.3,\"外国人宿泊者比率\":3.73,\"単独世帯比率\":27.54,\"人口10万人当たり感染者率\":3.74},{\"都道府県\":\"富山県\",\"人口集中地区人口比率\":37.79,\"昼夜間人口比率\":99.8,\"就業者比率\":50.53,\"飲食店・宿泊業就業者比率\":4.2,\"旅行行動者率\":60.9,\"外国人宿泊者比率\":8.53,\"単独世帯比率\":26.09,\"人口10万人当たり感染者率\":21.62},{\"都道府県\":\"石川県\",\"人口集中地区人口比率\":51.45,\"昼夜間人口比率\":100.2,\"就業者比率\":49.62,\"飲食店・宿泊業就業者比率\":5.81,\"旅行行動者率\":60.8,\"外国人宿泊者比率\":10.8,\"単独世帯比率\":31.44,\"人口10万人当たり感染者率\":26.25},{\"都道府県\":\"福井県\",\"人口集中地区人口比率\":43.98,\"昼夜間人口比率\":100,\"就業者比率\":50.74,\"飲食店・宿泊業就業者比率\":4.85,\"旅行行動者率\":55.6,\"外国人宿泊者比率\":2.17,\"単独世帯比率\":26.32,\"人口10万人当たり感染者率\":15.76},{\"都道府県\":\"山梨県\",\"人口集中地区人口比率\":31.24,\"昼夜間人口比率\":99.2,\"就業者比率\":48.96,\"飲食店・宿泊業就業者比率\":6.16,\"旅行行動者率\":55.3,\"外国人宿泊者比率\":24.63,\"単独世帯比率\":29.47,\"人口10万人当たり感染者率\":9.06},{\"都道府県\":\"長野県\",\"人口集中地区人口比率\":34.23,\"昼夜間人口比率\":99.8,\"就業者比率\":50.97,\"飲食店・宿泊業就業者比率\":5.81,\"旅行行動者率\":56.7,\"外国人宿泊者比率\":8.96,\"単独世帯比率\":27.8,\"人口10万人当たり感染者率\":3.73},{\"都道府県\":\"岐阜県\",\"人口集中地区人口比率\":38.21,\"昼夜間人口比率\":96.1,\"就業者比率\":50,\"飲食店・宿泊業就業者比率\":5.2,\"旅行行動者率\":56.8,\"外国人宿泊者比率\":21.67,\"単独世帯比率\":25.75,\"人口10万人当たり感染者率\":7.81},{\"都道府県\":\"静岡県\",\"人口集中地区人口比率\":59.89,\"昼夜間人口比率\":99.8,\"就業者比率\":50.41,\"飲食店・宿泊業就業者比率\":5.32,\"旅行行動者率\":54.8,\"外国人宿泊者比率\":8.73,\"単独世帯比率\":28.49,\"人口10万人当たり感染者率\":2.27},{\"都道府県\":\"愛知県\",\"人口集中地区人口比率\":77.54,\"昼夜間人口比率\":101.4,\"就業者比率\":49.03,\"飲食店・宿泊業就業者比率\":5.15,\"旅行行動者率\":64.5,\"外国人宿泊者比率\":17.22,\"単独世帯比率\":33.44,\"人口10万人当たり感染者率\":6.99},{\"都道府県\":\"三重県\",\"人口集中地区人口比率\":43.46,\"昼夜間人口比率\":98.3,\"就業者比率\":48.06,\"飲食店・宿泊業就業者比率\":4.72,\"旅行行動者率\":59.7,\"外国人宿泊者比率\":4.62,\"単独世帯比率\":29.36,\"人口10万人当たり感染者率\":2.57},{\"都道府県\":\"滋賀県\",\"人口集中地区人口比率\":49.68,\"昼夜間人口比率\":96.5,\"就業者比率\":47.98,\"飲食店・宿泊業就業者比率\":4.33,\"旅行行動者率\":63.1,\"外国人宿泊者比率\":10.01,\"単独世帯比率\":28.41,\"人口10万人当たり感染者率\":7.22},{\"都道府県\":\"京都府\",\"人口集中地区人口比率\":83.56,\"昼夜間人口比率\":101.8,\"就業者比率\":45.69,\"飲食店・宿泊業就業者比率\":6.56,\"旅行行動者率\":59.7,\"外国人宿泊者比率\":29.48,\"単独世帯比率\":38.16,\"人口10万人当たり感染者率\":14.63},{\"都道府県\":\"大阪府\",\"人口集中地区人口比率\":95.66,\"昼夜間人口比率\":104.4,\"就業者比率\":42.74,\"飲食店・宿泊業就業者比率\":5.76,\"旅行行動者率\":59.1,\"外国人宿泊者比率\":36.2,\"単独世帯比率\":37.48,\"人口10万人当たり感染者率\":21.04},{\"都道府県\":\"兵庫県\",\"人口集中地区人口比率\":77.67,\"昼夜間人口比率\":95.7,\"就業者比率\":44.15,\"飲食店・宿泊業就業者比率\":5.16,\"旅行行動者率\":59.4,\"外国人宿泊者比率\":9.87,\"単独世帯比率\":32.66,\"人口10万人当たり感染者率\":12.96},{\"都道府県\":\"奈良県\",\"人口集中地区人口比率\":64.77,\"昼夜間人口比率\":90,\"就業者比率\":43.31,\"飲食店・宿泊業就業者比率\":4.43,\"旅行行動者率\":62,\"外国人宿泊者比率\":17.32,\"単独世帯比率\":25.65,\"人口10万人当たり感染者率\":6.87},{\"都道府県\":\"和歌山県\",\"人口集中地区人口比率\":37.23,\"昼夜間人口比率\":98.2,\"就業者比率\":46.22,\"飲食店・宿泊業就業者比率\":5.18,\"旅行行動者率\":49.6,\"外国人宿泊者比率\":9.58,\"単独世帯比率\":29.29,\"人口10万人当たり感染者率\":6.84},{\"都道府県\":\"鳥取県\",\"人口集中地区人口比率\":36.98,\"昼夜間人口比率\":99.9,\"就業者比率\":48.99,\"飲食店・宿泊業就業者比率\":4.9,\"旅行行動者率\":49.4,\"外国人宿泊者比率\":6.42,\"単独世帯比率\":29.4,\"人口10万人当たり感染者率\":0.71},{\"都道府県\":\"島根県\",\"人口集中地区人口比率\":24.24,\"昼夜間人口比率\":100.1,\"就業者比率\":49.4,\"飲食店・宿泊業就業者比率\":4.69,\"旅行行動者率\":49.6,\"外国人宿泊者比率\":2.42,\"単独世帯比率\":30.1,\"人口10万人当たり感染者率\":3.53},{\"都道府県\":\"岡山県\",\"人口集中地区人口比率\":46.69,\"昼夜間人口比率\":100,\"就業者比率\":46.88,\"飲食店・宿泊業就業者比率\":4.14,\"旅行行動者率\":54.5,\"外国人宿泊者比率\":9.34,\"単独世帯比率\":32.15,\"人口10万人当たり感染者率\":1.37},{\"都道府県\":\"広島県\",\"人口集中地区人口比率\":64.47,\"昼夜間人口比率\":100.2,\"就業者比率\":47,\"飲食店・宿泊業就業者比率\":4.54,\"旅行行動者率\":54.2,\"外国人宿泊者比率\":10.82,\"単独世帯比率\":34.43,\"人口10万人当たり感染者率\":5.96},{\"都道府県\":\"山口県\",\"人口集中地区人口比率\":49.22,\"昼夜間人口比率\":99.6,\"就業者比率\":45.92,\"飲食店・宿泊業就業者比率\":4.52,\"旅行行動者率\":51.5,\"外国人宿泊者比率\":2.65,\"単独世帯比率\":33.25,\"人口10万人当たり感染者率\":2.7},{\"都道府県\":\"徳島県\",\"人口集中地区人口比率\":32.7,\"昼夜間人口比率\":99.6,\"就業者比率\":45.37,\"飲食店・宿泊業就業者比率\":4.22,\"旅行行動者率\":48.9,\"外国人宿泊者比率\":5.45,\"単独世帯比率\":32.07,\"人口10万人当たり感染者率\":0.82},{\"都道府県\":\"香川県\",\"人口集中地区人口比率\":32.56,\"昼夜間人口比率\":100.2,\"就業者比率\":46.36,\"飲食店・宿泊業就業者比率\":4.5,\"旅行行動者率\":50.4,\"外国人宿泊者比率\":13.79,\"単独世帯比率\":31.48,\"人口10万人当たり感染者率\":2.91},{\"都道府県\":\"愛媛県\",\"人口集中地区人口比率\":52.95,\"昼夜間人口比率\":100,\"就業者比率\":46.4,\"飲食店・宿泊業就業者比率\":4.42,\"旅行行動者率\":50.6,\"外国人宿泊者比率\":5.73,\"単独世帯比率\":33.51,\"人口10万人当たり感染者率\":6.07},{\"都道府県\":\"高知県\",\"人口集中地区人口比率\":43.52,\"昼夜間人口比率\":99.9,\"就業者比率\":44.41,\"飲食店・宿泊業就業者比率\":5.37,\"旅行行動者率\":42.7,\"外国人宿泊者比率\":3.01,\"単独世帯比率\":36.32,\"人口10万人当たり感染者率\":10.48},{\"都道府県\":\"福岡県\",\"人口集中地区人口比率\":72.39,\"昼夜間人口比率\":100.1,\"就業者比率\":44.18,\"飲食店・宿泊業就業者比率\":5.22,\"旅行行動者率\":58.4,\"外国人宿泊者比率\":20.94,\"単独世帯比率\":37.29,\"人口10万人当たり感染者率\":16.8},{\"都道府県\":\"佐賀県\",\"人口集中地区人口比率\":31.43,\"昼夜間人口比率\":100.2,\"就業者比率\":49.26,\"飲食店・宿泊業就業者比率\":4.89,\"旅行行動者率\":50.7,\"外国人宿泊者比率\":15.56,\"単独世帯比率\":26.77,\"人口10万人当たり感染者率\":5.74},{\"都道府県\":\"長崎県\",\"人口集中地区人口比率\":48.03,\"昼夜間人口比率\":99.8,\"就業者比率\":46.77,\"飲食店・宿泊業就業者比率\":5.44,\"旅行行動者率\":46.8,\"外国人宿泊者比率\":9.58,\"単独世帯比率\":31.8,\"人口10万人当たり感染者率\":12.3},{\"都道府県\":\"熊本県\",\"人口集中地区人口比率\":47.81,\"昼夜間人口比率\":99.5,\"就業者比率\":46.71,\"飲食店・宿泊業就業者比率\":4.97,\"旅行行動者率\":51.3,\"外国人宿泊者比率\":13.64,\"単独世帯比率\":30.82,\"人口10万人当たり感染者率\":2.79},{\"都道府県\":\"大分県\",\"人口集中地区人口比率\":47.23,\"昼夜間人口比率\":99.9,\"就業者比率\":46.83,\"飲食店・宿泊業就業者比率\":5.33,\"旅行行動者率\":53.8,\"外国人宿泊者比率\":18.46,\"単独世帯比率\":33.1,\"人口10万人当たり感染者率\":5.24},{\"都道府県\":\"宮崎県\",\"人口集中地区人口比率\":46.11,\"昼夜間人口比率\":99.9,\"就業者比率\":47.03,\"飲食店・宿泊業就業者比率\":4.92,\"旅行行動者率\":48.4,\"外国人宿泊者比率\":9.27,\"単独世帯比率\":32.02,\"人口10万人当たり感染者率\":1.57},{\"都道府県\":\"鹿児島県\",\"人口集中地区人口比率\":40.21,\"昼夜間人口比率\":99.9,\"就業者比率\":45.74,\"飲食店・宿泊業就業者比率\":5.31,\"旅行行動者率\":49.6,\"外国人宿泊者比率\":10.62,\"単独世帯比率\":35.55,\"人口10万人当たり感染者率\":1.3},{\"都道府県\":\"沖縄県\",\"人口集中地区人口比率\":67.79,\"昼夜間人口比率\":100,\"就業者比率\":41.13,\"飲食店・宿泊業就業者比率\":8.05,\"旅行行動者率\":37.8,\"外国人宿泊者比率\":23.17,\"単独世帯比率\":32.29,\"人口10万人当たり感染者率\":9.81}]","tot":"json"}],"x":1102,"y":661.5,"wires":[[]]}]