priv/testflows/597ee2a683d9908f/flows.json
[{"id":"597ee2a683d9908f","type":"tab","label":"[json] raise exception if content not valid","disabled":false,"info":"In this case the json node raises and exception and does not propogate the message further.\n\nError message isn't defined so use a bit of imagination to make it sound useful!","env":[{"name":"ERED_PENDING","value":"false","type":"bool"}]},{"id":"4dbd0f7712eb9163","type":"group","z":"597ee2a683d9908f","name":"with catch node","style":{"label":true},"nodes":["9129e7b9383dead9","a1f180d31364499f","0e7c595d0385aab1","88ab83684f23950e","c712bcadacd8b244"],"x":197,"y":220,"w":822,"h":308.5},{"id":"af6d16c1fc56ad30","type":"group","z":"597ee2a683d9908f","name":"with catch node","style":{"label":true},"nodes":["9e57eb53f1559cef","9219ceac570a5289","ce0f8e5ab2646ac9"],"x":195,"y":623,"w":663,"h":308.5},{"id":"9129e7b9383dead9","type":"inject","z":"597ee2a683d9908f","g":"4dbd0f7712eb9163","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":303,"y":261,"wires":[["a1f180d31364499f"]]},{"id":"a1f180d31364499f","type":"json","z":"597ee2a683d9908f","g":"4dbd0f7712eb9163","name":"","property":"payload","action":"","pretty":true,"x":605,"y":487.5,"wires":[[]]},{"id":"0e7c595d0385aab1","type":"catch","z":"597ee2a683d9908f","g":"4dbd0f7712eb9163","name":"","scope":["a1f180d31364499f"],"uncaught":false,"x":593,"y":270,"wires":[["88ab83684f23950e"]]},{"id":"88ab83684f23950e","type":"ut-assert-success","z":"597ee2a683d9908f","g":"4dbd0f7712eb9163","name":"","x":923,"y":270,"wires":[]},{"id":"9e57eb53f1559cef","type":"inject","z":"597ee2a683d9908f","g":"af6d16c1fc56ad30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":301,"y":664,"wires":[["9219ceac570a5289"]]},{"id":"9219ceac570a5289","type":"json","z":"597ee2a683d9908f","g":"af6d16c1fc56ad30","name":"","property":"payload","action":"","pretty":true,"x":603,"y":890.5,"wires":[[]]},{"id":"ce0f8e5ab2646ac9","type":"ut-assert-debug","z":"597ee2a683d9908f","g":"af6d16c1fc56ad30","name":"","nodeid":"9219ceac570a5289","msgtype":"error","inverse":false,"x":712,"y":723.5,"wires":[]},{"id":"c712bcadacd8b244","type":"ut-assert-debug","z":"597ee2a683d9908f","g":"4dbd0f7712eb9163","name":"","nodeid":"a1f180d31364499f","msgtype":"error","inverse":true,"x":757,"y":385,"wires":[]}]