priv/testflows/b1430ea37ba7cc19/flows.json
[{"id":"b1430ea37ba7cc19","type":"tab","label":"[split] array split","disabled":false,"info":"Support splitting arrays into individual messages.","env":[]},{"id":"c1c38aa4d0414028","type":"inject","z":"b1430ea37ba7cc19","name":"","props":[{"p":"filename","v":"priv/testdata/test.json","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":202,"y":282,"wires":[["b7c961b3b85b547f"]]},{"id":"5f1d1ba7663ee141","type":"json","z":"b1430ea37ba7cc19","name":"","property":"payload","action":"obj","pretty":false,"x":493,"y":487,"wires":[["2b905cbffa421be6"]]},{"id":"b7c961b3b85b547f","type":"template","z":"b1430ea37ba7cc19","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"[\n    {\n        \"id\": \"9e7ccc97f80d9afb\",\n        \"type\": \"tab\",\n        \"label\": \"[file in] will accept file name from msg obj\",\n        \"disabled\": false,\n        \"info\": \"A file name can also be dynamic and be taken from the msg object passed to the file in node.\",\n        \"env\": []\n    },\n    {\n        \"id\": \"3de9bd2926669640\",\n        \"type\": \"inject\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"props\": [\n            {\n                \"p\": \"filename\",\n                \"v\": \"priv/testdata/helloworld.txt\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"x\": 128,\n        \"y\": 400,\n        \"wires\": [\n            [\n                \"e89d0c894d08b485\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e89d0c894d08b485\",\n        \"type\": \"file in\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"filename\": \"filename\",\n        \"filenameType\": \"msg\",\n        \"format\": \"utf8\",\n        \"chunk\": false,\n        \"sendError\": false,\n        \"encoding\": \"none\",\n        \"allProps\": false,\n        \"x\": 325,\n        \"y\": 498.5,\n        \"wires\": [\n            [\n                \"e0f13216032f1fe6\",\n                \"e36810e4203e8306\",\n                \"05c8dee92f3f6768\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e0f13216032f1fe6\",\n        \"type\": \"ut-assert-values\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"mth\",\n                \"p\": \"payload\",\n                \"pt\": \"msg\",\n                \"to\": \"hello world\",\n                \"tot\": \"str\"\n            }\n        ],\n        \"x\": 577,\n        \"y\": 396,\n        \"wires\": [\n            []\n        ]\n    },\n    {\n        \"id\": \"e36810e4203e8306\",\n        \"type\": \"debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"debug 1\",\n        \"active\": true,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 542,\n        \"y\": 611,\n        \"wires\": []\n    },\n    {\n        \"id\": \"2b511c22a8ddb371\",\n        \"type\": \"ut-assert-debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"nodeid\": \"e89d0c894d08b485\",\n        \"msgtype\": \"normal\",\n        \"inverse\": true,\n        \"x\": 232,\n        \"y\": 544.5,\n        \"wires\": []\n    },\n    {\n        \"id\": \"05c8dee92f3f6768\",\n        \"type\": \"ut-assert-success\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"x\": 629,\n        \"y\": 496.5,\n        \"wires\": []\n    },\n    {\n        \"id\": \"3d9780925fed909b\",\n        \"type\": \"ut-assert-debug\",\n        \"z\": \"9e7ccc97f80d9afb\",\n        \"name\": \"\",\n        \"nodeid\": \"e36810e4203e8306\",\n        \"msgtype\": \"normal\",\n        \"inverse\": false,\n        \"x\": 661,\n        \"y\": 653,\n        \"wires\": []\n    }\n]","output":"str","x":337,"y":399,"wires":[["5f1d1ba7663ee141"]]},{"id":"cf681ad132ea44c5","type":"join","z":"b1430ea37ba7cc19","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":779,"y":671.5,"wires":[["cf9cec07f9e55ee5","76f7ebd0ea18f879","3412312ba43c16d6"]]},{"id":"2b905cbffa421be6","type":"split","z":"b1430ea37ba7cc19","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":630,"y":561.5,"wires":[["cf681ad132ea44c5"]]},{"id":"cf9cec07f9e55ee5","type":"debug","z":"b1430ea37ba7cc19","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":927,"y":672,"wires":[]},{"id":"76f7ebd0ea18f879","type":"ut-assert-success","z":"b1430ea37ba7cc19","name":"","x":950,"y":762.5,"wires":[]},{"id":"3412312ba43c16d6","type":"change","z":"b1430ea37ba7cc19","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":957,"y":563,"wires":[["b71cba83e2e7a1fc"]]},{"id":"b71cba83e2e7a1fc","type":"ut-assert-values","z":"b1430ea37ba7cc19","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"8","tot":"num"}],"x":1232.7143096923828,"y":563,"wires":[[]]}]