priv/testflows/987cd33b9cda8529/flows.json
[{"id":"987cd33b9cda8529","type":"tab","label":"[join] manual configration with count and property name","disabled":false,"info":"Join node can also collect together just a single property value.\n\nJoin should maintain the order of the received messages.","env":[]},{"id":"d3cbea135f3111f9","type":"junction","z":"987cd33b9cda8529","x":337.76970052719116,"y":623.6267687082291,"wires":[["579aaefe6ab623c3"]]},{"id":"d2d305af3fc1d11c","type":"inject","z":"987cd33b9cda8529","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4]","payloadType":"json","x":169,"y":468,"wires":[["d3cbea135f3111f9"]]},{"id":"579aaefe6ab623c3","type":"split","z":"987cd33b9cda8529","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":490,"y":399,"wires":[["6e3b87d8a8c03e81"]]},{"id":"6e3b87d8a8c03e81","type":"join","z":"987cd33b9cda8529","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":655,"y":491,"wires":[["8e1bb60e805d295b","e96aa9310723feb6"]]},{"id":"8e1bb60e805d295b","type":"ut-assert-success","z":"987cd33b9cda8529","name":"","x":912.5,"y":580.5,"wires":[]},{"id":"e96aa9310723feb6","type":"ut-assert-values","z":"987cd33b9cda8529","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"[1,2,3,4]","tot":"json"}],"x":975,"y":443.5,"wires":[[]]}]