priv/testflows/c5f513bc380bc30a/flows.json
[{"id":"c5f513bc380bc30a","type":"tab","label":"[function] support multiple outputs","disabled":false,"info":"## Function node support multiple outputs\n\nMultiple output ports are addressed using a list as return value of the function. The list can be longer or shorter than the actual output port count.\n\nAlso respect `undefined` as an indicator that there is no data to be sent on a specific port.\n\nUsing `undefiend` because that is also the same key word for Node-RED when specifying an array (aka list) as return value and some slots shouldn't get data.","env":[{"name":"ERED_PENDING","value":"false","type":"bool"}]},{"id":"9cb3675ec715d003","type":"group","z":"c5f513bc380bc30a","name":"function generated a single message","style":{"label":true},"nodes":["99a0baa1793f0dd1","76e2bf5583bbede4","8ece321b5ccae3eb","fb27204856172c17","2f9fa1c08b03cd73","027dd925bdff5dc0","6678a62c7bfef1af"],"x":101,"y":199.5,"w":719,"h":310},{"id":"8420fb2b03bc6ff2","type":"group","z":"c5f513bc380bc30a","name":"function with undefined","style":{"label":true},"nodes":["5e6f29f5f19f96d6","ca42f1a951e6799e","93e980ac0c9d328e","3b291d3f3533dab8","7e0cb601b0dc0f85","a3d4e24eeee55b2b","5e435bc74890ae75"],"x":105,"y":571,"w":719,"h":294},{"id":"edd4648fd0386343","type":"group","z":"c5f513bc380bc30a","name":"partial list with undefined","style":{"label":true},"nodes":["a9d333f12acd1a90","c688af41c73aa885","12c34fb23c932829","3a08597abbd4dc70","8a7abbb925382332","7b8718e4e0deb3bf","ab1e12ba4c8cd598"],"x":101,"y":902.5,"w":719,"h":303},{"id":"5f95a730b6989c4b","type":"group","z":"c5f513bc380bc30a","name":"empty list as return value","style":{"label":true},"nodes":["7248b8732d320b86","aa664acff39d96cd","0d6981d5c41136e5","3fb8684626f059fc","f2fb17909c4e4d32","09a7c06a06f39140","8842302217d78ddc"],"x":99,"y":1244,"w":724,"h":301.5},{"id":"7416c3f55c2eba9f","type":"group","z":"c5f513bc380bc30a","name":"longer list than output ports","style":{"label":true},"nodes":["8966584e057f8e96","4b0717c879ceac59","abb3971f2e95389d","9ce84c1407cf616c","3eabd552265daab6","5ea401991e1b6dad","94660f4d95978c45"],"x":102,"y":1586,"w":724,"h":303},{"id":"99a0baa1793f0dd1","type":"function","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"function 1","func":"%% multiple outpus but only a single message\nMsg\n","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":435,"y":427,"wires":[["fb27204856172c17"],["6678a62c7bfef1af"],["027dd925bdff5dc0"],["2f9fa1c08b03cd73"],["8ece321b5ccae3eb"]]},{"id":"76e2bf5583bbede4","type":"inject","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":207,"y":344,"wires":[["99a0baa1793f0dd1"]]},{"id":"8ece321b5ccae3eb","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"","x":723,"y":468.5,"wires":[]},{"id":"fb27204856172c17","type":"ut-assert-success","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"","x":723,"y":240.5,"wires":[]},{"id":"2f9fa1c08b03cd73","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"","x":722,"y":414,"wires":[]},{"id":"027dd925bdff5dc0","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"","x":723,"y":356,"wires":[]},{"id":"6678a62c7bfef1af","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"9cb3675ec715d003","name":"","x":724,"y":301,"wires":[]},{"id":"5e6f29f5f19f96d6","type":"function","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"function 2","func":"undefined","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":439,"y":782.5,"wires":[["5e435bc74890ae75"],["a3d4e24eeee55b2b"],["7e0cb601b0dc0f85"],["3b291d3f3533dab8"],["93e980ac0c9d328e"]]},{"id":"ca42f1a951e6799e","type":"inject","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":211,"y":699.5,"wires":[["5e6f29f5f19f96d6"]]},{"id":"93e980ac0c9d328e","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"","x":727,"y":824,"wires":[]},{"id":"3b291d3f3533dab8","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"","x":726,"y":769.5,"wires":[]},{"id":"7e0cb601b0dc0f85","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"","x":727,"y":711.5,"wires":[]},{"id":"a3d4e24eeee55b2b","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"","x":728,"y":656.5,"wires":[]},{"id":"5e435bc74890ae75","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"8420fb2b03bc6ff2","name":"","x":728,"y":612,"wires":[]},{"id":"a9d333f12acd1a90","type":"function","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"function 4","func":"[Msg, undefined, Msg, undefined]","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":435,"y":1123,"wires":[["7b8718e4e0deb3bf"],["8a7abbb925382332"],["ab1e12ba4c8cd598"],["3a08597abbd4dc70"],["12c34fb23c932829"]]},{"id":"c688af41c73aa885","type":"inject","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":207,"y":1040,"wires":[["a9d333f12acd1a90"]]},{"id":"12c34fb23c932829","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"","x":723,"y":1164.5,"wires":[]},{"id":"3a08597abbd4dc70","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"","x":722,"y":1110,"wires":[]},{"id":"8a7abbb925382332","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"","x":724,"y":997,"wires":[]},{"id":"7b8718e4e0deb3bf","type":"ut-assert-success","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"","x":718,"y":943.5,"wires":[]},{"id":"ab1e12ba4c8cd598","type":"ut-assert-success","z":"c5f513bc380bc30a","g":"edd4648fd0386343","name":"","x":721,"y":1053,"wires":[]},{"id":"7248b8732d320b86","type":"function","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"function 5","func":"[]","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":433,"y":1463,"wires":[["8842302217d78ddc"],["f2fb17909c4e4d32"],["09a7c06a06f39140"],["3fb8684626f059fc"],["0d6981d5c41136e5"]]},{"id":"aa664acff39d96cd","type":"inject","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":205,"y":1380,"wires":[["7248b8732d320b86"]]},{"id":"0d6981d5c41136e5","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"","x":721,"y":1504.5,"wires":[]},{"id":"3fb8684626f059fc","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"","x":720,"y":1450,"wires":[]},{"id":"f2fb17909c4e4d32","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"","x":722,"y":1337,"wires":[]},{"id":"09a7c06a06f39140","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"","x":724,"y":1394,"wires":[]},{"id":"8842302217d78ddc","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"5f95a730b6989c4b","name":"","x":727,"y":1285,"wires":[]},{"id":"8966584e057f8e96","type":"function","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"function 6","func":"[undefined, undefined, undefined, Msg, Msg, Msg, Msg, Msg, undefined]\n","outputs":5,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":436,"y":1805,"wires":[["3eabd552265daab6"],["abb3971f2e95389d"],["9ce84c1407cf616c"],["5ea401991e1b6dad"],["94660f4d95978c45"]]},{"id":"4b0717c879ceac59","type":"inject","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":208,"y":1722,"wires":[["8966584e057f8e96"]]},{"id":"abb3971f2e95389d","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"","x":725,"y":1679,"wires":[]},{"id":"9ce84c1407cf616c","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"","x":727,"y":1736,"wires":[]},{"id":"3eabd552265daab6","type":"ut-assert-failure","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"","x":730,"y":1627,"wires":[]},{"id":"5ea401991e1b6dad","type":"ut-assert-success","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"","x":724,"y":1800.5,"wires":[]},{"id":"94660f4d95978c45","type":"ut-assert-success","z":"c5f513bc380bc30a","g":"7416c3f55c2eba9f","name":"","x":721,"y":1848,"wires":[]}]