priv/testflows/b85795a24882502b/flows.json
[{"id":"b85795a24882502b","type":"tab","label":"[change] set support nested properties","disabled":false,"info":"Something that is important: support nested property names.","env":[]},{"id":"7cf99a4016d3ecda","type":"inject","z":"b85795a24882502b","name":"","props":[{"p":"payload"},{"p":"value","v":"hello world","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":194,"y":263,"wires":[["598181a1bd6615fb"]]},{"id":"598181a1bd6615fb","type":"change","z":"b85795a24882502b","name":"","rules":[{"p":"payload.key1","pt":"msg","t":"set","to":"{ \"key\": $$.value }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":401,"y":375,"wires":[["a08c7e2fc2ce2e71","d1e19ab723664468"]]},{"id":"a08c7e2fc2ce2e71","type":"change","z":"b85795a24882502b","name":"","rules":[{"p":"payload.key1.k3","pt":"msg","t":"set","to":"{ \"int\": 3 }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":694,"y":492,"wires":[["2c7451009269b3d5","1e77ce6e5df11d2c"]]},{"id":"2c7451009269b3d5","type":"change","z":"b85795a24882502b","name":"","rules":[{"p":"payload.key1.k3.k4.k5","pt":"msg","t":"set","to":"{ \"str\": $string(\"3\") }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1017,"y":614.5,"wires":[["263d2cfa38ae72d0","e19d08940dea2a5e"]]},{"id":"263d2cfa38ae72d0","type":"ut-assert-values","z":"b85795a24882502b","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"{\"key1\":{\"key\":\"hello world\",\"k3\":{\"int\":3,\"k4\":{\"k5\":{\"str\":\"3\"}}}}}","tot":"json"}],"x":1323,"y":524.5,"wires":[[]]},{"id":"1e77ce6e5df11d2c","type":"ut-assert-values","z":"b85795a24882502b","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"{\"key1\":{\"key\":\"hello world\",\"k3\":{\"int\":3}}}","tot":"json"}],"x":1020,"y":393.5,"wires":[[]]},{"id":"d1e19ab723664468","type":"ut-assert-values","z":"b85795a24882502b","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"{\"key1\":{\"key\":\"hello world\"}}","tot":"json"}],"x":709,"y":310.5,"wires":[[]]},{"id":"e19d08940dea2a5e","type":"change","z":"b85795a24882502b","name":"","rules":[{"p":"fubar.key1.k3.k4.k5","pt":"msg","t":"set","to":"{ \"str\": $string(\"3\") }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350.5,"y":709,"wires":[["14705a86011ffa37"]]},{"id":"14705a86011ffa37","type":"ut-assert-values","z":"b85795a24882502b","name":"","rules":[{"p":"fubar","pt":"msg","t":"eql","to":"{\"key1\":{\"k3\":{\"k4\":{\"k5\":{\"str\":\"3\"}}}}}","tot":"json"}],"x":1699,"y":706.5,"wires":[[]]}]