priv/testflows/a916165378c446e3/flows.json
[{"id":"a916165378c446e3","type":"tab","label":"[status] basic working version","disabled":false,"info":"Status node listens to other nodes for their status updates. It then posts these status updates as its messages","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_TIMEOUT","type":"num","value":"8"}]},{"id":"116137642eb0cbe7","type":"debug","z":"a916165378c446e3","name":"debug 395","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"status.text","targetType":"msg","statusVal":"payload","statusType":"msg","x":727,"y":316,"wires":[]},{"id":"34cbd3682d560baf","type":"status","z":"a916165378c446e3","name":"","scope":["116137642eb0cbe7"],"x":239,"y":702,"wires":[["a1142417496ed5ef"]]},{"id":"d4a3eab1fe256e75","type":"inject","z":"a916165378c446e3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"e","payloadType":"str","x":307,"y":489,"wires":[["aa935988bc52cb94"]]},{"id":"aa935988bc52cb94","type":"delay","z":"a916165378c446e3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":524,"y":489,"wires":[["116137642eb0cbe7"]]},{"id":"f85c03456c8d0d25","type":"inject","z":"a916165378c446e3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":215,"y":407.5,"wires":[["792349f35f115592"]]},{"id":"792349f35f115592","type":"delay","z":"a916165378c446e3","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":414,"y":407.5,"wires":[["116137642eb0cbe7"]]},{"id":"a1142417496ed5ef","type":"join","z":"a916165378c446e3","name":"","mode":"custom","build":"array","property":"status.text","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":505,"y":772.5,"wires":[["0532caa79b85ad02","8e7239952bc1b21c"]]},{"id":"0532caa79b85ad02","type":"ut-assert-success","z":"a916165378c446e3","name":"","x":738,"y":772.5,"wires":[]},{"id":"249a4c9fa0ef8ded","type":"inject","z":"a916165378c446e3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"b","payloadType":"str","x":299,"y":316,"wires":[["116137642eb0cbe7"]]},{"id":"8e7239952bc1b21c","type":"ut-assert-values","z":"a916165378c446e3","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"[\"b\", \"e\", \"b\"]","tot":"json"}],"x":734,"y":854.5,"wires":[[]]}]