priv/testflows/93c6e969dcf84e70/flows.json
[{"id":"93c6e969dcf84e70","type":"tab","label":"[.core] ensure that message ids don't change","disabled":false,"info":"_msgid is set on the msg object when it is initially generated and it should not be altered.\n\nThis test should be added to as new nodes are developed.","env":[{"name":"TIMEOUT","type":"num","value":"5"}]},{"id":"a51f7bde26951218","type":"junction","z":"93c6e969dcf84e70","x":620.4081720113754,"y":409.44897842407227,"wires":[["ffe0def7dae08a6e","9db29eadf7048445"]]},{"id":"32dfa16e89e49029","type":"inject","z":"93c6e969dcf84e70","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":103,"y":537,"wires":[["fbb81bdc18ea8f25"]]},{"id":"fbb81bdc18ea8f25","type":"change","z":"93c6e969dcf84e70","name":"","rules":[{"t":"set","p":"originalmsgid","pt":"msg","to":"'_msgid'","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":312,"y":414,"wires":[["c0f8ea9bc57750aa","5f5a58d565596eae","2128ec60ae59b23a","a51f7bde26951218","d5402783f4a7f363"]]},{"id":"9db29eadf7048445","type":"debug","z":"93c6e969dcf84e70","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":949,"y":323,"wires":[]},{"id":"ffe0def7dae08a6e","type":"ut-assert-values","z":"93c6e969dcf84e70","name":"","rules":[{"t":"eql","p":"'_msgid'","pt":"msg","to":"originalmsgid","tot":"msg"}],"x":952,"y":536.5,"wires":[[]]},{"id":"2128ec60ae59b23a","type":"delay","z":"93c6e969dcf84e70","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":601,"y":623,"wires":[["ffe0def7dae08a6e","9db29eadf7048445"]]},{"id":"c0f8ea9bc57750aa","type":"delay","z":"93c6e969dcf84e70","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":611,"y":494,"wires":[["ffe0def7dae08a6e","9db29eadf7048445"]]},{"id":"5f5a58d565596eae","type":"change","z":"93c6e969dcf84e70","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":622,"y":324,"wires":[["ffe0def7dae08a6e","9db29eadf7048445"]]},{"id":"3eaaf3969144c941","type":"ut-assert-status","z":"93c6e969dcf84e70","name":"","nodeid":"9db29eadf7048445","content":"","colour":"blue","shape":"ring","inverse":false,"x":982,"y":255.5,"wires":[]},{"id":"d5402783f4a7f363","type":"ut-assert-values","z":"93c6e969dcf84e70","name":"","rules":[{"t":"set","p":"'_msgid'","pt":"msg"}],"x":600,"y":716,"wires":[["ffe0def7dae08a6e","9db29eadf7048445"]]}]