priv/testflows/e7184b7ca4f07907/flows.json
[{"id":"e7184b7ca4f07907","type":"tab","label":"[.jsonata] sum arrays of objects","disabled":false,"info":"This is required for a test flow so make it explicit that it is necessary.\n\nAlso support sum of an array of plain values.","env":[]},{"id":"b8ebd66c0d28fae6","type":"inject","z":"e7184b7ca4f07907","name":"array of objects","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"col2\":1},{\"col2\":2},{\"col2\":3},{\"col2\":2},{\"col2\":2}]","payloadType":"json","x":392.00000762939453,"y":192.28570556640625,"wires":[["8ada8c2aab297ac6"]]},{"id":"8ada8c2aab297ac6","type":"change","z":"e7184b7ca4f07907","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum($map($$.payload, function($v) { $v.col2 }))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":638.5000076293945,"y":493.28570556640625,"wires":[["b73e05156763c3d8"]]},{"id":"b73e05156763c3d8","type":"ut-assert-values","z":"e7184b7ca4f07907","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":910.0000076293945,"y":192.28570556640625,"wires":[[]]},{"id":"c7802ccb04cd7766","type":"change","z":"e7184b7ca4f07907","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":638.5000076293945,"y":623.2857055664062,"wires":[["6d1874bf33275fd7"]]},{"id":"6102efdd8d682de0","type":"inject","z":"e7184b7ca4f07907","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6,7]","payloadType":"json","x":282.00000762939453,"y":429.78570556640625,"wires":[["c7802ccb04cd7766"]]},{"id":"6d1874bf33275fd7","type":"ut-assert-values","z":"e7184b7ca4f07907","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"28","tot":"num"}],"x":1010.0000076293945,"y":429.78570556640625,"wires":[[]]},{"id":"26093494fcce77cc","type":"inject","z":"e7184b7ca4f07907","name":"array of objects","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"col2\":1},{\"col2\":2},{\"col2\":3},{\"col2\":2},{\"col2\":2}]","payloadType":"json","x":172.00000762939453,"y":667.2857055664062,"wires":[["443e3dfd745637c7"]]},{"id":"443e3dfd745637c7","type":"change","z":"e7184b7ca4f07907","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map($$.payload, function($v) { $v.col2 })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":638.5000076293945,"y":741.2857055664062,"wires":[["a542cc460843ee48"]]},{"id":"a542cc460843ee48","type":"ut-assert-values","z":"e7184b7ca4f07907","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,2,2]","tot":"json"}],"x":1110.0000076293945,"y":667.2857055664062,"wires":[[]]}]