priv/testflows/5d4908af3d4f95e5/flows.json
[{"id":"5d4908af3d4f95e5","type":"tab","label":"[trigger] send second message only","disabled":false,"info":"The trigger node can be set to send only the second message but not the first.","env":[]},{"id":"e449cf01ea86bf6f","type":"trigger","z":"5d4908af3d4f95e5","name":"","op1":"","op2":"2","op1type":"nul","op2type":"num","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":561,"y":328.5,"wires":[["9f08018c6c2a3591"],["c4681a062c911a4e"]]},{"id":"23d449d6f68227d2","type":"inject","z":"5d4908af3d4f95e5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":233,"y":329.5,"wires":[["e449cf01ea86bf6f"]]},{"id":"82b11648d6f0821d","type":"ut-assert-status","z":"5d4908af3d4f95e5","name":"trigger should still generate status","nodeid":"e449cf01ea86bf6f","content":"","colour":"blue","shape":"dot","inverse":false,"x":624,"y":475,"wires":[]},{"id":"9f08018c6c2a3591","type":"ut-assert-failure","z":"5d4908af3d4f95e5","name":"","x":837,"y":252,"wires":[]},{"id":"c4681a062c911a4e","type":"ut-assert-values","z":"5d4908af3d4f95e5","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"2","tot":"num"}],"x":877,"y":335.5,"wires":[[]]}]