priv/testflows/486c1412721bb241/flows.json
[{"id":"486c1412721bb241","type":"tab","label":"[mqtt] auto-(re)connect","disabled":false,"info":"mqtt nodes connect automagically to the mqtt broker. \n\nThis test use the exec node to create an mqtt broker using Mosquitto. The broker runs for three seconds before being killed by a timeout set on the exec node.\n\nWhat we simulate here are brokers that are flakey and keep dropping in and out, but each time our nodes reconnect and start working again.\n\nThe complete nodes listen for the exec node to complete - this is when the orignal message has been dealt i.e. when the process has started and stopped. So by successively listening for completes, we start a new Mosquitto when the last just stopped.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_TIMEOUT","type":"num","value":"12"}]},{"id":"40e104d4cdec19d8","type":"mqtt out","z":"486c1412721bb241","name":"","topic":"topic","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"97960d98b2837fa0","x":1523,"y":325,"wires":[]},{"id":"8751e693b7e1f809","type":"mqtt in","z":"486c1412721bb241","name":"","topic":"topic","qos":"2","datatype":"auto-detect","broker":"97960d98b2837fa0","nl":false,"rap":true,"rh":0,"inputs":0,"x":320.5,"y":104.00001525878906,"wires":[["74ef163d0010e62b"]]},{"id":"908334bdc920a58b","type":"exec","z":"486c1412721bb241","command":"mosquitto","addpay":"","append":"","useSpawn":"true","timer":"3","winHide":false,"oldrc":false,"name":"","x":739,"y":233,"wires":[[],["9740e1d0d308f3c3"],[]]},{"id":"b03b64a7f021f854","type":"inject","z":"486c1412721bb241","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":209,"y":233,"wires":[["908334bdc920a58b"]]},{"id":"cf5e59d549198817","type":"ut-assert-values","z":"486c1412721bb241","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"fubar","tot":"str"},{"p":"topic","pt":"msg","t":"eql","to":"topic","tot":"str"}],"x":726,"y":47.5,"wires":[[]]},{"id":"9740e1d0d308f3c3","type":"change","z":"486c1412721bb241","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"},{"p":"topic","pt":"msg","t":"set","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":233,"wires":[["4ae6a76dda47880d"]]},{"id":"5a23f94843302ce3","type":"exec","z":"486c1412721bb241","command":"mosquitto","addpay":"","append":"","useSpawn":"true","timer":"3","winHide":false,"oldrc":false,"name":"","x":739,"y":325,"wires":[[],["3cd356de538d5f56"],[]]},{"id":"c10838d19ffbd1c9","type":"exec","z":"486c1412721bb241","command":"mosquitto","addpay":"","append":"","useSpawn":"true","timer":"5","winHide":false,"oldrc":false,"name":"","x":739,"y":406,"wires":[[],["7833522fc1dbed96"],[]]},{"id":"4ae6a76dda47880d","type":"delay","z":"486c1412721bb241","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1287,"y":325,"wires":[["40e104d4cdec19d8"]]},{"id":"3cd356de538d5f56","type":"change","z":"486c1412721bb241","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"snafu","tot":"str"},{"p":"topic","pt":"msg","t":"set","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1001,"y":325,"wires":[["4ae6a76dda47880d"]]},{"id":"02a1ab75f99b0610","type":"complete","z":"486c1412721bb241","name":"","scope":["908334bdc920a58b"],"uncaught":false,"x":496,"y":325,"wires":[["5a23f94843302ce3"]]},{"id":"62e9a30e80c4254c","type":"ut-assert-values","z":"486c1412721bb241","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"snafu","tot":"str"},{"p":"topic","pt":"msg","t":"eql","to":"topic","tot":"str"}],"x":726,"y":106.25,"wires":[[]]},{"id":"74ef163d0010e62b","type":"switch","z":"486c1412721bb241","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"fubar","vt":"str"},{"t":"eq","v":"snafu","vt":"str"},{"t":"eq","v":"chuck","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":488,"y":104.00001525878906,"wires":[["cf5e59d549198817"],["62e9a30e80c4254c"],["2e1990cd9592221c"]]},{"id":"2e1990cd9592221c","type":"ut-assert-values","z":"486c1412721bb241","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"chuck","tot":"str"},{"p":"topic","pt":"msg","t":"eql","to":"topic","tot":"str"}],"x":726,"y":165,"wires":[[]]},{"id":"9a1b0dc12a3ba53f","type":"complete","z":"486c1412721bb241","name":"","scope":["5a23f94843302ce3"],"uncaught":false,"x":493,"y":406,"wires":[["c10838d19ffbd1c9"]]},{"id":"7833522fc1dbed96","type":"change","z":"486c1412721bb241","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"chuck","tot":"str"},{"p":"topic","pt":"msg","t":"set","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1004,"y":406,"wires":[["4ae6a76dda47880d"]]},{"id":"97960d98b2837fa0","type":"mqtt-broker","name":"localhost","broker":"localhost","port":1883,"clientid":"ClientId","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]