priv/testflows/9c51a179141515b2/flows.json
[{"id":"9c51a179141515b2","type":"tab","label":"[change] change functionality","disabled":false,"info":"","env":[]},{"id":"49f7ff628e4f9c36","type":"inject","z":"9c51a179141515b2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":175,"y":300,"wires":[["9f76d765a0cd6fe5"]]},{"id":"9f76d765a0cd6fe5","type":"change","z":"9c51a179141515b2","name":"","rules":[{"from":"hello","fromt":"str","p":"payload","pt":"msg","t":"change","to":"goodbye","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":291,"y":409,"wires":[["fd85f12a4117f810"]]},{"id":"fd85f12a4117f810","type":"change","z":"9c51a179141515b2","name":"","rules":[{"from":"world","fromt":"str","p":"payload","pt":"msg","t":"change","to":"universe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":385,"y":528,"wires":[["15501a1328c7a6c1"]]},{"id":"15501a1328c7a6c1","type":"ut-assert-values","z":"9c51a179141515b2","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"goodbye universe","tot":"str"}],"x":500,"y":638,"wires":[[]]},{"id":"1d4292203308c565","type":"inject","z":"9c51a179141515b2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world hello world hello world","payloadType":"str","x":412,"y":186,"wires":[["93554c8940ba01a7"]]},{"id":"93554c8940ba01a7","type":"change","z":"9c51a179141515b2","name":"change all occurances","rules":[{"from":"hello","fromt":"str","p":"payload","pt":"msg","t":"change","to":"goodbye","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":529,"y":299,"wires":[["3775b89b73a85edc"]]},{"id":"3775b89b73a85edc","type":"change","z":"9c51a179141515b2","name":"change all occurances","rules":[{"from":"world","fromt":"str","p":"payload","pt":"msg","t":"change","to":"universe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":623,"y":418,"wires":[["d4b8deb984af724a"]]},{"id":"d4b8deb984af724a","type":"ut-assert-values","z":"9c51a179141515b2","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"goodbye universe goodbye universe goodbye universe","tot":"str"}],"x":738,"y":528,"wires":[[]]}]