priv/testflows/562c518969666f24/flows.json
[{"id":"562c518969666f24","type":"tab","label":"[switch] empty, non-empty, null & not-null operators","disabled":false,"info":"Test for checking the empty and non-empty operators.\n\nThis is testing this stuff with the check all switch mode.\n\nThe check all and stop after one are two different implementations in Erlang-Red, so test them separately.","env":[]},{"id":"96a58221afc70841","type":"group","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"empty","style":{"label":true},"nodes":["fce6e4bfc254e526","a1f6e5b67ab30bc5","ac7194641c4da798","eb88cb11b20f9c6c","ae65a3cae61d42c8","ea7f199f5a672cee","73b56842df83a3e2","62f4eec670f66ce9","84061c98d59edad5","038904d4cb2288d6","2bcedfdf1d3d45ef","1601fc1c7f7cb748","c71bcdf4053a7b9a","3d51d208a34513de","ede42a74c8ae0815","a09c0bead8bfd245","3bcacab749f4fd44","5442b436584f25ea","dfb82aad72ad7b45","90e0102a77037276","46e91642beeaceb9","abbda6b7ab043de8","6cbcaa8b486936f4","adcd34171aa855e7"],"x":587,"y":105,"w":370,"h":922},{"id":"bf4f8a596de54591","type":"group","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"not empty","style":{"label":true},"nodes":["e4982459cd7ad1e9","a975d117de84f3e6","0c267e56549f3bc3","fd1d2094d6a84981","19be72dcca778e78","89a8934bd15adb4b","36da98d187123cab","7dff2c9fc863cc53","2dc08da425860198","b9c7436955b5afae","d2758385a668c5bb","7d607840b599aae3","994042afbaa06bbb","e33dbf43d9dd82d7","d5b6d6e64b966983","adb57be73191be73","e3f81e52b9d0f4b0","ab880807ce3be375","00f376877da052d4","153c4abad8da6817","10abf92beec590aa","6ad607f6d51f16e6","327d66b39a2402a3","1d492dbc334ea99b"],"x":1010,"y":105,"w":373,"h":922},{"id":"c48aa36b85802116","type":"group","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"null","style":{"label":true},"nodes":["05643d44379f643f","0011be8cd50f5a07","44136d729807b522","9fe921798f6e6796","ca0ec6f49970a49a","331b4b91d41c7087","e5d892bfbabd621d","35c91122b2375a67","ed6e65ec9665eea6","30f64dd5cb950758","4046d429e9fa2cdb","58254614717ede4e","418713d05f156829","355582df1b51ab7d","e661c6acaaff1e63","b7f1816258c6d9d0","e3a294dd14b2d899","9b06c5e8eb9cd637","be67ecc77fee3c1c","c7d0d0fda6920337","725c725693a75571","1ca577e1b280c526","20a296c8d1f2c0fe","df14fd6e36093848"],"x":1434,"y":105,"w":369,"h":922},{"id":"d990b228b7f2e9f9","type":"group","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"not null","style":{"label":true},"nodes":["90092611946b9a0b","78b1c12ceb02f81e","50dcf7b8dced640f","8f1a5cb3b58236a7","71ac7595dde830c2","ca3d6262353e6061","d8d9c7b3e76cb3af","b76aaedf35e07991","c476307908f5fb4f","ed86a6074f8d9a83","894f3f4315645064","c4fcbacf8e5d6357","d3b819cb74cb8cda","58b6acc5a33d15cc","cccca235644d3528","c87448c6b269ebfd","96853c79e8a671c8","6072d507136887c4","a041dc74de8d7e0e","5b1a4dd2790819dc","0c26a66dd964906a","a7440f05bfbfc95c","57087f25a5278231","bc12ab20404b1d30"],"x":1836,"y":105,"w":364.285888671875,"h":922},{"id":"e939eff71e5bf501","type":"group","z":"562c518969666f24","g":"870e9f448a354db4","name":"empty","style":{"label":true},"nodes":["2436661afcf52cca","0ea5d93ad62c9025","88f9b50a8f5c7754","4e976a206a84f421","cbf8d30233be4581","d4b4a8074c44bfe3","2df9ea92666d66fe","e881223b44034428","3e1fa32819d17c65","78b758ef48fec079","8065cb23523b2285","b61a9d60025155ca","f9cd662ffc74966d","813f98c0756aa374","bc30705200cbfa82","b13cdaab920b9c2f","81f12ae0e0270b2c","ed2bb949c0befac0","44660ce52a1f6f58","80bb61c0900edc55","276ddaf3d69bf14d","9fbaae5163fab1d1","598978ccd3437403","0d366df435e80a46"],"x":583.5714111328125,"y":1239.2272727272727,"w":370,"h":922.0000000000002},{"id":"eff15a3dc5176380","type":"group","z":"562c518969666f24","g":"870e9f448a354db4","name":"not empty","style":{"label":true},"nodes":["a3a79bfce997de45","40898190b757e594","213a0e0140241057","c81b2e844fc8c901","a1c7baad2c45eb3a","e2997f7efd7c50b5","3b5d996ffbcb118e","c5d61692201f857a","e0eb9b2159de2c36","4c77688ea21b68c3","2b26c4f0db5f306c","e14b93a9c5a0c0a1","631d4eaf00ee944b","1640af01222fc3c5","467236623efc1989","f30edf1a17520794","3a5c857ae5c128e2","ddf051720349ad31","71c93d925de94740","c8e0f3c00a761206","19fe0904ace89cd9","10e5480766c0a88c","88f9eac9d15309f2","de476fee71d40ef5"],"x":1006.5714111328125,"y":1239.2272727272727,"w":373,"h":922.0000000000002},{"id":"22df3098654e872d","type":"group","z":"562c518969666f24","g":"870e9f448a354db4","name":"null","style":{"label":true},"nodes":["2fe8a2fdada97739","ab5018a945940fde","03d26960c665c34e","e1181c79748d23d4","944de91d3ddf8482","3e3df7de5c572253","d27e705b2868ea82","5da843ae07cec61a","6fcd088bd59c564d","312908fec7665d46","8913b1ef6140431c","cd0da1bb63dd8c35","4cec5152460fa969","7101a12bd3f03947","840b32f7ccca85ce","f06545832f88bab5","7770a062deb7a26f","0e878dda01e38766","2a6e62ba1eaba165","d43d46748fdfe4ea","497da5a232c77cbd","47b9e11f1b8a4792","065be8f4689fd89c","a3036b0ac090be70"],"x":1430.5714111328125,"y":1239.2272727272727,"w":369,"h":922.0000000000002},{"id":"80bc09e5882fc79c","type":"group","z":"562c518969666f24","g":"870e9f448a354db4","name":"not null","style":{"label":true},"nodes":["db0580ddfb0ead67","c83b44309dbc07bc","356f56a804bf21c4","069094593ae04b11","09a9fa4f1c14461a","fec59b7887d2c0c4","b3bf5b9955f671fe","ac405612e08770ca","4ad2bdb901c5562f","f56fa361f2acfeef","7f7937d82837fe36","ac0ccde767c8a71a","f6d11043f97cb7f3","9320305e1bcf7ed7","7c4756cf0bad2167","ea3ae3a0e9450c0d","37b5425d94114eb6","f72cecc9677c090a","7766eb2856ab000a","e1c897fd486b7b24","2a4d337a3e824e48","af86b3072b626ec2","e8f652491b71505c","bfd106d060918eab"],"x":1832.5714111328125,"y":1239.2272727272727,"w":364.285888671875,"h":922.0000000000002},{"id":"870e9f448a354db4","type":"group","z":"562c518969666f24","name":"stop after first match","style":{"label":true},"nodes":["c8d6330fa47d2ec4","fef6b60564e23976","43c619c74373583c","79fcb6d00e1f8ba5","d7c85f523d2f72b9","036efb8c04d8afaf","68320638e5e90a22","f4d41c64632f0b06","ed6ff7aed0072612","e33d371803e62815","d4b583e519062843","9b871859cdbaf49f","e939eff71e5bf501","eff15a3dc5176380","22df3098654e872d","80bc09e5882fc79c"],"x":244,"y":1213.2272727272727,"w":1978.8572998046875,"h":974.0000000000002},{"id":"b1cde2bedbfee927","type":"group","z":"562c518969666f24","name":"check all rules","style":{"label":true},"nodes":["dd9d3d406f632d2d","f9ef5d60de9c5f1b","edd331254ee37a12","4c843992becead6d","1fa56b36794acc1e","08f615d785983b07","6db92138957030a2","369ac09b422ae73b","0ff093ba9ed2119c","f9b281bfdae29637","37f488795b1868ce","77bb91fec4e907fb","96a58221afc70841","bf4f8a596de54591","c48aa36b85802116","d990b228b7f2e9f9"],"x":247.4285888671875,"y":79,"w":1978.8572998046875,"h":974},{"id":"fce6e4bfc254e526","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":298.72727272727275,"wires":[["ac7194641c4da798"]]},{"id":"dd9d3d406f632d2d","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":343.4285888671875,"y":317.77272727272725,"wires":[["fce6e4bfc254e526","e4982459cd7ad1e9","05643d44379f643f","90092611946b9a0b"]]},{"id":"a1f6e5b67ab30bc5","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":375.0909090909091,"wires":[["eb88cb11b20f9c6c"]]},{"id":"f9ef5d60de9c5f1b","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":343.4285888671875,"y":393.9090909090909,"wires":[["a1f6e5b67ab30bc5","a975d117de84f3e6","0011be8cd50f5a07","78b1c12ceb02f81e"]]},{"id":"ac7194641c4da798","type":"ut-assert-success","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":298.72727272727275,"wires":[]},{"id":"eb88cb11b20f9c6c","type":"ut-assert-success","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":375.0909090909091,"wires":[]},{"id":"ae65a3cae61d42c8","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":451.4545454545455,"wires":[["73b56842df83a3e2"]]},{"id":"edd331254ee37a12","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\"","payloadType":"json","x":343.4285888671875,"y":470.0454545454545,"wires":[["ae65a3cae61d42c8","0c267e56549f3bc3","44136d729807b522","50dcf7b8dced640f"]]},{"id":"ea7f199f5a672cee","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":527.8181818181819,"wires":[["62f4eec670f66ce9"]]},{"id":"4c843992becead6d","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"empty string","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":363.4285888671875,"y":546.1818181818181,"wires":[["ea7f199f5a672cee","fd1d2094d6a84981","9fe921798f6e6796","8f1a5cb3b58236a7"]]},{"id":"73b56842df83a3e2","type":"ut-assert-success","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":451.4545454545455,"wires":[]},{"id":"62f4eec670f66ce9","type":"ut-assert-success","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":527.8181818181819,"wires":[]},{"id":"84061c98d59edad5","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":604.1818181818182,"wires":[["038904d4cb2288d6"]]},{"id":"1fa56b36794acc1e","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"undefined property","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":383.4285888671875,"y":622.3181818181818,"wires":[["84061c98d59edad5","19be72dcca778e78","ca0ec6f49970a49a","71ac7595dde830c2"]]},{"id":"038904d4cb2288d6","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":604.1818181818182,"wires":[]},{"id":"2bcedfdf1d3d45ef","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":680.5454545454546,"wires":[["1601fc1c7f7cb748"]]},{"id":"08f615d785983b07","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":343.4285888671875,"y":698.4545454545454,"wires":[["2bcedfdf1d3d45ef","89a8934bd15adb4b","331b4b91d41c7087","ca3d6262353e6061"]]},{"id":"1601fc1c7f7cb748","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":680.5454545454546,"wires":[]},{"id":"c71bcdf4053a7b9a","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":756.909090909091,"wires":[["3d51d208a34513de"]]},{"id":"6db92138957030a2","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"String: \"empty\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"empty","payloadType":"str","x":373.4285888671875,"y":774.590909090909,"wires":[["c71bcdf4053a7b9a","36da98d187123cab","e5d892bfbabd621d","d8d9c7b3e76cb3af"]]},{"id":"3d51d208a34513de","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":756.909090909091,"wires":[]},{"id":"ede42a74c8ae0815","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":833.2727272727274,"wires":[["a09c0bead8bfd245"]]},{"id":"369ac09b422ae73b","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"JSON: null","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"null","payloadType":"json","x":353.4285888671875,"y":850.7272727272726,"wires":[["ede42a74c8ae0815","7dff2c9fc863cc53","35c91122b2375a67","b76aaedf35e07991"]]},{"id":"a09c0bead8bfd245","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":833.2727272727274,"wires":[]},{"id":"3bcacab749f4fd44","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":909.6363636363637,"wires":[["5442b436584f25ea"]]},{"id":"0ff093ba9ed2119c","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"JSON: true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"json","x":353.4285888671875,"y":926.8636363636363,"wires":[["3bcacab749f4fd44","2dc08da425860198","ed6e65ec9665eea6","c476307908f5fb4f"]]},{"id":"5442b436584f25ea","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":909.6363636363637,"wires":[]},{"id":"dfb82aad72ad7b45","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":986,"wires":[["90e0102a77037276"]]},{"id":"f9b281bfdae29637","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"JSON: false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"json","x":363.4285888671875,"y":1003,"wires":[["dfb82aad72ad7b45","b9c7436955b5afae","30f64dd5cb950758","ed86a6074f8d9a83"]]},{"id":"90e0102a77037276","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":986,"wires":[]},{"id":"e4982459cd7ad1e9","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":298.72727272727275,"wires":[["adb57be73191be73"]]},{"id":"a975d117de84f3e6","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":375.0909090909091,"wires":[["e3f81e52b9d0f4b0"]]},{"id":"0c267e56549f3bc3","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":451.4545454545455,"wires":[["ab880807ce3be375"]]},{"id":"fd1d2094d6a84981","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":527.8181818181819,"wires":[["00f376877da052d4"]]},{"id":"19be72dcca778e78","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":604.1818181818182,"wires":[["d2758385a668c5bb"]]},{"id":"89a8934bd15adb4b","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":680.5454545454546,"wires":[["7d607840b599aae3"]]},{"id":"36da98d187123cab","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":756.909090909091,"wires":[["153c4abad8da6817"]]},{"id":"7dff2c9fc863cc53","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":833.2727272727274,"wires":[["994042afbaa06bbb"]]},{"id":"2dc08da425860198","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":909.6363636363637,"wires":[["e33dbf43d9dd82d7"]]},{"id":"b9c7436955b5afae","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":986,"wires":[["d5b6d6e64b966983"]]},{"id":"d2758385a668c5bb","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":604.1818181818182,"wires":[]},{"id":"7d607840b599aae3","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":680.5454545454546,"wires":[]},{"id":"994042afbaa06bbb","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":833.2727272727274,"wires":[]},{"id":"e33dbf43d9dd82d7","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":909.6363636363637,"wires":[]},{"id":"d5b6d6e64b966983","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":986,"wires":[]},{"id":"adb57be73191be73","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":298.72727272727275,"wires":[]},{"id":"e3f81e52b9d0f4b0","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":375.0909090909091,"wires":[]},{"id":"ab880807ce3be375","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":451.4545454545455,"wires":[]},{"id":"00f376877da052d4","type":"ut-assert-failure","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":527.8181818181819,"wires":[]},{"id":"153c4abad8da6817","type":"ut-assert-success","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":756.909090909091,"wires":[]},{"id":"46e91642beeaceb9","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":146,"wires":[["adcd34171aa855e7"]]},{"id":"37f488795b1868ce","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3]","payloadType":"json","x":343.4285888671875,"y":165.5,"wires":[["46e91642beeaceb9","10abf92beec590aa","9b06c5e8eb9cd637","894f3f4315645064"]]},{"id":"abbda6b7ab043de8","type":"switch","z":"562c518969666f24","g":"96a58221afc70841","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":663,"y":222.36363636363637,"wires":[["6cbcaa8b486936f4"]]},{"id":"77bb91fec4e907fb","type":"inject","z":"562c518969666f24","g":"b1cde2bedbfee927","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"hell\": \"o world\" }","payloadType":"json","x":383.4285888671875,"y":241.63636363636363,"wires":[["abbda6b7ab043de8","6ad607f6d51f16e6","be67ecc77fee3c1c","c4fcbacf8e5d6357"]]},{"id":"10abf92beec590aa","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":146,"wires":[["1d492dbc334ea99b"]]},{"id":"6ad607f6d51f16e6","type":"switch","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1086,"y":222.36363636363637,"wires":[["327d66b39a2402a3"]]},{"id":"327d66b39a2402a3","type":"ut-assert-success","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":222.36363636363637,"wires":[]},{"id":"6cbcaa8b486936f4","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":222.36363636363637,"wires":[]},{"id":"1d492dbc334ea99b","type":"ut-assert-success","z":"562c518969666f24","g":"bf4f8a596de54591","name":"","x":1287,"y":146,"wires":[]},{"id":"adcd34171aa855e7","type":"ut-assert-failure","z":"562c518969666f24","g":"96a58221afc70841","name":"","x":861,"y":146,"wires":[]},{"id":"05643d44379f643f","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":298.72727272727275,"wires":[["355582df1b51ab7d"]]},{"id":"0011be8cd50f5a07","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":375.0909090909091,"wires":[["e661c6acaaff1e63"]]},{"id":"44136d729807b522","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":451.4545454545455,"wires":[["b7f1816258c6d9d0"]]},{"id":"9fe921798f6e6796","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":527.8181818181819,"wires":[["e3a294dd14b2d899"]]},{"id":"ca0ec6f49970a49a","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":604.1818181818182,"wires":[["c7d0d0fda6920337"]]},{"id":"331b4b91d41c7087","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":680.5454545454546,"wires":[["4046d429e9fa2cdb"]]},{"id":"e5d892bfbabd621d","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":756.909090909091,"wires":[["df14fd6e36093848"]]},{"id":"35c91122b2375a67","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":833.2727272727274,"wires":[["20a296c8d1f2c0fe"]]},{"id":"ed6e65ec9665eea6","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":909.6363636363637,"wires":[["58254614717ede4e"]]},{"id":"30f64dd5cb950758","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":986,"wires":[["418713d05f156829"]]},{"id":"4046d429e9fa2cdb","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":680.5454545454546,"wires":[]},{"id":"58254614717ede4e","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":909.6363636363637,"wires":[]},{"id":"418713d05f156829","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":986,"wires":[]},{"id":"355582df1b51ab7d","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":298.72727272727275,"wires":[]},{"id":"e661c6acaaff1e63","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":375.0909090909091,"wires":[]},{"id":"b7f1816258c6d9d0","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":451.4545454545455,"wires":[]},{"id":"e3a294dd14b2d899","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":527.8181818181819,"wires":[]},{"id":"9b06c5e8eb9cd637","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":146,"wires":[["1ca577e1b280c526"]]},{"id":"be67ecc77fee3c1c","type":"switch","z":"562c518969666f24","g":"c48aa36b85802116","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":222.36363636363637,"wires":[["725c725693a75571"]]},{"id":"c7d0d0fda6920337","type":"ut-assert-success","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":604.1818181818182,"wires":[]},{"id":"725c725693a75571","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":222.36363636363637,"wires":[]},{"id":"1ca577e1b280c526","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":146,"wires":[]},{"id":"20a296c8d1f2c0fe","type":"ut-assert-success","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":833.2727272727274,"wires":[]},{"id":"df14fd6e36093848","type":"ut-assert-failure","z":"562c518969666f24","g":"c48aa36b85802116","name":"","x":1707,"y":756.909090909091,"wires":[]},{"id":"90092611946b9a0b","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":298.72727272727275,"wires":[["c87448c6b269ebfd"]]},{"id":"78b1c12ceb02f81e","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":375.0909090909091,"wires":[["cccca235644d3528"]]},{"id":"50dcf7b8dced640f","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":451.4545454545455,"wires":[["58b6acc5a33d15cc"]]},{"id":"8f1a5cb3b58236a7","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":527.8181818181819,"wires":[["d3b819cb74cb8cda"]]},{"id":"71ac7595dde830c2","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":604.1818181818182,"wires":[["a041dc74de8d7e0e"]]},{"id":"ca3d6262353e6061","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":680.5454545454546,"wires":[["5b1a4dd2790819dc"]]},{"id":"d8d9c7b3e76cb3af","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":756.909090909091,"wires":[["0c26a66dd964906a"]]},{"id":"b76aaedf35e07991","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":833.2727272727274,"wires":[["a7440f05bfbfc95c"]]},{"id":"c476307908f5fb4f","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":909.6363636363637,"wires":[["57087f25a5278231"]]},{"id":"ed86a6074f8d9a83","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":986,"wires":[["bc12ab20404b1d30"]]},{"id":"894f3f4315645064","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":146,"wires":[["6072d507136887c4"]]},{"id":"c4fcbacf8e5d6357","type":"switch","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1912,"y":222.36363636363637,"wires":[["96853c79e8a671c8"]]},{"id":"d3b819cb74cb8cda","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":527.8181818181819,"wires":[]},{"id":"58b6acc5a33d15cc","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":451.4545454545455,"wires":[]},{"id":"cccca235644d3528","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":375.0909090909091,"wires":[]},{"id":"c87448c6b269ebfd","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":298.72727272727275,"wires":[]},{"id":"96853c79e8a671c8","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":222.36363636363637,"wires":[]},{"id":"6072d507136887c4","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":146,"wires":[]},{"id":"a041dc74de8d7e0e","type":"ut-assert-failure","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":604.1818181818182,"wires":[]},{"id":"5b1a4dd2790819dc","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":680.5454545454546,"wires":[]},{"id":"0c26a66dd964906a","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":756.909090909091,"wires":[]},{"id":"a7440f05bfbfc95c","type":"ut-assert-failure","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":833.2727272727274,"wires":[]},{"id":"57087f25a5278231","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":909.6363636363637,"wires":[]},{"id":"bc12ab20404b1d30","type":"ut-assert-success","z":"562c518969666f24","g":"d990b228b7f2e9f9","name":"","x":2104.285888671875,"y":986,"wires":[]},{"id":"c8d6330fa47d2ec4","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":340,"y":1452,"wires":[["2436661afcf52cca","a3a79bfce997de45","2fe8a2fdada97739","db0580ddfb0ead67"]]},{"id":"fef6b60564e23976","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":340,"y":1528.1363636363635,"wires":[["0ea5d93ad62c9025","40898190b757e594","ab5018a945940fde","c83b44309dbc07bc"]]},{"id":"43c619c74373583c","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\"","payloadType":"json","x":340,"y":1604.2727272727273,"wires":[["cbf8d30233be4581","213a0e0140241057","03d26960c665c34e","356f56a804bf21c4"]]},{"id":"79fcb6d00e1f8ba5","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"empty string","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":360,"y":1680.409090909091,"wires":[["d4b4a8074c44bfe3","c81b2e844fc8c901","e1181c79748d23d4","069094593ae04b11"]]},{"id":"d7c85f523d2f72b9","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"undefined property","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":380,"y":1756.5454545454545,"wires":[["3e1fa32819d17c65","a1c7baad2c45eb3a","944de91d3ddf8482","09a9fa4f1c14461a"]]},{"id":"036efb8c04d8afaf","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":340,"y":1832.681818181818,"wires":[["8065cb23523b2285","e2997f7efd7c50b5","3e3df7de5c572253","fec59b7887d2c0c4"]]},{"id":"68320638e5e90a22","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"String: \"empty\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"empty","payloadType":"str","x":370,"y":1908.8181818181818,"wires":[["f9cd662ffc74966d","3b5d996ffbcb118e","d27e705b2868ea82","b3bf5b9955f671fe"]]},{"id":"f4d41c64632f0b06","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"JSON: null","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"null","payloadType":"json","x":350,"y":1984.9545454545455,"wires":[["bc30705200cbfa82","c5d61692201f857a","5da843ae07cec61a","ac405612e08770ca"]]},{"id":"ed6ff7aed0072612","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"JSON: true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"json","x":350,"y":2061.090909090909,"wires":[["81f12ae0e0270b2c","e0eb9b2159de2c36","6fcd088bd59c564d","4ad2bdb901c5562f"]]},{"id":"e33d371803e62815","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"JSON: false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"json","x":360,"y":2137.227272727273,"wires":[["44660ce52a1f6f58","4c77688ea21b68c3","312908fec7665d46","f56fa361f2acfeef"]]},{"id":"d4b583e519062843","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3]","payloadType":"json","x":340,"y":1299.7272727272727,"wires":[["276ddaf3d69bf14d","19fe0904ace89cd9","0e878dda01e38766","7f7937d82837fe36"]]},{"id":"9b871859cdbaf49f","type":"inject","z":"562c518969666f24","g":"870e9f448a354db4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"hell\": \"o world\" }","payloadType":"json","x":380,"y":1375.8636363636365,"wires":[["9fbaae5163fab1d1","10e5480766c0a88c","2a6e62ba1eaba165","ac0ccde767c8a71a"]]},{"id":"2436661afcf52cca","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1432.9545454545455,"wires":[["88f9b50a8f5c7754"]]},{"id":"0ea5d93ad62c9025","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1509.318181818182,"wires":[["4e976a206a84f421"]]},{"id":"88f9b50a8f5c7754","type":"ut-assert-success","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1432.9545454545455,"wires":[]},{"id":"4e976a206a84f421","type":"ut-assert-success","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1509.318181818182,"wires":[]},{"id":"cbf8d30233be4581","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1585.6818181818182,"wires":[["2df9ea92666d66fe"]]},{"id":"d4b4a8074c44bfe3","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1662.0454545454545,"wires":[["e881223b44034428"]]},{"id":"2df9ea92666d66fe","type":"ut-assert-success","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1585.6818181818182,"wires":[]},{"id":"e881223b44034428","type":"ut-assert-success","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1662.0454545454545,"wires":[]},{"id":"3e1fa32819d17c65","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1738.409090909091,"wires":[["78b758ef48fec079"]]},{"id":"78b758ef48fec079","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1738.409090909091,"wires":[]},{"id":"8065cb23523b2285","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1814.7727272727275,"wires":[["b61a9d60025155ca"]]},{"id":"b61a9d60025155ca","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1814.7727272727275,"wires":[]},{"id":"f9cd662ffc74966d","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1891.1363636363637,"wires":[["813f98c0756aa374"]]},{"id":"813f98c0756aa374","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1891.1363636363637,"wires":[]},{"id":"bc30705200cbfa82","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1967.5,"wires":[["b13cdaab920b9c2f"]]},{"id":"b13cdaab920b9c2f","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1967.5,"wires":[]},{"id":"81f12ae0e0270b2c","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":2043.8636363636365,"wires":[["ed2bb949c0befac0"]]},{"id":"ed2bb949c0befac0","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":2043.8636363636365,"wires":[]},{"id":"44660ce52a1f6f58","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":2120.227272727273,"wires":[["80bb61c0900edc55"]]},{"id":"80bb61c0900edc55","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":2120.227272727273,"wires":[]},{"id":"276ddaf3d69bf14d","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1280.2272727272727,"wires":[["0d366df435e80a46"]]},{"id":"9fbaae5163fab1d1","type":"switch","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"false","repair":false,"outputs":1,"x":659.5714111328125,"y":1356.590909090909,"wires":[["598978ccd3437403"]]},{"id":"598978ccd3437403","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1356.590909090909,"wires":[]},{"id":"0d366df435e80a46","type":"ut-assert-failure","z":"562c518969666f24","g":"e939eff71e5bf501","name":"","x":857.5714111328125,"y":1280.2272727272727,"wires":[]},{"id":"a3a79bfce997de45","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1432.9545454545455,"wires":[["f30edf1a17520794"]]},{"id":"40898190b757e594","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1509.318181818182,"wires":[["3a5c857ae5c128e2"]]},{"id":"213a0e0140241057","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1585.6818181818182,"wires":[["ddf051720349ad31"]]},{"id":"c81b2e844fc8c901","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1662.0454545454545,"wires":[["71c93d925de94740"]]},{"id":"a1c7baad2c45eb3a","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1738.409090909091,"wires":[["2b26c4f0db5f306c"]]},{"id":"e2997f7efd7c50b5","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1814.7727272727275,"wires":[["e14b93a9c5a0c0a1"]]},{"id":"3b5d996ffbcb118e","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1891.1363636363637,"wires":[["c8e0f3c00a761206"]]},{"id":"c5d61692201f857a","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1967.5,"wires":[["631d4eaf00ee944b"]]},{"id":"e0eb9b2159de2c36","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":2043.8636363636365,"wires":[["1640af01222fc3c5"]]},{"id":"4c77688ea21b68c3","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":2120.227272727273,"wires":[["467236623efc1989"]]},{"id":"2b26c4f0db5f306c","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1738.409090909091,"wires":[]},{"id":"e14b93a9c5a0c0a1","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1814.7727272727275,"wires":[]},{"id":"631d4eaf00ee944b","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1967.5,"wires":[]},{"id":"1640af01222fc3c5","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":2043.8636363636365,"wires":[]},{"id":"467236623efc1989","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":2120.227272727273,"wires":[]},{"id":"f30edf1a17520794","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1432.9545454545455,"wires":[]},{"id":"3a5c857ae5c128e2","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1509.318181818182,"wires":[]},{"id":"ddf051720349ad31","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1585.6818181818182,"wires":[]},{"id":"71c93d925de94740","type":"ut-assert-failure","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1662.0454545454545,"wires":[]},{"id":"c8e0f3c00a761206","type":"ut-assert-success","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1891.1363636363637,"wires":[]},{"id":"19fe0904ace89cd9","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1280.2272727272727,"wires":[["de476fee71d40ef5"]]},{"id":"10e5480766c0a88c","type":"switch","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":false,"outputs":1,"x":1082.5714111328125,"y":1356.590909090909,"wires":[["88f9eac9d15309f2"]]},{"id":"88f9eac9d15309f2","type":"ut-assert-success","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1356.590909090909,"wires":[]},{"id":"de476fee71d40ef5","type":"ut-assert-success","z":"562c518969666f24","g":"eff15a3dc5176380","name":"","x":1283.5714111328125,"y":1280.2272727272727,"wires":[]},{"id":"2fe8a2fdada97739","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1432.9545454545455,"wires":[["7101a12bd3f03947"]]},{"id":"ab5018a945940fde","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1509.318181818182,"wires":[["840b32f7ccca85ce"]]},{"id":"03d26960c665c34e","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1585.6818181818182,"wires":[["f06545832f88bab5"]]},{"id":"e1181c79748d23d4","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1662.0454545454545,"wires":[["7770a062deb7a26f"]]},{"id":"944de91d3ddf8482","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1738.409090909091,"wires":[["d43d46748fdfe4ea"]]},{"id":"3e3df7de5c572253","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1814.7727272727275,"wires":[["8913b1ef6140431c"]]},{"id":"d27e705b2868ea82","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1891.1363636363637,"wires":[["a3036b0ac090be70"]]},{"id":"5da843ae07cec61a","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1967.5,"wires":[["065be8f4689fd89c"]]},{"id":"6fcd088bd59c564d","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":2043.8636363636365,"wires":[["cd0da1bb63dd8c35"]]},{"id":"312908fec7665d46","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":2120.227272727273,"wires":[["4cec5152460fa969"]]},{"id":"8913b1ef6140431c","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1814.7727272727275,"wires":[]},{"id":"cd0da1bb63dd8c35","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":2043.8636363636365,"wires":[]},{"id":"4cec5152460fa969","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":2120.227272727273,"wires":[]},{"id":"7101a12bd3f03947","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1432.9545454545455,"wires":[]},{"id":"840b32f7ccca85ce","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1509.318181818182,"wires":[]},{"id":"f06545832f88bab5","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1585.6818181818182,"wires":[]},{"id":"7770a062deb7a26f","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1662.0454545454545,"wires":[]},{"id":"0e878dda01e38766","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1280.2272727272727,"wires":[["47b9e11f1b8a4792"]]},{"id":"2a6e62ba1eaba165","type":"switch","z":"562c518969666f24","g":"22df3098654e872d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1506.5714111328125,"y":1356.590909090909,"wires":[["497da5a232c77cbd"]]},{"id":"d43d46748fdfe4ea","type":"ut-assert-success","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1738.409090909091,"wires":[]},{"id":"497da5a232c77cbd","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1356.590909090909,"wires":[]},{"id":"47b9e11f1b8a4792","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1280.2272727272727,"wires":[]},{"id":"065be8f4689fd89c","type":"ut-assert-success","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1967.5,"wires":[]},{"id":"a3036b0ac090be70","type":"ut-assert-failure","z":"562c518969666f24","g":"22df3098654e872d","name":"","x":1703.5714111328125,"y":1891.1363636363637,"wires":[]},{"id":"db0580ddfb0ead67","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1432.9545454545455,"wires":[["ea3ae3a0e9450c0d"]]},{"id":"c83b44309dbc07bc","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1509.318181818182,"wires":[["7c4756cf0bad2167"]]},{"id":"356f56a804bf21c4","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1585.6818181818182,"wires":[["9320305e1bcf7ed7"]]},{"id":"069094593ae04b11","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1662.0454545454545,"wires":[["f6d11043f97cb7f3"]]},{"id":"09a9fa4f1c14461a","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1738.409090909091,"wires":[["7766eb2856ab000a"]]},{"id":"fec59b7887d2c0c4","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1814.7727272727275,"wires":[["e1c897fd486b7b24"]]},{"id":"b3bf5b9955f671fe","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1891.1363636363637,"wires":[["2a4d337a3e824e48"]]},{"id":"ac405612e08770ca","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1967.5,"wires":[["af86b3072b626ec2"]]},{"id":"4ad2bdb901c5562f","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":2043.8636363636365,"wires":[["e8f652491b71505c"]]},{"id":"f56fa361f2acfeef","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":2120.227272727273,"wires":[["bfd106d060918eab"]]},{"id":"7f7937d82837fe36","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1280.2272727272727,"wires":[["f72cecc9677c090a"]]},{"id":"ac0ccde767c8a71a","type":"switch","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","repair":false,"outputs":1,"x":1908.5714111328125,"y":1356.590909090909,"wires":[["37b5425d94114eb6"]]},{"id":"f6d11043f97cb7f3","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1662.0454545454545,"wires":[]},{"id":"9320305e1bcf7ed7","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1585.6818181818182,"wires":[]},{"id":"7c4756cf0bad2167","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1509.318181818182,"wires":[]},{"id":"ea3ae3a0e9450c0d","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1432.9545454545455,"wires":[]},{"id":"37b5425d94114eb6","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1356.590909090909,"wires":[]},{"id":"f72cecc9677c090a","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1280.2272727272727,"wires":[]},{"id":"7766eb2856ab000a","type":"ut-assert-failure","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1738.409090909091,"wires":[]},{"id":"e1c897fd486b7b24","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1814.7727272727275,"wires":[]},{"id":"2a4d337a3e824e48","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1891.1363636363637,"wires":[]},{"id":"af86b3072b626ec2","type":"ut-assert-failure","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":1967.5,"wires":[]},{"id":"e8f652491b71505c","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":2043.8636363636365,"wires":[]},{"id":"bfd106d060918eab","type":"ut-assert-success","z":"562c518969666f24","g":"80bc09e5882fc79c","name":"","x":2100.8572998046875,"y":2120.227272727273,"wires":[]}]