priv/testflows/8bc7412d6a4869c6/flows.json
[{"id":"8bc7412d6a4869c6","type":"tab","label":"[trigger] loops of triggers","disabled":false,"info":"What happens when triggers, trigger other triggers and they trigger those triggers too.","env":[]},{"id":"9cd8857b59e4392d","type":"trigger","z":"8bc7412d6a4869c6","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":440.25,"wires":[["61ab8cc32340d5cb","54a9e0a20a4a969d","c1962585cbb9645d"]]},{"id":"61ab8cc32340d5cb","type":"debug","z":"8bc7412d6a4869c6","name":"debug 400","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":857.5,"y":440.25,"wires":[]},{"id":"c1962585cbb9645d","type":"trigger","z":"8bc7412d6a4869c6","name":"","op1":"1","op2":"reset","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":308,"wires":[["9cd8857b59e4392d","62b5e210f24d2ee0"]]},{"id":"62b5e210f24d2ee0","type":"debug","z":"8bc7412d6a4869c6","name":"debug 401","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":857.5,"y":308,"wires":[]},{"id":"c64ac0e65906c07c","type":"inject","z":"8bc7412d6a4869c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":228.5,"y":129,"wires":[["c1962585cbb9645d"]]},{"id":"54a9e0a20a4a969d","type":"trigger","z":"8bc7412d6a4869c6","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":572.5,"wires":[["5d5d39de40c14a13","9cd8857b59e4392d"]]},{"id":"5d5d39de40c14a13","type":"debug","z":"8bc7412d6a4869c6","name":"debug 402","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":857.5,"y":572.5,"wires":[]},{"id":"4525d77a2b09c18e","type":"ut-assert-status","z":"8bc7412d6a4869c6","name":"trigger should still generate status","nodeid":"c1962585cbb9645d","content":"","colour":"blue","shape":"dot","inverse":false,"x":204,"y":321,"wires":[]},{"id":"741af7fa180d82b1","type":"ut-assert-status","z":"8bc7412d6a4869c6","name":"trigger should still generate status","nodeid":"9cd8857b59e4392d","content":"","colour":"blue","shape":"dot","inverse":false,"x":209,"y":443,"wires":[]},{"id":"1bb0d7731e34ca2c","type":"ut-assert-status","z":"8bc7412d6a4869c6","name":"trigger should still generate status","nodeid":"54a9e0a20a4a969d","content":"","colour":"blue","shape":"dot","inverse":false,"x":212,"y":582,"wires":[]}]