priv/testflows/641ddaab2819c61d/flows.json
[{"id":"641ddaab2819c61d","type":"tab","label":"[link nodes] flow for call and returning","disabled":false,"info":"This isn't a flow test this is a flow to link to and then return from - it's used to test the links can go over multiple flows feature.","env":[]},{"id":"e5f1938d9c213a06","type":"link in","z":"641ddaab2819c61d","name":"link in","links":[],"x":315.5555591583252,"y":528.3333049085405,"wires":[["07ad2f6822a83440"]]},{"id":"6e54298d87070a67","type":"link out","z":"641ddaab2819c61d","name":"link return","mode":"return","links":[],"x":816.6666660308838,"y":528.3333049085405,"wires":[]},{"id":"07ad2f6822a83440","type":"change","z":"641ddaab2819c61d","name":"","rules":[{"p":"_visited_link_flow","pt":"msg","t":"set","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.1111125946045,"y":528.3333049085405,"wires":[["6e54298d87070a67"]]}]