priv/testflows/96f6f83dcab507e5/flows.json
[{"id":"96f6f83dcab507e5","type":"tab","label":"[tcp] transfer string between nodes","disabled":false,"info":"## Tcp Nodes\n\nSingle connection and transmit a single string.\n\n## Setup\n\nA <a class=\"ahl-node-only\" data-ids=\"ae4e5598c44f091d\">tcp in node</a> listening on port 1201 is connected to by an <a class=\"ahl-node-only\" data-ids=\"df08721af57ca915\">tcp out node</a>.\n\n## Test\n\nAn <a class=\"ahl-node-only\" data-ids=\"d0f149c3e8e35067\">inject</a> node generates a message that is transmitted by the tcp-out node to the tcp-in node and checked by the <a class=\"ahl-node-only\" data-ids=\"588192fa298107ad\">assert values</a> node.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"df08721af57ca915","type":"tcp out","z":"96f6f83dcab507e5","name":"","host":"localhost","port":"1201","beserver":"client","base64":false,"end":false,"tls":"","x":862,"y":403.5,"wires":[]},{"id":"d0f149c3e8e35067","type":"inject","z":"96f6f83dcab507e5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"hello world\"","payloadType":"jsonata","x":477,"y":403.5,"wires":[["df08721af57ca915"]]},{"id":"588192fa298107ad","type":"ut-assert-values","z":"96f6f83dcab507e5","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"hello world","tot":"str"}],"x":1021,"y":287.5,"wires":[[]]},{"id":"ae4e5598c44f091d","type":"tcp in","z":"96f6f83dcab507e5","name":"","server":"server","host":"","port":"1201","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":467,"y":287.5,"wires":[["4336796c78fa68f9"]]},{"id":"4336796c78fa68f9","type":"switch","z":"96f6f83dcab507e5","name":"only data packets","property":"_session.status","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":729,"y":287.5,"wires":[["588192fa298107ad"]]}]