priv/testflows/f2f61ec9fc46a468/flows.json
[{"id":"f2f61ec9fc46a468","type":"tab","label":"[function] support timeout setting","disabled":false,"info":"","env":[{"name":"ERED_PENDING","value":"true","type":"bool"}]},{"id":"5b347e54a92d9ff9","type":"function","z":"f2f61ec9fc46a468","name":"function 3","func":"Msg\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":391,"y":326,"wires":[["29d6ba5cd2d81f4d"]]},{"id":"3e76245fbd5691b3","type":"inject","z":"f2f61ec9fc46a468","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":219,"wires":[["5b347e54a92d9ff9"]]},{"id":"29d6ba5cd2d81f4d","type":"ut-assert-failure","z":"f2f61ec9fc46a468","name":"","x":518,"y":405.5,"wires":[]}]