priv/testflows/3ed472eab9503b4f/flows.json
[{"id":"3ed472eab9503b4f","type":"tab","label":"[template] support logic in logicless mustache template","disabled":false,"info":"Ensure that {{#var}} & {{^var}} are supported by the mustache library.","env":[]},{"id":"570c6bc9a4ad0886","type":"inject","z":"3ed472eab9503b4f","name":"","props":[{"p":"fu_bar","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":247,"y":228,"wires":[["6d7d30847ac3a7e3"]]},{"id":"6d7d30847ac3a7e3","type":"template","z":"3ed472eab9503b4f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#fu_bar}}\nfu_bar was set\n{{/fu_bar}}\n\n{{^fu_bar}}\nno fu_bar set\n{{/fu_bar}}\n","output":"str","x":509,"y":241,"wires":[["fc72755318e9bc1b"]]},{"id":"ac75c6d5375b09ee","type":"inject","z":"3ed472eab9503b4f","name":"","props":[{"p":"fu_bar","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":234,"y":379,"wires":[["b7d9a40a9648728f"]]},{"id":"b7d9a40a9648728f","type":"template","z":"3ed472eab9503b4f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#fu_bar}}\nfu_bar was set\n{{/fu_bar}}\n\n{{^fu_bar}}\nno fu_bar set\n{{/fu_bar}}\n","output":"str","x":496,"y":392,"wires":[["bd1a4c8dac8afa09"]]},{"id":"bd1a4c8dac8afa09","type":"ut-assert-values","z":"3ed472eab9503b4f","name":"","rules":[{"p":"payload","pt":"msg","t":"mth","to":"\\nno fu_bar set\\n","tot":"str"}],"x":735,"y":435.5,"wires":[[]]},{"id":"fc72755318e9bc1b","type":"ut-assert-values","z":"3ed472eab9503b4f","name":"","rules":[{"p":"payload","pt":"msg","t":"mth","to":"fu_bar was set\\n\\n","tot":"str"}],"x":812,"y":270.5,"wires":[[]]}]