priv/testflows/0cb8971e5f88ed1e/flows.json
[{"id":"0cb8971e5f88ed1e","type":"tab","label":"[change] support nested keys on the set operation","disabled":false,"info":"","env":[]},{"id":"55e5aa1396339311","type":"inject","z":"0cb8971e5f88ed1e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key1\":{\"key2\":{\"key3\":\"this is the value\"}}}","payloadType":"json","x":202,"y":235,"wires":[["81f676cbcb55e627","229c5266e12e3957"]]},{"id":"229c5266e12e3957","type":"change","z":"0cb8971e5f88ed1e","name":"","rules":[{"p":"newvalue","pt":"msg","t":"set","to":"payload.key1.key2.key3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":476,"y":394,"wires":[["a220adeb31b41341"]]},{"id":"81f676cbcb55e627","type":"ut-assert-values","z":"0cb8971e5f88ed1e","name":"","rules":[{"p":"payload.key1.key2.key3","pt":"msg","t":"eql","to":"this is the value","tot":"str"}],"x":844,"y":231,"wires":[[]]},{"id":"a220adeb31b41341","type":"ut-assert-values","z":"0cb8971e5f88ed1e","name":"","rules":[{"p":"payload.key1.key2.key3","pt":"msg","t":"eql","to":"this is the value","tot":"str"},{"p":"newvalue","pt":"msg","t":"eql","to":"this is the value","tot":"str"}],"x":729,"y":507,"wires":[[]]}]