priv/testflows/ea246f68766c8630/flows.json
[{"id":"ea246f68766c8630","type":"tab","label":"[change] delete functionality","disabled":false,"info":"","env":[]},{"id":"b7b499f508ed8742","type":"inject","z":"ea246f68766c8630","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"no real topic","payload":"","payloadType":"date","x":640,"y":500,"wires":[["78fab79eaaa268c3","d320af7910f3e3af","6013d0cf2542e862","f5e202f68ce6572f"]]},{"id":"78fab79eaaa268c3","type":"change","z":"ea246f68766c8630","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"},{"p":"payload","pt":"msg","t":"delete"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":660,"wires":[["9dbe5b68ca81607b"]]},{"id":"d320af7910f3e3af","type":"change","z":"ea246f68766c8630","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"fubar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":580,"wires":[["b9885d9aac5441dd"]]},{"id":"6013d0cf2542e862","type":"ut-assert-values","z":"ea246f68766c8630","name":"","rules":[{"p":"payload","pt":"msg","t":"noteql","to":"","tot":"str"}],"x":992,"y":361,"wires":[[]]},{"id":"49c425f110d125a1","type":"ut-assert-failure","z":"ea246f68766c8630","name":"","x":1290,"y":520,"wires":[]},{"id":"f5e202f68ce6572f","type":"switch","z":"ea246f68766c8630","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":500,"wires":[["49c425f110d125a1"]]},{"id":"b9885d9aac5441dd","type":"ut-assert-values","z":"ea246f68766c8630","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"fubar","tot":"str"}],"x":1292,"y":657.5,"wires":[[]]},{"id":"9dbe5b68ca81607b","type":"ut-assert-values","z":"ea246f68766c8630","name":"","rules":[{"p":"payload","pt":"msg","t":"notset"}],"x":1328,"y":775,"wires":[[]]}]