priv/testflows/ea246f68766c8632/flows.json
[{"id":"ea246f68766c8632","type":"tab","label":"[I2C] controlling Scroll pHAT board","disabled":false,"info":"## Flow for a Scroll pHAT board\n\nInspired by the [Node-RED flow one](https://flowhub.org/f/be2109bba90b6c5a) and [two](https://flowhub.org/f/81d46dabe68094e4)\n\n[Scroll pHAT](https://www.adafruit.com/product/3017) is a 11x5 LED board that is connected to an I2C bus and can be controlled via that. \n\nThis flow runs on an Raspberry Pi 4B using Erlang-Red in a docker image.\n\n## Protocol\n\nSee [specs](https://cdn-shop.adafruit.com/product-files/3017/31FL3730.pdf) for details.\n\nTo set <a class=\"ahl-group-only\" data-ids=\"6f6b01553f6061c3\">Brightness</a> 0x19 (25) is the command.\n\nTo set the <a class=\"ahl-group-only\" data-ids=\"d652d4252503fe67\">mode must be (0b11) 3 - 5x11 matrix LED</a>, command is zero.\n\nTo toggle the LEDs, use command 1 (0x01) to 11 (0x0b).\n\n## Discussion\n\nWhat this flow shows is two different possibilities of addressing the Scroll pHAT.\n\nOne is to use the command 1 and set all LED columns at once. I send 12 byte values representing each column (0b11111 - all on, 0b00000 - all off) plus a final value 255 to refresh the matrix.\n\nWhat happens is that the registers for each column and then a refresh is triggered by the 255 at the end.\n\nThe second method is to update each register for each column individually and then post a final refresh to command 0x0c (12).\n\n\n\n\n\n","env":[{"name":"ERED_PENDING","value":"true","type":"bool"}]},{"id":"6f6b01553f6061c3","type":"group","z":"ea246f68766c8632","name":"Brightness","style":{"label":true},"nodes":["5e498f7e29aa754f","144cf63c177d64f4","1f866028820b53fa","8662be65eb133196","cb4594372a83366d","033441ba25509e7e","4b9601b68611731a","ddca87f62cd9158f","28770c6122abd3d1","ca1f9cea337fb6e5","a545aaef42d46533","2104add73744bac6","c2093cc91f0b28c6","9ad1562a731cb474","caead6377db82c6a","46f74312075479a6","9815c974fdfaf75e","f944407319193678","754d1372a1183e49","b43c81102620c6c7","cd89c80564ab4ef7","5e84fc893816c5b6"],"x":446,"y":2416,"w":646.5,"h":590},{"id":"d652d4252503fe67","type":"group","z":"ea246f68766c8632","name":"mode must be 3 - 5x11 matrix LED","style":{"label":true},"nodes":["cc3d51d76f7179f1","bfcc911c0fb1f030","3f86b15127dfcb42","228a0977a6c5031f","6b92d7b66993f06c","1e4f2a41918e023e","f93c334edfe2ffb2","e331b9804652a86d","e808a9451f2f8e36","2db3fca5e3af2279"],"x":515.3333435058594,"y":1776,"w":424,"h":481},{"id":"252d0c854e93e325","type":"junction","z":"ea246f68766c8632","x":369.21718740463257,"y":1175.2594797611237,"wires":[["a3cb936ea320febb"]]},{"id":"c1690fade020696d","type":"inject","z":"ea246f68766c8632","name":"start animation","props":[{"p":"col1","v":"0b00001","vt":"num"},{"p":"col2","v":"0b00011","vt":"num"},{"p":"col3","v":"0b00111","vt":"num"},{"p":"col4","v":"0b01111","vt":"num"},{"p":"col5","v":"0b11111","vt":"num"},{"p":"col6","v":"0b11111","vt":"num"},{"p":"col7","v":"0b01111","vt":"num"},{"p":"col8","v":"0b00111","vt":"num"},{"p":"col9","v":"0b00011","vt":"num"},{"p":"col10","v":"0b00001","vt":"num"},{"p":"col11","v":"0b01010","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\t    $$.col1,\t    $$.col2,\t    $$.col3,\t    $$.col4,\t    $$.col5,\t    $$.col6,\t    $$.col7,\t    $$.col8,\t    $$.col9,\t    $$.col10,\t    $$.col11,\t    255\t]","payloadType":"jsonata","x":393.6666564941406,"y":304.6666622161865,"wires":[["a3cb936ea320febb"]]},{"id":"b5040f772accefe1","type":"i2c out","z":"ea246f68766c8632","name":"pixel","busno":"1","address":"96","command":"1","payload":"payload","payloadType":"msg","count":"12","x":1589.333209991455,"y":414.6666622161865,"wires":[[]]},{"id":"5e498f7e29aa754f","type":"i2c out","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"brightness","busno":"1","address":"96","command":"25","payload":"payload","payloadType":"msg","count":"1","x":772,"y":2693,"wires":[[]]},{"id":"144cf63c177d64f4","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":542,"y":2539.625,"wires":[["5e498f7e29aa754f"]]},{"id":"1f866028820b53fa","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":542,"y":2598.25,"wires":[["5e498f7e29aa754f"]]},{"id":"8662be65eb133196","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":542,"y":2481,"wires":[["5e498f7e29aa754f"]]},{"id":"cb4594372a83366d","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":542,"y":2656.875,"wires":[["5e498f7e29aa754f"]]},{"id":"033441ba25509e7e","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":542,"y":2715.5,"wires":[["5e498f7e29aa754f"]]},{"id":"4b9601b68611731a","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":542,"y":2774.125,"wires":[["5e498f7e29aa754f"]]},{"id":"ddca87f62cd9158f","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"6","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":542,"y":2832.75,"wires":[["5e498f7e29aa754f"]]},{"id":"28770c6122abd3d1","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"7","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":542,"y":2891.375,"wires":[["5e498f7e29aa754f"]]},{"id":"ca1f9cea337fb6e5","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":542,"y":2950,"wires":[["5e498f7e29aa754f"]]},{"id":"a545aaef42d46533","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"9","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9","payloadType":"num","x":702.5,"y":2965,"wires":[["5e498f7e29aa754f"]]},{"id":"2104add73744bac6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":812.5,"y":2939,"wires":[["5e498f7e29aa754f"]]},{"id":"c2093cc91f0b28c6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"11","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":888.5,"y":2890,"wires":[["5e498f7e29aa754f"]]},{"id":"9ad1562a731cb474","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"12","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":950.5,"y":2842,"wires":[["5e498f7e29aa754f"]]},{"id":"caead6377db82c6a","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"13","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13","payloadType":"num","x":996.5,"y":2793,"wires":[["5e498f7e29aa754f"]]},{"id":"46f74312075479a6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"14","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":1016.5,"y":2737,"wires":[["5e498f7e29aa754f"]]},{"id":"9815c974fdfaf75e","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"15","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":1000.5,"y":2678,"wires":[["5e498f7e29aa754f"]]},{"id":"f944407319193678","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"16","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"16","payloadType":"num","x":966.5,"y":2618,"wires":[["5e498f7e29aa754f"]]},{"id":"754d1372a1183e49","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"17","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":900.5,"y":2574,"wires":[["5e498f7e29aa754f"]]},{"id":"b43c81102620c6c7","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"18","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":834.5,"y":2536,"wires":[["5e498f7e29aa754f"]]},{"id":"cd89c80564ab4ef7","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"19","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"19","payloadType":"num","x":769.5,"y":2495,"wires":[["5e498f7e29aa754f"]]},{"id":"5e84fc893816c5b6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"20","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":712.5,"y":2457,"wires":[["5e498f7e29aa754f"]]},{"id":"cc3d51d76f7179f1","type":"i2c out","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"mode","busno":"1","address":"96","command":"0","payload":"payload","payloadType":"msg","count":"1","x":863.3333435058594,"y":2017,"wires":[[]]},{"id":"bfcc911c0fb1f030","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":611.3333435058594,"y":1866.875,"wires":[["cc3d51d76f7179f1"]]},{"id":"3f86b15127dfcb42","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":611.3333435058594,"y":1916.75,"wires":[["cc3d51d76f7179f1"]]},{"id":"228a0977a6c5031f","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":611.3333435058594,"y":1817,"wires":[["cc3d51d76f7179f1"]]},{"id":"6b92d7b66993f06c","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":611.3333435058594,"y":1966.625,"wires":[["cc3d51d76f7179f1"]]},{"id":"1e4f2a41918e023e","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":611.3333435058594,"y":2016.5,"wires":[["cc3d51d76f7179f1"]]},{"id":"f93c334edfe2ffb2","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":611.3333435058594,"y":2066.375,"wires":[["cc3d51d76f7179f1"]]},{"id":"e331b9804652a86d","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"6","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":611.3333435058594,"y":2116.25,"wires":[["cc3d51d76f7179f1"]]},{"id":"e808a9451f2f8e36","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"7","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":611.3333435058594,"y":2166.125,"wires":[["cc3d51d76f7179f1"]]},{"id":"2db3fca5e3af2279","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":611.3333435058594,"y":2216,"wires":[["cc3d51d76f7179f1"]]},{"id":"0a832457090c9e2d","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b01010","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":414.6666622161865,"wires":[["f492979c9521f221","e91bce79740bce41"]]},{"id":"f492979c9521f221","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    $$.col1,\t    $$.col2,\t    $$.col3,\t    $$.col4,\t    $$.col5,\t    $$.col6,\t    $$.col7,\t    $$.col8,\t    $$.col9,\t    $$.col10,\t    $$.col11,\t    255\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1151.666618347168,"y":712.0000766118367,"wires":[["b5040f772accefe1"]]},{"id":"60503e6d9212fc48","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00001","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":480.5666622161865,"wires":[["f492979c9521f221","0759067c8e42cd76"]]},{"id":"a3cb936ea320febb","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":414.6666622161865,"wires":[["0a832457090c9e2d"]]},{"id":"e91bce79740bce41","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":480.46666221618653,"wires":[["60503e6d9212fc48"]]},{"id":"0759067c8e42cd76","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":546.2666622161865,"wires":[["99282a8109529365"]]},{"id":"930f6625e7f4be52","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":612.0666622161865,"wires":[["c0d285bb85c5c66b"]]},{"id":"b2b818629bdc79e5","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":677.8666622161865,"wires":[["78f1fb5d18b8719a"]]},{"id":"9356caea65027041","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":743.6666622161864,"wires":[["f1e07429f93982c8"]]},{"id":"891021191104e876","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":809.4666622161864,"wires":[["36b22b26b73cb9ba"]]},{"id":"99282a8109529365","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00011","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":546.4666622161865,"wires":[["930f6625e7f4be52","f492979c9521f221"]]},{"id":"c0d285bb85c5c66b","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":612.3666622161865,"wires":[["b2b818629bdc79e5","f492979c9521f221"]]},{"id":"78f1fb5d18b8719a","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b01111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":678.2666622161864,"wires":[["9356caea65027041","f492979c9521f221"]]},{"id":"f1e07429f93982c8","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b11111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":744.1666622161864,"wires":[["891021191104e876","f492979c9521f221"]]},{"id":"36b22b26b73cb9ba","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b11111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":810.0666622161864,"wires":[["f492979c9521f221","306b173e87d95d08"]]},{"id":"306b173e87d95d08","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":875.2666622161863,"wires":[["e570827c4a6d31a2"]]},{"id":"e570827c4a6d31a2","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b01111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":875.9666622161864,"wires":[["f492979c9521f221","b68e2bf5fd524d8f"]]},{"id":"c336c7417e868191","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":941.8666622161863,"wires":[["f492979c9521f221","f0dd5fe4fa08c1c1"]]},{"id":"f637e7435d97be17","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00011","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":1007.7666622161863,"wires":[["f492979c9521f221","5969ec7dca4f93a8"]]},{"id":"cfaceb6e5df0442e","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00001","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.6666564941406,"y":1073.6666622161865,"wires":[["f492979c9521f221","252d0c854e93e325"]]},{"id":"b68e2bf5fd524d8f","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":941.0666622161863,"wires":[["c336c7417e868191"]]},{"id":"f0dd5fe4fa08c1c1","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":1006.8666622161862,"wires":[["f637e7435d97be17"]]},{"id":"5969ec7dca4f93a8","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":608.6666564941406,"y":1072.6666622161865,"wires":[["cfaceb6e5df0442e"]]},{"id":"4e5896f9d2ce66c1","type":"inject","z":"ea246f68766c8632","name":"all off","props":[{"p":"col1","v":"0b00000","vt":"num"},{"p":"col2","v":"0b00000","vt":"num"},{"p":"col3","v":"0b00000","vt":"num"},{"p":"col4","v":"0b00000","vt":"num"},{"p":"col5","v":"0b00000","vt":"num"},{"p":"col6","v":"0b00000","vt":"num"},{"p":"col7","v":"0b00000","vt":"num"},{"p":"col8","v":"0b00000","vt":"num"},{"p":"col9","v":"0b00000","vt":"num"},{"p":"col10","v":"0b00000","vt":"num"},{"p":"col11","v":"0b00000","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\t    $$.col1,\t    $$.col2,\t    $$.col3,\t    $$.col4,\t    $$.col5,\t    $$.col6,\t    $$.col7,\t    $$.col8,\t    $$.col9,\t    $$.col10,\t    $$.col11,\t    255\t]","payloadType":"jsonata","x":1286.9999160766602,"y":116.33333047231031,"wires":[["b5040f772accefe1"]]},{"id":"0269c3af8764c2c1","type":"inject","z":"ea246f68766c8632","name":"all on","props":[{"p":"col1","v":"0b11111","vt":"num"},{"p":"col2","v":"0b11111","vt":"num"},{"p":"col3","v":"0b11111","vt":"num"},{"p":"col4","v":"0b11111","vt":"num"},{"p":"col5","v":"0b11111","vt":"num"},{"p":"col6","v":"0b11111","vt":"num"},{"p":"col7","v":"0b11111","vt":"num"},{"p":"col8","v":"0b11111","vt":"num"},{"p":"col9","v":"0b11111","vt":"num"},{"p":"col10","v":"0b11111","vt":"num"},{"p":"col11","v":"0b11111","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\t    $$.col1,\t    $$.col2,\t    $$.col3,\t    $$.col4,\t    $$.col5,\t    $$.col6,\t    $$.col7,\t    $$.col8,\t    $$.col9,\t    $$.col10,\t    $$.col11,\t    255\t]","payloadType":"jsonata","x":1234.333267211914,"y":414.6666622161865,"wires":[["b5040f772accefe1"]]},{"id":"1eba9159f68dfcba","type":"i2c out","z":"ea246f68766c8632","name":"command will be overwritten","busno":"1","address":"96","command":"11","payload":"payload","payloadType":"msg","count":"12","x":2944.9997329711914,"y":574.9999618530273,"wires":[[]]},{"id":"d5e0fbde2fc060f5","type":"change","z":"ea246f68766c8632","name":"column 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":788.3333377838135,"wires":[["1eba9159f68dfcba","a9b8b02c9fc0862a"]]},{"id":"5a62e56105aa9412","type":"inject","z":"ea246f68766c8632","name":"","props":[{"p":"counter","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1976.6663970947266,"y":395.0000419616699,"wires":[["d5e0fbde2fc060f5"]]},{"id":"a9b8b02c9fc0862a","type":"change","z":"ea246f68766c8632","name":"column 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":845.8333377838135,"wires":[["2c60506bb4485732","1eba9159f68dfcba"]]},{"id":"2c60506bb4485732","type":"change","z":"ea246f68766c8632","name":"column 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":903.3333377838135,"wires":[["746c81ff066d1f10","1eba9159f68dfcba"]]},{"id":"746c81ff066d1f10","type":"change","z":"ea246f68766c8632","name":"column 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":960.8333377838135,"wires":[["276ba6b95f47049d","1eba9159f68dfcba"]]},{"id":"276ba6b95f47049d","type":"change","z":"ea246f68766c8632","name":"column 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":1018.3333377838135,"wires":[["8fbb2c3d0a9f4e8e","1eba9159f68dfcba"]]},{"id":"8fbb2c3d0a9f4e8e","type":"change","z":"ea246f68766c8632","name":"column 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":1075.8333377838135,"wires":[["9eae193811bec902","1eba9159f68dfcba"]]},{"id":"9eae193811bec902","type":"change","z":"ea246f68766c8632","name":"column 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":1133.3333377838135,"wires":[["334da179bb657c5c","1eba9159f68dfcba"]]},{"id":"334da179bb657c5c","type":"change","z":"ea246f68766c8632","name":"column 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":1190.8333377838135,"wires":[["a34574b8f655877e","1eba9159f68dfcba"]]},{"id":"a34574b8f655877e","type":"change","z":"ea246f68766c8632","name":"column 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2318.3334579467773,"y":1248.3333377838135,"wires":[["3baf166507b4f32e","1eba9159f68dfcba"]]},{"id":"3baf166507b4f32e","type":"change","z":"ea246f68766c8632","name":"column 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2328.3334579467773,"y":1305.8333377838135,"wires":[["da6e47853afdbbd8","1eba9159f68dfcba"]]},{"id":"da6e47853afdbbd8","type":"change","z":"ea246f68766c8632","name":"column 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2328.3334579467773,"y":1363.3333377838135,"wires":[["1eba9159f68dfcba","6aa75ba395fa7951"]]},{"id":"6aa75ba395fa7951","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2675.000030517578,"y":1354.9999294281006,"wires":[["f4b666b35315c0d3","3d435815ee43cc11"]]},{"id":"f4b666b35315c0d3","type":"change","z":"ea246f68766c8632","name":"update matrix","rules":[{"t":"set","p":"command","pt":"msg","to":"0x0c","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2681.6671447753906,"y":1309.9999885559082,"wires":[["1eba9159f68dfcba"]]},{"id":"e5cf371d5013763c","type":"i2c out","z":"ea246f68766c8632","name":"command will be overwritten","busno":"1","address":"96","command":"11","payload":"payload","payloadType":"msg","count":"12","x":3330,"y":1325,"wires":[[]]},{"id":"3d435815ee43cc11","type":"change","z":"ea246f68766c8632","name":"column 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1538.3333759307861,"wires":[["e5cf371d5013763c","b84d47cd0f22df1f"]]},{"id":"b84d47cd0f22df1f","type":"change","z":"ea246f68766c8632","name":"column 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1595.8333759307861,"wires":[["7cf9a88cf856422f","e5cf371d5013763c"]]},{"id":"7cf9a88cf856422f","type":"change","z":"ea246f68766c8632","name":"column 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1653.3333759307861,"wires":[["a9bf25e03e47043e","e5cf371d5013763c"]]},{"id":"a9bf25e03e47043e","type":"change","z":"ea246f68766c8632","name":"column 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1710.8333759307861,"wires":[["b416bec2e40b27f4","e5cf371d5013763c"]]},{"id":"b416bec2e40b27f4","type":"change","z":"ea246f68766c8632","name":"column 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1768.3333759307861,"wires":[["b58b9187dd646c56","e5cf371d5013763c"]]},{"id":"b58b9187dd646c56","type":"change","z":"ea246f68766c8632","name":"column 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1825.8333759307861,"wires":[["bedd6c5e8442e0dc","e5cf371d5013763c"]]},{"id":"bedd6c5e8442e0dc","type":"change","z":"ea246f68766c8632","name":"column 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1883.3333759307861,"wires":[["da6a6c9e3e179901","e5cf371d5013763c"]]},{"id":"da6a6c9e3e179901","type":"change","z":"ea246f68766c8632","name":"column 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1940.8333759307861,"wires":[["228cead6103f4312","e5cf371d5013763c"]]},{"id":"228cead6103f4312","type":"change","z":"ea246f68766c8632","name":"column 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2703.333724975586,"y":1998.3333759307861,"wires":[["51aa760d327cea59","e5cf371d5013763c"]]},{"id":"51aa760d327cea59","type":"change","z":"ea246f68766c8632","name":"column 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2713.333724975586,"y":2055.833375930786,"wires":[["e58aed94dbba044e","e5cf371d5013763c"]]},{"id":"e58aed94dbba044e","type":"change","z":"ea246f68766c8632","name":"column 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11110","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2713.333724975586,"y":2113.333375930786,"wires":[["e5cf371d5013763c","c06443dbabcaf82f"]]},{"id":"c06443dbabcaf82f","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3060.0002975463867,"y":2104.9999675750732,"wires":[["54107de1237e26a0","70fe1ee5e16b9ecc"]]},{"id":"54107de1237e26a0","type":"change","z":"ea246f68766c8632","name":"update matrix","rules":[{"t":"set","p":"command","pt":"msg","to":"0x0c","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3066.667411804199,"y":2060.000026702881,"wires":[["e5cf371d5013763c"]]},{"id":"64d27b0ef7997c88","type":"i2c out","z":"ea246f68766c8632","name":"command will be overwritten","busno":"1","address":"96","command":"11","payload":"payload","payloadType":"msg","count":"12","x":3710,"y":2000,"wires":[[]]},{"id":"70fe1ee5e16b9ecc","type":"change","z":"ea246f68766c8632","name":"column 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2213.333375930786,"wires":[["64d27b0ef7997c88","02e74d7bf5a9bb79"]]},{"id":"02e74d7bf5a9bb79","type":"change","z":"ea246f68766c8632","name":"column 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2270.833375930786,"wires":[["b1b25ad6d7b50f15","64d27b0ef7997c88"]]},{"id":"b1b25ad6d7b50f15","type":"change","z":"ea246f68766c8632","name":"column 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2328.333375930786,"wires":[["997cd77dca91de83","64d27b0ef7997c88"]]},{"id":"997cd77dca91de83","type":"change","z":"ea246f68766c8632","name":"column 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2385.833375930786,"wires":[["1725d635bb7b8c40","64d27b0ef7997c88"]]},{"id":"1725d635bb7b8c40","type":"change","z":"ea246f68766c8632","name":"column 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2443.333375930786,"wires":[["090bab6ceb94f76b","64d27b0ef7997c88"]]},{"id":"090bab6ceb94f76b","type":"change","z":"ea246f68766c8632","name":"column 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2500.833375930786,"wires":[["16cf85d93b133df3","64d27b0ef7997c88"]]},{"id":"16cf85d93b133df3","type":"change","z":"ea246f68766c8632","name":"column 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2558.333375930786,"wires":[["cf4f5f594dd7623c","64d27b0ef7997c88"]]},{"id":"cf4f5f594dd7623c","type":"change","z":"ea246f68766c8632","name":"column 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2615.833375930786,"wires":[["33818c84bba3a56a","64d27b0ef7997c88"]]},{"id":"33818c84bba3a56a","type":"change","z":"ea246f68766c8632","name":"column 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3083.333724975586,"y":2673.333375930786,"wires":[["c95b1ca9a54495cf","64d27b0ef7997c88"]]},{"id":"c95b1ca9a54495cf","type":"change","z":"ea246f68766c8632","name":"column 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3093.333724975586,"y":2730.833375930786,"wires":[["ac8c685a093adb19","64d27b0ef7997c88"]]},{"id":"ac8c685a093adb19","type":"change","z":"ea246f68766c8632","name":"column 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11100","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3093.333724975586,"y":2788.333375930786,"wires":[["64d27b0ef7997c88","69dc27248e238e81"]]},{"id":"69dc27248e238e81","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3440.0002975463867,"y":2779.9999675750732,"wires":[["cb9f88d4610720b8","36819a145a5cc9f7"]]},{"id":"cb9f88d4610720b8","type":"change","z":"ea246f68766c8632","name":"update matrix","rules":[{"t":"set","p":"command","pt":"msg","to":"0x0c","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3446.667411804199,"y":2735.000026702881,"wires":[["64d27b0ef7997c88"]]},{"id":"2207be791095d2a9","type":"i2c out","z":"ea246f68766c8632","name":"command will be overwritten","busno":"1","address":"96","command":"11","payload":"payload","payloadType":"msg","count":"12","x":4105,"y":2700,"wires":[[]]},{"id":"36819a145a5cc9f7","type":"change","z":"ea246f68766c8632","name":"column 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":2913.333375930786,"wires":[["2207be791095d2a9","43af3e538a9255f0"]]},{"id":"43af3e538a9255f0","type":"change","z":"ea246f68766c8632","name":"column 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":2970.833375930786,"wires":[["7ef3603c5fbe01a0","2207be791095d2a9"]]},{"id":"7ef3603c5fbe01a0","type":"change","z":"ea246f68766c8632","name":"column 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3028.333375930786,"wires":[["0ee4ab5600917e6f","2207be791095d2a9"]]},{"id":"0ee4ab5600917e6f","type":"change","z":"ea246f68766c8632","name":"column 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3085.833375930786,"wires":[["3dda1f80c0a15744","2207be791095d2a9"]]},{"id":"3dda1f80c0a15744","type":"change","z":"ea246f68766c8632","name":"column 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3143.333375930786,"wires":[["928ca607616e2df4","2207be791095d2a9"]]},{"id":"928ca607616e2df4","type":"change","z":"ea246f68766c8632","name":"column 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3200.833375930786,"wires":[["860eb4c6d2df62aa","2207be791095d2a9"]]},{"id":"860eb4c6d2df62aa","type":"change","z":"ea246f68766c8632","name":"column 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3258.333375930786,"wires":[["e05588af290ec608","2207be791095d2a9"]]},{"id":"e05588af290ec608","type":"change","z":"ea246f68766c8632","name":"column 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3315.833375930786,"wires":[["57470efaf0998f9a","2207be791095d2a9"]]},{"id":"57470efaf0998f9a","type":"change","z":"ea246f68766c8632","name":"column 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3478.333724975586,"y":3373.333375930786,"wires":[["9bfa3fb0659817ee","2207be791095d2a9"]]},{"id":"9bfa3fb0659817ee","type":"change","z":"ea246f68766c8632","name":"column 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3488.333724975586,"y":3430.833375930786,"wires":[["4bc3203237172507","2207be791095d2a9"]]},{"id":"4bc3203237172507","type":"change","z":"ea246f68766c8632","name":"column 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b11000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3488.333724975586,"y":3488.333375930786,"wires":[["2207be791095d2a9","c77134513cf4ec59"]]},{"id":"c77134513cf4ec59","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3835.0002975463867,"y":3479.9999675750732,"wires":[["d97fde08ee6b111d","7cc2192c83f02242"]]},{"id":"d97fde08ee6b111d","type":"change","z":"ea246f68766c8632","name":"update matrix","rules":[{"t":"set","p":"command","pt":"msg","to":"0x0c","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3841.667411804199,"y":3435.000026702881,"wires":[["2207be791095d2a9"]]},{"id":"192f66de6c878bee","type":"i2c out","z":"ea246f68766c8632","name":"command will be overwritten","busno":"1","address":"96","command":"11","payload":"payload","payloadType":"msg","count":"12","x":4500,"y":3395,"wires":[[]]},{"id":"7cc2192c83f02242","type":"change","z":"ea246f68766c8632","name":"column 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3608.333375930786,"wires":[["192f66de6c878bee","774fbd7a4e7ada5a"]]},{"id":"774fbd7a4e7ada5a","type":"change","z":"ea246f68766c8632","name":"column 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3665.833375930786,"wires":[["27d816aeead811f7","192f66de6c878bee"]]},{"id":"27d816aeead811f7","type":"change","z":"ea246f68766c8632","name":"column 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3723.333375930786,"wires":[["deb51ea8fd5cb697","192f66de6c878bee"]]},{"id":"deb51ea8fd5cb697","type":"change","z":"ea246f68766c8632","name":"column 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3780.833375930786,"wires":[["193af7dadf039031","192f66de6c878bee"]]},{"id":"193af7dadf039031","type":"change","z":"ea246f68766c8632","name":"column 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3838.333375930786,"wires":[["b072c072141420a3","192f66de6c878bee"]]},{"id":"b072c072141420a3","type":"change","z":"ea246f68766c8632","name":"column 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3895.833375930786,"wires":[["b0663380f9939f43","192f66de6c878bee"]]},{"id":"b0663380f9939f43","type":"change","z":"ea246f68766c8632","name":"column 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":3953.333375930786,"wires":[["1e15ef7f35d06c32","192f66de6c878bee"]]},{"id":"1e15ef7f35d06c32","type":"change","z":"ea246f68766c8632","name":"column 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":4010.833375930786,"wires":[["2bc3bed8ebe290c3","192f66de6c878bee"]]},{"id":"2bc3bed8ebe290c3","type":"change","z":"ea246f68766c8632","name":"column 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3873.333724975586,"y":4068.333375930786,"wires":[["c797f5630cabad4a","192f66de6c878bee"]]},{"id":"c797f5630cabad4a","type":"change","z":"ea246f68766c8632","name":"column 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3883.333724975586,"y":4125.833375930786,"wires":[["fe2a28b06452e271","192f66de6c878bee"]]},{"id":"fe2a28b06452e271","type":"change","z":"ea246f68766c8632","name":"column 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b10000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3883.333724975586,"y":4183.333375930786,"wires":[["192f66de6c878bee","e0f659e559cc9632"]]},{"id":"e0f659e559cc9632","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4230.000297546387,"y":4174.999967575073,"wires":[["6ced0f02a217ab7b","df492b4292249be1"]]},{"id":"6ced0f02a217ab7b","type":"change","z":"ea246f68766c8632","name":"update matrix","rules":[{"t":"set","p":"command","pt":"msg","to":"0x0c","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4236.667411804199,"y":4130.000026702881,"wires":[["192f66de6c878bee"]]},{"id":"614f68f8e21c9cf1","type":"i2c out","z":"ea246f68766c8632","name":"command will be overwritten","busno":"1","address":"96","command":"11","payload":"payload","payloadType":"msg","count":"12","x":4884.99942779541,"y":4064.99969291687,"wires":[[]]},{"id":"df492b4292249be1","type":"change","z":"ea246f68766c8632","name":"column 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4278.333068847656,"wires":[["614f68f8e21c9cf1","729dd0536350e868"]]},{"id":"729dd0536350e868","type":"change","z":"ea246f68766c8632","name":"column 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4335.833068847656,"wires":[["20a7c91f7e81bcb4","614f68f8e21c9cf1"]]},{"id":"20a7c91f7e81bcb4","type":"change","z":"ea246f68766c8632","name":"column 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4393.333068847656,"wires":[["6d38af8775be600b","614f68f8e21c9cf1"]]},{"id":"6d38af8775be600b","type":"change","z":"ea246f68766c8632","name":"column 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4450.833068847656,"wires":[["ac7d8bda30ff58cb","614f68f8e21c9cf1"]]},{"id":"ac7d8bda30ff58cb","type":"change","z":"ea246f68766c8632","name":"column 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4508.333068847656,"wires":[["d7bb61ee658f02fa","614f68f8e21c9cf1"]]},{"id":"d7bb61ee658f02fa","type":"change","z":"ea246f68766c8632","name":"column 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4565.833068847656,"wires":[["c2c5aca74bf8505c","614f68f8e21c9cf1"]]},{"id":"c2c5aca74bf8505c","type":"change","z":"ea246f68766c8632","name":"column 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4623.333068847656,"wires":[["bf9eeeed907f49dc","614f68f8e21c9cf1"]]},{"id":"bf9eeeed907f49dc","type":"change","z":"ea246f68766c8632","name":"column 8","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4680.833068847656,"wires":[["13c887899390e533","614f68f8e21c9cf1"]]},{"id":"13c887899390e533","type":"change","z":"ea246f68766c8632","name":"column 9","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4258.333152770996,"y":4738.333068847656,"wires":[["f1fe9f8bd12b7a75","614f68f8e21c9cf1"]]},{"id":"f1fe9f8bd12b7a75","type":"change","z":"ea246f68766c8632","name":"column 10","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4268.333152770996,"y":4795.833068847656,"wires":[["ce4621a9330efcd0","614f68f8e21c9cf1"]]},{"id":"ce4621a9330efcd0","type":"change","z":"ea246f68766c8632","name":"column 11","rules":[{"t":"set","p":"payload","pt":"msg","to":"0b00000","tot":"num"},{"t":"set","p":"command","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4268.333152770996,"y":4853.333068847656,"wires":[["614f68f8e21c9cf1","21fd7e01fe9cbe2f"]]},{"id":"21fd7e01fe9cbe2f","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4614.999725341797,"y":4844.999660491943,"wires":[["56e766e40716d171","88d6e1ce1342ab6d"]]},{"id":"56e766e40716d171","type":"change","z":"ea246f68766c8632","name":"update matrix","rules":[{"t":"set","p":"command","pt":"msg","to":"0x0c","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4621.666839599609,"y":4799.999719619751,"wires":[["614f68f8e21c9cf1"]]},{"id":"88d6e1ce1342ab6d","type":"link out","z":"ea246f68766c8632","name":"link out 1","mode":"link","links":["75bfebcd945f594f"],"x":4746,"y":727.5,"wires":[]},{"id":"75bfebcd945f594f","type":"link in","z":"ea246f68766c8632","name":"loop again","links":["88d6e1ce1342ab6d"],"x":2070,"y":790.5,"wires":[["d5e0fbde2fc060f5"]]}]