priv/testflows/ea246f68766c8632/flows.json
[{"id":"ea246f68766c8632","type":"tab","label":"[I2C] controll scrollPhat board","disabled":false,"info":"## Flow for controlling a scrollPhat board\n\n","env":[{"name":"ERED_PENDING","value":"true","type":"bool"}]},{"id":"6f6b01553f6061c3","type":"group","z":"ea246f68766c8632","name":"Brightness","style":{"label":true},"nodes":["5e498f7e29aa754f","144cf63c177d64f4","1f866028820b53fa","8662be65eb133196","cb4594372a83366d","033441ba25509e7e","4b9601b68611731a","ddca87f62cd9158f","28770c6122abd3d1","ca1f9cea337fb6e5","a545aaef42d46533","2104add73744bac6","c2093cc91f0b28c6","9ad1562a731cb474","caead6377db82c6a","46f74312075479a6","9815c974fdfaf75e","f944407319193678","754d1372a1183e49","b43c81102620c6c7","cd89c80564ab4ef7","5e84fc893816c5b6"],"x":736,"y":1291,"w":646.5,"h":590},{"id":"d652d4252503fe67","type":"group","z":"ea246f68766c8632","name":"mode must be 3","style":{"label":true},"nodes":["cc3d51d76f7179f1","bfcc911c0fb1f030","3f86b15127dfcb42","228a0977a6c5031f","6b92d7b66993f06c","1e4f2a41918e023e","f93c334edfe2ffb2","e331b9804652a86d","e808a9451f2f8e36","2db3fca5e3af2279"],"x":262,"y":1541,"w":424,"h":481},{"id":"252d0c854e93e325","type":"junction","z":"ea246f68766c8632","x":130.1324429512024,"y":1167.2420077323914,"wires":[["a3cb936ea320febb"]]},{"id":"07549a07c1ed8e1c","type":"inject","z":"ea246f68766c8632","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[21,23,123,21,23,123,21,23,123,34,12,255]","payloadType":"json","x":942,"y":159,"wires":[["4f324856fd1d8f40"]]},{"id":"4f324856fd1d8f40","type":"i2c out","z":"ea246f68766c8632","name":"pixel","busno":"1","address":"96","command":"1","payload":"payload","payloadType":"msg","count":"12","x":906,"y":236.5,"wires":[[]]},{"id":"c1690fade020696d","type":"inject","z":"ea246f68766c8632","name":"","props":[{"p":"col1","v":"0b00001","vt":"num"},{"p":"col2","v":"0b00011","vt":"num"},{"p":"col3","v":"0b00111","vt":"num"},{"p":"col4","v":"0b01111","vt":"num"},{"p":"col5","v":"0b11111","vt":"num"},{"p":"col6","v":"0b11111","vt":"num"},{"p":"col7","v":"0b01111","vt":"num"},{"p":"col8","v":"0b00111","vt":"num"},{"p":"col9","v":"0b00011","vt":"num"},{"p":"col10","v":"0b00001","vt":"num"},{"p":"col11","v":"0b01010","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\t    $$.col1,\t    $$.col2,\t    $$.col3,\t    $$.col4,\t    $$.col5,\t    $$.col6,\t    $$.col7,\t    $$.col8,\t    $$.col9,\t    $$.col10,\t    $$.col11,\t    255\t]","payloadType":"jsonata","x":122,"y":301,"wires":[["a3cb936ea320febb"]]},{"id":"b5040f772accefe1","type":"i2c out","z":"ea246f68766c8632","name":"pixel","busno":"1","address":"96","command":"1","payload":"payload","payloadType":"msg","count":"12","x":991,"y":404.5,"wires":[[]]},{"id":"5e498f7e29aa754f","type":"i2c out","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"brightness","busno":"1","address":"96","command":"25","payload":"payload","payloadType":"msg","count":"1","x":1062,"y":1568,"wires":[[]]},{"id":"144cf63c177d64f4","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":832,"y":1414.625,"wires":[["5e498f7e29aa754f"]]},{"id":"1f866028820b53fa","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":832,"y":1473.25,"wires":[["5e498f7e29aa754f"]]},{"id":"8662be65eb133196","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":832,"y":1356,"wires":[["5e498f7e29aa754f"]]},{"id":"cb4594372a83366d","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":832,"y":1531.875,"wires":[["5e498f7e29aa754f"]]},{"id":"033441ba25509e7e","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":832,"y":1590.5,"wires":[["5e498f7e29aa754f"]]},{"id":"4b9601b68611731a","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":832,"y":1649.125,"wires":[["5e498f7e29aa754f"]]},{"id":"ddca87f62cd9158f","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"6","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":832,"y":1707.75,"wires":[["5e498f7e29aa754f"]]},{"id":"28770c6122abd3d1","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"7","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":832,"y":1766.375,"wires":[["5e498f7e29aa754f"]]},{"id":"ca1f9cea337fb6e5","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":832,"y":1825,"wires":[["5e498f7e29aa754f"]]},{"id":"a545aaef42d46533","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"9","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9","payloadType":"num","x":992.5,"y":1840,"wires":[["5e498f7e29aa754f"]]},{"id":"2104add73744bac6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":1102.5,"y":1814,"wires":[["5e498f7e29aa754f"]]},{"id":"c2093cc91f0b28c6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"11","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":1178.5,"y":1765,"wires":[["5e498f7e29aa754f"]]},{"id":"9ad1562a731cb474","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"12","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":1240.5,"y":1717,"wires":[["5e498f7e29aa754f"]]},{"id":"caead6377db82c6a","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"13","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13","payloadType":"num","x":1286.5,"y":1668,"wires":[["5e498f7e29aa754f"]]},{"id":"46f74312075479a6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"14","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":1306.5,"y":1612,"wires":[["5e498f7e29aa754f"]]},{"id":"9815c974fdfaf75e","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"15","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":1290.5,"y":1553,"wires":[["5e498f7e29aa754f"]]},{"id":"f944407319193678","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"16","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"16","payloadType":"num","x":1256.5,"y":1493,"wires":[["5e498f7e29aa754f"]]},{"id":"754d1372a1183e49","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"17","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":1190.5,"y":1449,"wires":[["5e498f7e29aa754f"]]},{"id":"b43c81102620c6c7","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"18","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":1124.5,"y":1411,"wires":[["5e498f7e29aa754f"]]},{"id":"cd89c80564ab4ef7","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"19","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"19","payloadType":"num","x":1059.5,"y":1370,"wires":[["5e498f7e29aa754f"]]},{"id":"5e84fc893816c5b6","type":"inject","z":"ea246f68766c8632","g":"6f6b01553f6061c3","name":"20","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":1002.5,"y":1332,"wires":[["5e498f7e29aa754f"]]},{"id":"cc3d51d76f7179f1","type":"i2c out","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"mode","busno":"1","address":"96","command":"0","payload":"payload","payloadType":"msg","count":"1","x":610,"y":1782,"wires":[[]]},{"id":"bfcc911c0fb1f030","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":358,"y":1631.875,"wires":[["cc3d51d76f7179f1"]]},{"id":"3f86b15127dfcb42","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":358,"y":1681.75,"wires":[["cc3d51d76f7179f1"]]},{"id":"228a0977a6c5031f","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":358,"y":1582,"wires":[["cc3d51d76f7179f1"]]},{"id":"6b92d7b66993f06c","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":358,"y":1731.625,"wires":[["cc3d51d76f7179f1"]]},{"id":"1e4f2a41918e023e","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"4","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":358,"y":1781.5,"wires":[["cc3d51d76f7179f1"]]},{"id":"f93c334edfe2ffb2","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":358,"y":1831.375,"wires":[["cc3d51d76f7179f1"]]},{"id":"e331b9804652a86d","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"6","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":358,"y":1881.25,"wires":[["cc3d51d76f7179f1"]]},{"id":"e808a9451f2f8e36","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"7","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":358,"y":1931.125,"wires":[["cc3d51d76f7179f1"]]},{"id":"2db3fca5e3af2279","type":"inject","z":"ea246f68766c8632","g":"d652d4252503fe67","name":"8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":358,"y":1981,"wires":[["cc3d51d76f7179f1"]]},{"id":"0a832457090c9e2d","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b01010","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":408,"wires":[["f492979c9521f221","e91bce79740bce41"]]},{"id":"f492979c9521f221","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    $$.col1,\t    $$.col2,\t    $$.col3,\t    $$.col4,\t    $$.col5,\t    $$.col6,\t    $$.col7,\t    $$.col8,\t    $$.col9,\t    $$.col10,\t    $$.col11,\t    255\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":512,"wires":[["b5040f772accefe1"]]},{"id":"60503e6d9212fc48","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00001","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":473.9,"wires":[["f492979c9521f221","0759067c8e42cd76"]]},{"id":"a3cb936ea320febb","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":408,"wires":[["0a832457090c9e2d"]]},{"id":"e91bce79740bce41","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":473.8,"wires":[["60503e6d9212fc48"]]},{"id":"0759067c8e42cd76","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":539.6,"wires":[["99282a8109529365"]]},{"id":"930f6625e7f4be52","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":605.4,"wires":[["c0d285bb85c5c66b"]]},{"id":"b2b818629bdc79e5","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":671.1999999999999,"wires":[["78f1fb5d18b8719a"]]},{"id":"9356caea65027041","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":736.9999999999999,"wires":[["f1e07429f93982c8"]]},{"id":"891021191104e876","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":802.7999999999998,"wires":[["36b22b26b73cb9ba"]]},{"id":"99282a8109529365","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00011","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":539.8,"wires":[["930f6625e7f4be52","f492979c9521f221"]]},{"id":"c0d285bb85c5c66b","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":605.6999999999999,"wires":[["b2b818629bdc79e5","f492979c9521f221"]]},{"id":"78f1fb5d18b8719a","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b01111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":671.5999999999999,"wires":[["9356caea65027041","f492979c9521f221"]]},{"id":"f1e07429f93982c8","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b11111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":737.4999999999999,"wires":[["891021191104e876","f492979c9521f221"]]},{"id":"36b22b26b73cb9ba","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b11111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":803.3999999999999,"wires":[["f492979c9521f221","306b173e87d95d08"]]},{"id":"306b173e87d95d08","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":868.5999999999998,"wires":[["e570827c4a6d31a2"]]},{"id":"e570827c4a6d31a2","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b01111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":869.2999999999998,"wires":[["f492979c9521f221","b68e2bf5fd524d8f"]]},{"id":"c336c7417e868191","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00111","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":935.1999999999998,"wires":[["f492979c9521f221","f0dd5fe4fa08c1c1"]]},{"id":"f637e7435d97be17","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00011","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":1001.0999999999998,"wires":[["f492979c9521f221","5969ec7dca4f93a8"]]},{"id":"cfaceb6e5df0442e","type":"change","z":"ea246f68766c8632","name":"","rules":[{"t":"set","p":"col1","pt":"msg","to":"0b01010","tot":"num"},{"t":"set","p":"col2","pt":"msg","to":"0b00001","tot":"num"},{"t":"set","p":"col3","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col4","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col5","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col6","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col7","pt":"msg","to":"0b11111","tot":"num"},{"t":"set","p":"col8","pt":"msg","to":"0b01111","tot":"num"},{"t":"set","p":"col9","pt":"msg","to":"0b00111","tot":"num"},{"t":"set","p":"col10","pt":"msg","to":"0b00011","tot":"num"},{"t":"set","p":"col11","pt":"msg","to":"0b00001","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":527,"y":1067,"wires":[["f492979c9521f221","252d0c854e93e325"]]},{"id":"b68e2bf5fd524d8f","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":934.3999999999997,"wires":[["c336c7417e868191"]]},{"id":"f0dd5fe4fa08c1c1","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":1000.1999999999997,"wires":[["f637e7435d97be17"]]},{"id":"5969ec7dca4f93a8","type":"delay","z":"ea246f68766c8632","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":312,"y":1066,"wires":[["cfaceb6e5df0442e"]]}]