priv/testflows/218350f2e240a15d/flows.json
[{"id":"218350f2e240a15d","type":"tab","label":"[.jsonata] support $keys function","disabled":false,"info":"**$keys(object)**\n\nReturns an array containing the keys in the object. If the argument is an array of objects, then the array returned contains a de-duplicated list of all the keys in all of the objects.\n\n\n## **Do not relay on order.**\n\nMap keys in Erlang are not guaranteed to have an order. This is different to Javascript where order maintained as the order in which keys were defined.","env":[]},{"id":"0852960fabece442","type":"group","z":"218350f2e240a15d","name":"object example","style":{"label":true},"nodes":["997b45b60326c6ef","dc35e0c2c68e2323","44f70678ee0cfced"],"x":111,"y":242,"w":530,"h":396.5},{"id":"2bbf8badd6fceb95","type":"group","z":"218350f2e240a15d","name":"array of objects","style":{"label":true},"nodes":["964857c9a8d6b2fc","90080846adc9789e","8cd4d372d386aae9"],"x":808,"y":255,"w":530,"h":396.5},{"id":"997b45b60326c6ef","type":"inject","z":"218350f2e240a15d","g":"0852960fabece442","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hello\":\"world\",\"good\":\"bye\",\"cruel\":\"heaven\"}","payloadType":"json","x":207,"y":283,"wires":[["dc35e0c2c68e2323"]]},{"id":"dc35e0c2c68e2323","type":"change","z":"218350f2e240a15d","g":"0852960fabece442","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sort($keys($$.payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":338,"y":444,"wires":[["44f70678ee0cfced"]]},{"id":"44f70678ee0cfced","type":"ut-assert-values","z":"218350f2e240a15d","g":"0852960fabece442","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"[\"cruel\", \"good\", \"hello\" ]","tot":"json"}],"x":525,"y":597.5,"wires":[[]]},{"id":"964857c9a8d6b2fc","type":"inject","z":"218350f2e240a15d","g":"2bbf8badd6fceb95","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"hello\":\"world\",\"good\":\"bye\",\"cruel\":\"heaven\"},{\"hello\":\"world\",\"good\":\"bye\",\"cruel\":\"heaven\"},{\"twp\":\"world\",\"three\":\"bye\",\"four\":\"heaven\"}]","payloadType":"json","x":904,"y":296,"wires":[["90080846adc9789e"]]},{"id":"90080846adc9789e","type":"change","z":"218350f2e240a15d","g":"2bbf8badd6fceb95","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sort($keys($$.payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027,"y":461,"wires":[["8cd4d372d386aae9"]]},{"id":"8cd4d372d386aae9","type":"ut-assert-values","z":"218350f2e240a15d","g":"2bbf8badd6fceb95","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"[\"cruel\", \"four\", \"good\", \"hello\",   \"three\", \"twp\"]","tot":"json"}],"x":1222,"y":610.5,"wires":[[]]}]