priv/testflows/218350f2e240a15d/flows.json
[{"id":"218350f2e240a15d","type":"tab","label":"[.jsonata] support $keys function","disabled":false,"info":"","env":[]},{"id":"997b45b60326c6ef","type":"inject","z":"218350f2e240a15d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hello\":\"world\",\"good\":\"bye\",\"cruel\":\"heaven\"}","payloadType":"json","x":207,"y":283,"wires":[["dc35e0c2c68e2323"]]},{"id":"dc35e0c2c68e2323","type":"change","z":"218350f2e240a15d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$keys($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":338,"y":444,"wires":[["149c25b83c514b16"]]},{"id":"44f70678ee0cfced","type":"ut-assert-values","z":"218350f2e240a15d","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"should_be","tot":"msg"}],"x":525,"y":597.5,"wires":[[]]},{"id":"149c25b83c514b16","type":"function","z":"218350f2e240a15d","name":"function 1","func":"maps:put(should_be, [good,hello,cruel], Msg)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":614,"y":443.5,"wires":[["44f70678ee0cfced"]]}]