priv/testflows/5cd133958df17529/flows.json
[{"id":"5cd133958df17529","type":"tab","label":"[switch] catch all v. stop after first","disabled":false,"info":"","env":[]},{"id":"a7f3d3de35a512b5","type":"group","z":"5cd133958df17529","name":"check all","style":{"label":true},"nodes":["041581f5ce6c4d1c","1c7a3733ac149979","537ad89ad1ef4384","0d4076d2540febf7","6e801b84d79d65a5"],"x":129,"y":181,"w":775,"h":197},{"id":"757a2862cb2ba081","type":"group","z":"5cd133958df17529","name":"stop after match","style":{"label":true},"nodes":["376d87245e8ef9f2","1a5192d78b598a1a","5282e7e0a7d7f126","26d9b4eeb5d51317","bd960cd9285b3c2f","92415be94ab3d709","c0463fd487fb2164","bc284b16f1f20433"],"x":123,"y":588,"w":801,"h":352},{"id":"041581f5ce6c4d1c","type":"switch","z":"5cd133958df17529","g":"a7f3d3de35a512b5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"},{"t":"gt","v":"20","vt":"num"},{"t":"gt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":280,"wires":[["1c7a3733ac149979","d8b63a3e1f38cfdd"],["537ad89ad1ef4384","b1c8a61ee26b4cc9"],["0d4076d2540febf7","c00611a6a14b957a"]]},{"id":"1c7a3733ac149979","type":"debug","z":"5cd133958df17529","g":"a7f3d3de35a512b5","name":"> 10","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":808,"y":222,"wires":[]},{"id":"537ad89ad1ef4384","type":"debug","z":"5cd133958df17529","g":"a7f3d3de35a512b5","name":"> 20","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":808,"y":280,"wires":[]},{"id":"0d4076d2540febf7","type":"debug","z":"5cd133958df17529","g":"a7f3d3de35a512b5","name":"> 40","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":808,"y":337,"wires":[]},{"id":"6e801b84d79d65a5","type":"inject","z":"5cd133958df17529","g":"a7f3d3de35a512b5","name":"50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":225,"y":280,"wires":[["041581f5ce6c4d1c"]]},{"id":"376d87245e8ef9f2","type":"switch","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"},{"t":"gt","v":"20","vt":"num"},{"t":"gt","v":"40","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":542,"y":737,"wires":[["1a5192d78b598a1a","92415be94ab3d709"],["5282e7e0a7d7f126","bc284b16f1f20433"],["26d9b4eeb5d51317","c0463fd487fb2164"]]},{"id":"1a5192d78b598a1a","type":"debug","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"> 10","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":727,"y":671,"wires":[]},{"id":"5282e7e0a7d7f126","type":"debug","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"> 20","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":803,"y":743,"wires":[]},{"id":"26d9b4eeb5d51317","type":"debug","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"> 40","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":740,"y":899,"wires":[]},{"id":"bd960cd9285b3c2f","type":"inject","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":219,"y":754,"wires":[["376d87245e8ef9f2"]]},{"id":"92415be94ab3d709","type":"ut-assert-success","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"","x":721,"y":629,"wires":[]},{"id":"d8b63a3e1f38cfdd","type":"ut-assert-success","z":"5cd133958df17529","name":"","x":859,"y":417,"wires":[]},{"id":"b1c8a61ee26b4cc9","type":"ut-assert-success","z":"5cd133958df17529","name":"","x":880,"y":452,"wires":[]},{"id":"c00611a6a14b957a","type":"ut-assert-success","z":"5cd133958df17529","name":"","x":908,"y":490,"wires":[]},{"id":"c0463fd487fb2164","type":"ut-assert-failure","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"","x":763,"y":863,"wires":[]},{"id":"bc284b16f1f20433","type":"ut-assert-failure","z":"5cd133958df17529","g":"757a2862cb2ba081","name":"","x":828,"y":782,"wires":[]}]