priv/testflows/700c94899fdd3334/flows.json
[{"id":"700c94899fdd3334","type":"tab","label":"[debug] status message counter","disabled":false,"info":"","env":[]},{"id":"ec5287fe2b0f255b","type":"inject","z":"700c94899fdd3334","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":266,"y":562,"wires":[["d5f4066d0a2c803f"]]},{"id":"d5f4066d0a2c803f","type":"debug","z":"700c94899fdd3334","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":573,"y":333,"wires":[]},{"id":"805fcc499e5801e2","type":"ut-assert-status","z":"700c94899fdd3334","name":"","nodeid":"d5f4066d0a2c803f","content":"1","colour":"blue","shape":"ring","inverse":false,"x":701,"y":580.5,"wires":[]},{"id":"7a1fe79fe2b1d5b0","type":"ut-assert-debug","z":"700c94899fdd3334","name":"","nodeid":"d5f4066d0a2c803f","msgtype":"normal","inverse":false,"x":698,"y":520.5,"wires":[]}]