priv/testflows/27804627fb8f56bd/flows.json
[{"id":"27804627fb8f56bd","type":"tab","label":"[http] nodes should be able to handle requests","disabled":false,"info":"The http in node setups an endpoint and from the same flow, i.e. this one, the http request node makes a request to obtain the data that is stored in the template node.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"fc6d2a8652ac0a13","type":"http in","z":"27804627fb8f56bd","name":"","url":"/test/url","method":"get","upload":false,"swaggerDoc":"","x":198,"y":314,"wires":[["2f6d1e07ce823658","1e3a49fdb9c9a6a1"]]},{"id":"b35819f95cd15265","type":"http response","z":"27804627fb8f56bd","name":"","statusCode":"","headers":{},"x":762,"y":680,"wires":[]},{"id":"f360874ff1e46fc3","type":"debug","z":"27804627fb8f56bd","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":752,"y":314,"wires":[]},{"id":"2f6d1e07ce823658","type":"debug","z":"27804627fb8f56bd","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":498,"y":314,"wires":[]},{"id":"12559851e8165837","type":"inject","z":"27804627fb8f56bd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":189,"y":109,"wires":[["2b8834d322efe359"]]},{"id":"1e3a49fdb9c9a6a1","type":"template","z":"27804627fb8f56bd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hello world.\n\nAnd one more thing.\n\nThis is a test.\n\nBut should work.\n\n","output":"str","x":446,"y":520,"wires":[["f360874ff1e46fc3","b35819f95cd15265"]]},{"id":"93a68f36da4a0c36","type":"http request","z":"27804627fb8f56bd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/test/url","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":218,"wires":[["732ff0f8a0cdb2c9","4523a6b9eb51b72c"]]},{"id":"2b8834d322efe359","type":"delay","z":"27804627fb8f56bd","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":376.5,"y":169,"wires":[["93a68f36da4a0c36"]]},{"id":"732ff0f8a0cdb2c9","type":"ut-assert-values","z":"27804627fb8f56bd","name":"","rules":[{"p":"statusCode","pt":"msg","t":"eql","to":"200","tot":"num"},{"p":"payload","pt":"msg","t":"eql","to":"\"Hello world.\\n\\nAnd one more thing.\\n\\nThis is a test.\\n\\nBut should work.\\n\\n\"","tot":"json"}],"x":812,"y":122.5,"wires":[[]]},{"id":"4523a6b9eb51b72c","type":"debug","z":"27804627fb8f56bd","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":842.5,"y":219,"wires":[]}]